<ion-view view-title="服务列表" ng-controller="BusinessCountryListCtrl">
  <ion-header-bar align-title="搜索" class="bar-dark item-input-inset xkd-seArchbar">
    <span class="m-r-10" ng-click="topBack()">
    <i class="ion-chevron-left"></i>
    </span>
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索" ng-model="filterOptions">
    </label>
  </ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="business-warpbox bg-white overflow-hidden padding-5 m-t-10" ng-if="serviceTypeList.length>0">
			<div class="col-25" ng-if="$index < 12" ng-repeat="type in serviceTypeList track by $index">
				<a ng-click="refreshServiceListPage(type)">
					<img src="img/{{type.icon_name}}"/>
					<p class="fontsize-12 color-black">{{type.text}}</p>
				</a>
			</div>
		</div>

		<!-- 服务产品列表 -->
		<div class="m-t-15 b-t-none">
			<ion-list>
				<ion-item class="business-recommend" ng-repeat="service in serviceList" type="item-text-wrap" ng-click="toBusinessProduct(service)">
					<img ng-src="{{serviceThumbPath}}{{service.com_service_thumb_img}}" err-src="img/icon_empty_head.png">
					<span  class="color-white list-title fontsize-14" ng-if="service.inner_type">&nbsp;{{service.inner_type == 0 ? "自营" : "推荐"}}</span>
					<h2 class="m-t-5 padding-l-10">{{service.com_service_name}}</h2>
					<p class="m-t-5 padding-l-10 company-name" style="white-space: normal;">{{service.com_service_des}}</p>
					<p class="padding-l-10" ng-if="service.com_name" style="margin-top:3%">
						<i class="ion-android-bookmark fontsize-18" ></i>&nbsp;{{service.com_name}}
					</p>
					<p class="padding-l-10" ng-if="service.store_name">
						<i class="ion-location fontsize-18"></i>&nbsp;{{service.store_name}}
					</p>
				</ion-item>
			</ion-list>
		</div>

		<ion-infinite-scroll ng-if="!isEmptyData" on-infinite="getServiceDatas()" distance="10%"></ion-infinite-scroll>

		<div class="text-center" ng-show="isOverLoad">
			<img style="width: 800%;margin-top:50px" src="img/icon_empty_img.png"/>
		</div>
	</ion-content>
	<i ng-click="scrollTop()" class="ion-arrow-up-b back-top rounded-500 text-center" style="position:absolute;right:30px;bottom:80px;font-size:30px;"></i>
</ion-view>
