<ion-view view-title="服务" ng-controller="BusinessServiceCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.business">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title">服务类别</h1>
		<!-- <div class="buttons">
			<button class="button button-clear">
				<i class="ion-plus"></i>
			</button>
		</div> -->
	</ion-header-bar>

	<ion-content class="has-header">
		<div class="business-warpbox bg-white overflow-hidden padding-5">
			<div class="col-25" ng-repeat="type in serviceTypeList">
				<a ui-sref="businessServiceList({type_id:type.service_type_id})">
					<img ng-src="img/{{type.icon_name}}" err-src="img/icon_empty_head.png"/>
					<p class="fontsize-12">{{type.service_type_des}}</p>
				</a>
			</div>
		</div>
		<!-- 
		<div class="row business-warpbox">
			<div class="col col-25">
				<a ui-sref="businessServiceList">
					<img src="img/icon-sjfw.png"/>
					<p class="dark">社交服务</p>
				</a>
			</div>
			<div class="col col-25">
				<a ui-sref="businessServiceList">
					<img src="img/icon-jkfw.png"/>
					<p class="dark">健康服务</p>
				</a></div>
			<div class="col col-25">
				<a ui-sref="businessServiceList">
					<img src="img/icon-bzfw.png"/>
					<p class="dark">保障服务</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-xfp.png"/>
					<p class="dark">消费品</p>
				</a>
			</div>
		</div>
		
		<div class="row business-warpbox">
			<div class="col col-25">
				<a>
					<img src="img/icon-pptg.png"/>
					<p class="dark">品牌推广</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-qykb.png"/>
					<p class="dark">企业开办</p>
				</a></div>
			<div class="col col-25">
				<a>
					<img src="img/icon-zfzy.png"/>
					<p class="dark">政府资源</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-csff.png"/>
					<p class="dark">财税服务</p>
				</a>
			</div>
		</div>
		
		<div class="row business-warpbox">
			<div class="col col-25">
				<a>
					<img src="img/icon-zscq.png"/>
					<p class="dark">知识产权</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-rlzy.png"/>
					<p class="dark">人力资源</p>
				</a></div>
			<div class="col col-25">
				<a>
					<img src="img/icon-flfw.png"/>
					<p class="dark">法律服务</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-jsfw.png"/>
					<p class="dark">技术服务</p>
				</a>
			</div>
		</div>
		
		<div class="row business-warpbox">
			<div class="col col-25">
				<a>
					<img src="img/icon-gqrz.png"/>
					<p class="dark">股权融资</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-zqrz.png"/>
					<p class="dark">债券融资</p>
				</a></div>
			<div class="col col-25">
				<a>
					<img src="img/icon-rzgz.png"/>
					<p class="dark">软装改造</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-sj.png"/>
					<p class="dark">设计服务</p>
				</a>
			</div>
		</div>
		<div class="row business-warpbox">
			<div class="col col-25">
				<a>
					<img src="img/icon-bzkj.png"/>
					<p class="dark">标准办公区</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-dzkj.png"/>
					<p class="dark">定制办公区</p>
				</a></div>
			<div class="col col-25">
				<a>
					<img src="img/icon-kfbg.png"/>
					<p class="dark">咖啡办公区</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-dyy.png"/>
					<p class="dark">影音室预定</p>
				</a>
			</div>
		</div>
		<div class="row business-warpbox">
			<div class="col col-25">
				<a>
					<img src="img/icon-lyt.png"/>
					<p class="dark">路演厅预定</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-jsf.png"/>
					<p class="dark">健身房</p>
				</a></div>
			<div class="col col-25">
				<a>
					<img src="img/icon-tsg.png"/>
					<p class="dark">图书馆</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-xxq.png"/>
					<p class="dark">休闲区</p>
				</a>
			</div>
		</div>
		<div class="row business-warpbox">
			<div class="col col-25">
				<a>
					<img src="img/icon-hys.png"/>
					<p class="dark">会议室预定</p>
				</a>
			</div>
			<div class="col col-25">
				<a>
					<img src="img/icon-ssfw.png"/>
					<p class="dark">设施服务</p>
				</a></div>
			<div class="col col-25">
				<a>
					<img src="img/icon-xzfw.png"/>
					<p class="dark">行政服务</p>
				</a>
			</div>
		</div> -->
	</ion-content>
</ion-view>
