<ion-view view-title="活动场地列表" ng-controller="SpaceRoomListController">
	<ion-header-bar align-title="center" class="bar-light">
		<button class="button button-icon icon color-black" ng-click="topBack()">
			<i class="ion-chevron-left"></i>
		</button>
		<h1 class="title color-black">活动场地列表</h1>
	</ion-header-bar>

	<div class="bar bar-subheader" ng-class="{'business-no-bg' : allCity}">
		<span class="xkd-p-5 m-l-15" ng-click="allCity=!allCity" ng-class="{'assertive' : selectedCity != '全国' && selectedCity != '全部城市'}">{{selectedCity}}</span>
		<i ng-if="!allCity" ng-click="allCity=!allCity" class="ion-android-arrow-dropdown business-officeroom-icon " style="margin-top : 7px;"></i>
		<i ng-if="allCity" class="ion-android-arrow-dropup business-officeroom-icon " style="margin-top : 7px;"></i>
		<span class="xkd-p-5 m-l-15" ng-click="priceSelect()">价格</span>
		<!-- 上下箭头 -->
		<div class="business-officeroom-iconwrap" ng-click="priceSelect()">
			<i class="ion-android-arrow-dropup business-officeroom-icon" ng-class="{'assertive' : priceIndex == '1'}"></i>
			<i class="ion-android-arrow-dropdown " ng-class="{'assertive' : priceIndex == '2'}"></i>
		</div>
	</div>
	<!-- 城市选择筛选 -->
	<div class="text-center row row-wrap has-subheader business-officeroom-citys" ng-show="allCity">
		<div ng-repeat="city in citys" class="col col-25" ng-click="selectCity(city,$index)" ng-class="{'assertive' : cityIndex==$index}">{{city.city_name}}</div>
	</div>

	<ion-content class="has-header has-subheader" lazy-scroll>
		<div class="ConferenceRoomList" ng-repeat="item in items track by $index">
			<div style="position:relative">
				<!-- <img class="xkd-profucPhoto" src="{{item.url[0]}}" err-src="img/store4.jpg" ng-click="spaceDetail(item,'spaceRoomList')"> -->
				<img class="xkd-profucPhoto xkd-list-pic-full-width" image-lazy-src="{{item.url[0]}}" image-lazy-loader="ios" image-lazy-distance-from-bottom-to-load="100" err-src="img/store4.jpg" ng-click="spaceDetail(item,'spaceRoomList')">
				<div class="productTips col">
					<span class="PruCategory" ng-if="item.is_inner == 1">自营</span>
					<!-- <span>98%好评</span> -->
					<span class="pull-right" ng-if="item.distance">距您:{{item.distance}}</span>
				</div>
			</div>
			<div class="item row padding-15 b-none  m-n">
				<div class="col-80" style="white-space: normal;">
					<div class="xkd-recommend-list-title">{{item.store_name}}{{item.meeting_room_name}}</div>
					<div class="xkd-recommend-list-content">
						<i class="ion-ios-location-outline"></i>
						<span>{{item.store_address}}</span>
					</div>
					<h2 class="assertive">￥{{item.min_price}}/小时<span style="font-size:6px;">起</span></h2>
				</div>
				<!-- <div class="item item-text-wrap" style="border: none;padding: 2px">
						<h2><b>{{item.store_name}}{{item.meeting_room_name}}</b></h2>
						<p><i class="icon ion-ios-location-outline"></i> {{item.store_address}}</p>
						<h2 class="assertive">￥{{item.unit_price}}/小时</h2>
				</div> -->
				<div class="col-20 text-right item-note" ng-if="user_id !='279'">
					<button class="button assertive button-small" style="border:1px solid #ef473a" ng-click="buy(item)">立即预订</button>
				</div>
			</div>


		</div>
		<div class="text-center" ng-if="items.length==0 && !isEmptyData">
			<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"
>
		</div>
		<ion-infinite-scroll ng-if="isEmptyData" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
	<i ng-click="scrollTop()" ng-if="currentCity.city_name != '全国'" class="backtoTopBtn ion-android-arrow-up back-top rounded-500 text-center"></i>
</ion-view>
