<ion-view view-title="服务" ng-controller="BusinessFindProductCtrl">
	<ion-header-bar align-title="center" class="color-white bg-blue" >
		<div class="item-input-inset" ng-click="myBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<div class="tabs-striped tabs-top bg-blue color-white tabs-color-light">
			<div class="tabs product_tab bg-blue color-white">
				<a class="tab-item color-white bg-blue" ng-click="changeTab(1)" ng-class="{'active':tabType==1}">
					服务
				</a>
				<a class="tab-item color-white bg-blue" ng-click="changeTab(2)" ng-class="{'active':tabType==2}">
					详情
				</a>
				<!-- <a class="tab-item active" ui-sref="businessProduct({com_service_id:com_service_id})">
					服务
				</a>
				<a class="tab-item" ui-sref="businessProductDetail({com_service_id:com_service_id,com_article_material_id:service.com_article_material_id})">
					详情
				</a> -->
			</div>
		</div>
	</ion-header-bar>

	<ion-content class="has-header bg-dark has-footer">
		<!-- 服务详情 -->
		<div ng-show="tabType == 1">
			<ion-slide-box delegate-handle="bannerList" auto-play="true" does-continue="true" slide-interval=2000 show-pager="{{service.com_service_thumb.length > 1}}">
				<ion-slide ng-repeat="banner in service.com_service_thumb track by $index">
					<div class="box business-banner">
						<img ng-src="{{serviceThumbPath}}{{banner}}" err-src="img/icon_empty.png">
					</div>
				</ion-slide>
			</ion-slide-box>
	
			<div class="row business-warpbox bg-white">
				<div class="pull-left  padding-t-5 padding-l-10 dark fontsize-14 fontsize-bold">
					{{service.com_service_name}}
				</div>
				<!-- <div class="pull-right col-20 text-center">
					<i class="ion-share h2"></i>
				</div> -->
			</div>
			<div class="row business-warpbox bg-white" >
				<div class="pull-left padding-t-10 padding-l-10 dark">
					<a class="h3 product-jg padding-b-15" > 
						￥{{service.unit_value}}{{service.unit}}
						<!-- 
						<i class="button biaoqian">会员省  {{service.unit_value}}</i> -->
					</a>
				</div>
			</div>
			
			<div class="item item-text-wrap" ng-show="service.com_service_digest">
				<p>{{service.com_service_digest}}</p>
			</div>
	
			<div class="list m-t-15 m-b-none">
				<a class="item item-icon-right" ng-click="changeTab(2)">
					查看服务详情
					<span class="item-note">
						<i class="icon ion-ios-arrow-right"></i>
					</span>
				</a>
			</div>
			
			<div class="m-t-15">
				<ion-list >
					<ion-item class="item-thumbnail-left" type="item-text-wrap" ui-sref="commsg({com_id:service.com_id,from:'businessProduct',from_id:service.com_service_id})">
						<img ng-src="{{companyPath}}{{service.com_logo_path}}" err-src="img/icon_empty.png">
						<h2 >{{service.com_name}}</h2>
						<!-- <p>{serviceList.}</p> -->
					</ion-item>
				</ion-list>
			</div>
			
			<div class="m-t-15 list" ng-show="hasreply">
				<a class="item">回复({{service.message_num}})</a>
				<a class="item item-avatar" on-hold="onHold(repaly)" ng-repeat="repaly in service.service_message_info track by $index">
					<img ng-src="{{commonPath.route_path}}{{commonPath.photo_path}}{{repaly.message_user_photo_url}}" err-src="img/icon_empty_head.png">
					<h2>{{repaly.message_user_name}}</h2>
					<p style="white-space: normal;">{{repaly.message_content}}</p>
					<p>{{repaly.message_cre_time}}</p>
				</a>
			</div>
		</div>
		
		<!-- 素材详情 -->
		<div ng-show="tabType == 2">
			<div ng-show="!hasMaterial" class="text-center zwsc" >
				<a style="line-height: 38px">抱歉( ▼-▼ )暂无素材哦~</a><br>
				<!-- 
				<button class="button button-balanced" ui-sref="postneeds">
					去发布需求
					<i class="ion-android-arrow-forward"></i>
				</button>
				 -->
			</div>
			<div ng-show="hasMaterial" class="card">
				<div class="item item-divider">
					<span class="h4 sucai-title">{{service.material_title}}</span><br>
					<small>{{service.cre_time}}<span class="m-l-10">{{service.cre_name}}</span></small>
				</div>
				<div class="item item-text-wrap">
					<p class="sucai-neirong" ng-bind-html="service.material_content"></p>
				</div>
				<!-- 
				<div class="item item-divider">
					<small>阅读量  5</small>
				</div> -->
			</div>
		</div>
	</ion-content>
	<div ng-show="hasshare">
		<div class="card share-com">
			<div class="item item-divider" style="height:50px;line-height:34px">
				分享给朋友
			</div>
			<div class="item item-text-wrap share-social">
 				<a class="col" ng-click="WechatShare(service.com_service_name,service.com_service_des,'http://www.heroera.com/heroera/share/company/service.html?service_id='+service.com_service_id,'Wechat.Scene.SESSION')">
					<img src="img/icon-weixin.png" >
					<span>微信朋友圈</span>
				</a>
				<a class="col" ng-click="WechatShare(service.com_service_name,service.com_service_des,'http://www.heroera.com/heroera/share/company/service.html?service_id='+service.com_service_id,'Wechat.Scene.TIMELINE')">
					<img src="img/icon-weixin.png">
					<span>微信好友</span>
				</a>
				<a class="col" ng-click="QQShare(service.com_service_name,service.com_service_des,'http://www.heroera.com/heroera/share/company/service.html?service_id='+service.com_service_id)">
					<img src="img/icon-qq.png">
					<span>QQ</span>
				</a>
				<a class="col" ng-click="WeiboShare(service.com_service_name,service.com_service_des,'http://www.heroera.com/heroera/share/company/service.html?service_id='+service.com_service_id)">
					<img src="img/icon-weibo.png">
					<span>新浪微博</span>
				</a>
			</div>
		</div>
		<div class="chat-image-cover" ng-click="closeshare()"></div>
		
	</div>
	<div style="bottom:0">
		<ion-footer-bar keyboard-attach class="bar bar-footer item-input-inset has-tabs" ng-show="replay_show" style="position:fixed;">
			<label class="item-input-wrapper">
				<input type="search" ng-blur="replayBlur()" auto-focus-when="replay_show" ng-model="msg.message" placeholder="说点什么呢？">
			</label>
			<button class="button button-small button-calm" ng-click='sendReplay()'>
				发送
			</button>
		</ion-footer-bar>
	</div>

	<div class="tabs tabs-icon-top" ng-if="!replay_show">
		<div class="business-product-footone">
			<!-- <a class="tab-item" ng-class="{'calm': isLike}" ng-click="hiLickClick()">
				<i class="icon ion-heart"></i>
			</a> -->
			<a class="tab-item fontsize-18 m-t-10" ng-click="openshare()">
			<!-- WechatShare(item.com_name,item.comments,'http://www.heroera.com/hicoffice/share/company/service.html?service_id='+service.com_service_id) -->
				<i class="icon ion-android-share-alt fontsize-icon"></i>
			</a>
		</div>
		<div class="business-product-foottwo">
			<a class="tab-item m-t-10" ng-click="hiMessageClick()">
				<i class="icon ion-chatbox-working fontsize-icon"></i>
			</a>
		</div>
		<div class="business-product-footthree">
			<a class="tab-item m-t-10" ng-class="{'calm': isLike}" ng-click="hiLickClick()">
				<i class="icon ion-heart fontsize-icon"></i>
			</a>
		</div>
		<div class="business-product-footfour button no-radius bg-black color-white" ng-click="bottomRightClick()">
			<i class="icon ion-chatbubble-working color-white"></i>
			 &nbsp;{{bottomRightText}}
		</div>
	</div>
</ion-view>