<ion-view view-title="空间产品详情" ng-controller="SpaceProductDetailCtrl">
	<ion-header-bar align-title="center" class="color-white bar-dark">
		<button class="button button-icon icon" ng-click="topBack()">
			<i class="ion-chevron-left"></i>
		</button>
		<h1 class="title fontsize-16 color-black">办公室</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-white" style="bottom:50px;">
		<div class="bg-dark">
			<ion-slide-box delegate-handle="bannerList" auto-play="true" does-continue="true" slide-interval=2000 show-pager="{{item.url.length>1}}">
				<ion-slide ng-repeat="detailImg in item.url">
					<div class="box business-banner">
						<img ng-src="{{detailImg}}" err-src="img/store4.jpg">
					</div>
				</ion-slide>
			</ion-slide-box>

			<div class="item row padding-10 b-l-none b-r-none b-t-none m-n">
				<div class="col" style="white-space: normal;">
					<h2>科技节能大厦 - 6人标准办公间
						<span class="pull-right xkd-text-danger">￥50元/人/天</span>
					</h2>
					<small class="xkd-recommend-list-content">
						<i class="ion-ios-location-outline"></i>
						<span style="white-space: normal;">{{item.store_address}}</span>
					</small>
					<p>40平米 <span class="assertive">空闲中</span></p>
				</div>
			</div>

			<!-- <div class="item text-center b-none m-t-10 m-b-10" ui-sref="commsg({'com_id':133})">
				<h3 class="text-center">设施</h3>
			</div> -->
			<div class="bg-white padding-15 b-none m-t-10 m-b-10">
				<h4 class="text-center">— · 设施 · —</h4>
				<div class="xkd-mainTextCon">
					不知道不知道不知道不知道不知道不知道不知道不知道不知道不知道不知道不知道
				</div>
			</div>


		<!-- <div class="card text-center">
			<div class="item item-text-wrap">
			侠客岛联合办公室
			</div>
		</div> -->
			<div class="bg-white padding-15">
				<h4 class="text-center">— · 介绍 · —</h4>
				<div class="xkd-mainTextCon">
					不知道不知道不知道不知道不知道不知道不知道不知道不知道不知道不知道不知道
				</div>
				<p class="text-center">请直接致电400-900-9088咨询</p>
			</div>

		</div>

	</ion-content>
	<div class="tabs tabs-icon-top">
		<div class="business-product-footthree bg-blue fontsize-18" style="width:100%;color:white" ng-click="toChat(item)">
			入驻咨询
		</div>
		<div class="business-product-footthree bg-blue fontsize-18" style="width:100%;color:white" ng-click="buy(item)">
			电话联系
		</div>

	</div>
</ion-view>
