<ion-view view-title="{{appTitle}}" ng-controller="BusinessAllPostsController">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">{{appTitle}}</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="list xkd-border-bottom-1">
			<div class="item item-button-right">
				<label class="item-input-wrapper m-r-15">
					<div id="businessSearchDiv" class="notIE" on-tap="switchDisplaySearchTypeList()">
						<label><span>{{search.search_type_text}}<i class="fancyArrow pull-right"></i></span></label>
					</div>
					<input type="search" placeholder="请输入{{search.search_type_text}}名称" ng-model="filterOptions" style="background:#eeeeee;">
				</label>
				<button class="button button-positive xkd-business-all-posts-search-btn">搜索</button>
				<!-- 搜索框 -->
				<div id="businessSearchBody" ng-show="searchBodyShow" class="{{device}}">
					<div class="trigonIcon"> </div>
					<div class="searchCateg">
						<ul class="list">
							<li class="item {{item.search_type_id == search.search_type_id ? 'active':''}}" ng-repeat="item in searchType" ng-click="setSelectSearch(item)">
								{{item.search_type_text}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-white" style="padding-left:0;padding-top:0;">
			<!-- 侧边栏 -->
			<div class="col col-33 xkd-business-left-bar">
				<div class="list">
					<a ng-repeat="item in leftBarList" class="item {{item.current}}" ng-click="displaySelectItem(item)">
						{{item.text}}
					</a>
				</div>
			</div>
			<div class="col xkd-business-content">
				<ion-scroll zooming="true" direction="y" paging="true" style="height:100%">
					<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh(itemType)"></ion-refresher>
					<div class="list" style="height:100%">
						<div class="item item-body">
							<img class="full-image" src="img/icon_empty.png">
						</div>
					</div>
				</ion-scroll>
			</div>
		</div>
	</ion-content>
	<i ng-click="scrollTop()" ng-if="currentCity.city_name != '全国'" class="ion-arrow-up-b back-top rounded-500 text-center" style="position:absolute;right:30px;bottom:80px;font-size:30px;"></i>
</ion-view>
