<ion-view view-title="办公室/位" ng-controller="RoomListController">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="topBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title">{{com_service_name}}</h1>
	</ion-header-bar>

	<div class="bar bar-subheader" ng-class="{'business-no-bg' : allCity}">
		<span class="xkd-p-5 m-l-15" ng-click="allCity=!allCity" ng-class="{'assertive' : selectedCity != '全国' && selectedCity != '全部城市'}">{{selectedCity}}</span>
		<i ng-if="!allCity" ng-click="allCity=!allCity" class="ion-android-arrow-dropdown business-officeroom-icon " style="margin-top : 7px;"></i>
		<i ng-if="allCity" class="ion-android-arrow-dropup business-officeroom-icon " style="margin-top : 7px;"></i>
		<span class="xkd-p-5 m-l-15" ng-click="priceSelect()">价格</span>
		<!-- 上下箭头 -->
		<div class="business-officeroom-iconwrap" ng-click="priceSelect()">
			<i class="ion-android-arrow-dropup business-officeroom-icon" ng-class="{'assertive' : priceIndex == '1'}"></i>
			<i class="ion-android-arrow-dropdown " ng-class="{'assertive' : priceIndex == '2'}"></i>
		</div>
	</div>
	
	<!-- 城市选择筛选 -->
	<div class="text-center row row-wrap has-subheader business-officeroom-citys" ng-show="allCity">
		<div ng-repeat="city in citys" class="col col-25" ng-click="selectCity(city,$index)" ng-class="{'assertive' : cityIndex==$index}">{{city.city_name}}</div>
	</div>

	<ion-content class="has-header has-subheader">
		<div class="ConferenceRoomList" ng-repeat="item in items" ng-class="{'m-t-10':$index != 0}">
			<div style="position:relative">
				<img class="xkd-profucPhoto xkd-list-pic-full-width" image-lazy-src="{{serviceThumbPath}}{{item.com_service_thumb_img}}" image-lazy-loader="ios" image-lazy-distance-from-bottom-to-load="100" ui-sref="businessProduct({com_service_id:item.com_service_id,from:thisRoute})"  err-src="img/store4.jpg">
				<div class="productTips col">
					<span class="PruCategory">自营</span>
					<span>&#12288;{{item.like_num}}个赞</span>
					<span ng-cloak class="pull-right" ng-if="item.distance">距您:{{item.distance > 1000 ? ((item.distance/1000).toFixed(2) + "km") : ((item.distance - 0).toFixed(0) + "m")}}</span>
				</div>
			</div>
			<div class="item row padding-15 b-none  m-n">
				<div class="col-80" style="white-space: normal;">
					<div class="xkd-recommend-list-title">
					{{item.com_service_name}}
					</div>
					<div class="xkd-recommend-list-content">
						<i class="ion-ios-location-outline"></i>
						<!-- <span>{{item.store_name}}</span>&nbsp; -->
						<span>{{item.store_address}}</span>
					</div>
					<h2 class="assertive">{{item.unit_value ? '￥' + item.unit_value + item.unit : item.unit}}</h2>
				</div>
				<div class="col-20 text-right item-note" ng-click="toChat(item)">
					<button class="button assertive button-small" style="border:1px solid #ef473a" >入驻咨询</button>
				</div>
			</div>
		</div>
		<div class="text-center" ng-show="isOverLoad">
			<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"
>
		</div>
		<ion-infinite-scroll ng-if="!isEmptyData" on-infinite="getOfficeRoomList()" distance="1%"></ion-infinite-scroll>
	</ion-content>
	<i ng-click="scrollTop()" ng-if="currentCity.city_name != '全国'" class="backtoTopBtn ion-android-arrow-up back-top rounded-500 text-center"></i>
</ion-view>