<ion-view view-title="{{appTitle}}" ng-controller="BusinessServiceListCtrl">
	<ion-header-bar align-title="center" class="color-white bar-dark">
		<div class="item-input-inset" ng-click="topBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<!-- <div class="item-input-inset col-80 busi-ss m-l-15">
			<label class="item item-input business-sousuo" style="width: 100%;border-radius:6px">
				<i class="icon ion-search placeholder-icon"></i>
				<input class="fontsize-12" type="search" placeholder="搜索服务" ng-model="filterOptions">
			</label>
		</div> -->
		<h1 class="title fontsize-16 color-black">{{appTitle}}</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="alpha-list">
			<ion-item class="item color-ddark nation-icon" ng-repeat="item in resultList track by $index">
				$index
			</ion-item>
		</div>
		<ion-item class="wrapper" ng-show="noResult">
			暂无数据
		</ion-item>
	</ion-content>
</ion-view>