<ion-view view-title="企业搜索列表" ng-controller="CompanySearchListCtrl">
	<ion-header-bar align-title="center" class="bar-dark item-input-inset xkd-seArchbar">
		<span class="m-r-10" ui-sref="businessSearch">
			<i class="ion-chevron-left"></i>
		</span>
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="请输入企业名称" ng-model="filterOptions">
		</label>
		<button class="button button-calm" ng-click="jump()">取消</button>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
		<ion-refresher pulling-text="下拉刷新" on-refresh="demandDoRefresh()"></ion-refresher>
		<div class="m-t-15 b-t-none" ng-show="!isOverLoad">
			<ion-list>
				<ion-item class="business-recommend" ng-repeat="company in companyList" type="item-text-wrap" ng-click="toCompanyPage(company)">
					<img ng-src="{{logoPath + company.com_logo_path}}" err-src="img/icon_empty_head.png">
					<!-- <span  class="color-white list-title fontsize-14" ng-if="company.store_name">&nbsp;{{company.store_name}}</span> -->
					<h2 class="m-t-5 padding-l-10 font-family">{{company.com_name}}</h2>
					<p class="m-t-5 padding-l-10 company-name" style="white-space: normal;">{{company.comments}}</p>
					<p class="padding-l-10 ng-binding" ng-if="company.store_name" style="margin-top:3%">
						<i class="ion-location fontsize-18"></i>&nbsp;{{company.store_name}}
					</p>
					<!--<p class="padding-l-10" ng-if="service.store_name" style="margin-top:6%">
						<i class="ion-location fontsize-18"></i>&nbsp;{{service.store_name}}
					</p> -->
				</ion-item>
			</ion-list>
		</div>

		<ion-infinite-scroll ng-if="!isEmptyData" on-infinite="getCompanyDatas()" distance="7%"></ion-infinite-scroll>

		<div class="text-center" ng-show="isOverLoad">
			<img style="width: 50%;margin-top:50px" src="img/icon_empty_img.png"/>
		</div>
	</ion-content>
	<i ng-click="scrollTop()" class="ion-arrow-up-b back-top rounded-500 text-center" style="position:absolute;right:30px;bottom:80px;font-size:30px;"></i>
</ion-view>
