
<ion-view view-title="公告详情" ng-controller="BusinessNoticeDetailController">

	<ion-header-bar align-title="center" class="bar-light">
		<button class="button button-clear" ng-click="myBack()">
			<i class="ion-chevron-left color-blue"></i>
		</button>
		<h1 class="title color-black">公告详情</h1>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col">
				<h3 class="text-center m-t-15">公告</h3>
				<p style="text-indent: 2em;text-align: justify;">{{notice.comments}}</p>
				<p class="text-right">{{notice.cre_time}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>