<ion-view view-title="离店登记" ng-controller="CheckOutRegCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">离店登记</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
	<div class="list ldsqb_box">
    <div class="item item-divider">
      <div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
        基本信息
    </div>
    <div class="item" >
       <table>
       	<tbody>
           <tr>
            <td>公司名称</td>
            <td>{{CheckOutRegData.com_name}}</td>
          </tr>
       		<tr>
       			<td>入驻时间</td>
       			<td>{{CheckOutRegData.enter_time}}</td>
       		</tr>
          <tr>
            <td>离店时间</td>
            <td>{{CheckOutRegData.leave_time}}</td>
          </tr>
          <tr>
            <td>合同期限</td>
            <td>{{CheckOutRegData.contract_term}}</td>
          </tr>
          <tr>
            <td>保证金金额</td>
            <td>￥{{CheckOutRegData.bond_amount}}</td>
          </tr>
       	</tbody>
       </table>
    </div>
    <div class="item item-divider">
       <div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
        物品及其他交接手续
    </div>
    <div class="item" ng-repeat="items in big_type_1 track by $index" ng-if="items.illustration_status == 2 || items.illustration_status == 1">
        <span >
        <i class="ion-ios-checkmark color-blue" ng-if="items.illustration_status == 1"></i>
        <i class="ion-ios-close assertive" ng-if="items.illustration_status == 2"></i>
        {{items.content}}
        </span>
    </div>
      <!-- <div class="item"> 
        <i class="ion-ios-close assertive"></i>
        <span>办公家具</span>
      </div>
      <div class="item">
        <i class="ion-ios-checkmark color-blue"></i>
        <span>借用办公工具</span>
      </div>
      <div class="item">
        <i class="ion-ios-checkmark color-blue"></i>
        <span>删除人脸识别系统信息</span>
      </div>
      <div class="item">
        <i class="ion-ios-checkmark color-blue"></i>
        <span>关闭网络</span>
      </div>
      <div class="item">
        <i class="ion-ios-checkmark color-blue"></i>
        <span>退出微信群</span>
      </div> -->
    <div class="item item-divider">
      <div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
      服务终结
    </div>
    <div class="item" ng-repeat="items in big_type_2 track by $index"  ng-if="items.illustration_status == 2 || items.illustration_status == 1">
        <span>
        <i class="ion-ios-checkmark color-blue" ng-if="items.illustration_status == 1"></i>
        <i class="ion-ios-close assertive" ng-if="items.illustration_status == 2"></i>
        {{items.content}}
        </span>
    </div>
      <!-- <div class="item">
        <i class="ion-ios-checkmark color-blue"></i>
        <span>是否已迁移工商注册地址</span>
      </div>
      <div class="item" ng-if="">
        <span>工商注册地址迁移：试过回顾经典时尚</span>
      </div>
      <div class="item">
        <i class="ion-ios-checkmark color-blue"></i>
        <span>是否已总结其他服务</span>
      </div> -->

     <div class="item item-divider">
     <div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
      未结算费用
    </div>
    <div class="item" >
     <table>
      <tbody>
        <tr ng-repeat="items in tb_big_type_1 track by $index">
          <td>{{items.content}}</td>
          <td>￥{{items.money}}</td>
        </tr>
        <!--tr>
          <td>会议室使用费</td>
          <td>￥200</td>
        </tr>
        <tr>
          <td>快递费</td>
          <td>￥200</td>
        </tr>
        <tr>
          <td>办公物品</td>
          <td>￥200</td>
        </tr -->
      </tbody>
     </table>
    </div>
     <div class="item item-divider">
     <div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
      应退费用
    </div>
     <div class="item" >
     <table>
      <tbody>
        <tr ng-repeat="items in tb_big_type_2 track by $index">
          <td>{{items.content}}</td>
          <td>￥{{items.money}}</td>
        </tr>
        <tr>
          <td>合计</td>
          <td>￥{{allMoney}}</td>
        </tr>
        <!-- <tr>
          <td>应退保证金(回收收据)</td>
          <td>￥200</td>
        </tr>
        <tr>
          <td>应退预存费用</td>
          <td>￥200</td>
        </tr>
        <tr>
          <td>合计</td>
          <td>￥200</td>
        </tr> -->
        <!-- <tr>
          <td colspan="2"></td>
        </tr> -->
      </tbody>
     </table>
    </div>
    <div class="item" >
      <span>其他情况说明：{{CheckOutRegData.explain || '无'}}</span>
    </div>
     <div class="item item-divider">
     <div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
      备注
    </div>
    <div class="item">
        <span>{{CheckOutRegData.comments||'无'}}</span>
    </div>
      <div class="item item-divider text-center">
        <div class="button-bar">
        <a class="button button-calm" ng-if="CheckOutRegData.status == 1" ng-disabled="CheckOutRegData.status == 2" ng-click="IsCheckOutReg(CheckOutRegData.out_store_id)">确认</a>
        </div>
        <p class=" m-t-10" ng-if="CheckOutRegData.status == 2">
        <span class="pull-left">{{CheckOutRegData.confirm_time}}</span>
        <span class="pull-right">已由{{CheckOutRegData.confirm_user_name}}确认</span>
        </p>
    </div>
	</ion-content>
</ion-view>
