<ion-view view-title="入驻手册" ng-controller="EntryBookCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-black"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">入驻手册</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-white padding-r-10 padding-l-10" style="text-align: justify;">
		<div>
			<h4>入驻企业权利</h4>
		</div>
		<hr>
		<div>
			<p class="text-indet2">
				<strong>（一）使用权限</strong>
			</p>
			<p class="text-indet2">入驻时，侠客岛将为您提供一份可使用的办公或休闲场地、设备设施、商务服务的介绍请您过目与确认。每位入驻的客户还应根据工作人员的要求登记办理相应的人脸识别权限或门禁卡、钥匙。</p>
			<p class="text-indet2">
				<strong>（二）标识与装饰</strong>
			</p>
			<p class="text-indet2">非经侠客岛同意，客户不得在专属区域外悬挂或摆放任何标识，装饰方案需报备侠客岛门店运营人员后方可执行。</p>
			<p class="text-indet2">
				<strong>（三）公共财产</strong>
			</p>
			<p class="text-indet2">每位客户应小心使用和保护侠客岛的各项设备设施，未经许可，侠客们不得擅自改造和移动任何物品。</p>
		</div>
	</ion-content>
</ion-view>


