<ion-view view-title="快递" ng-controller="ExpressCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">快递</h1>
		<div class="buttons">
			<div class="item-input-inset">
				<a class="color-blue" ng-click="saveForm()" ng-disabled="isGuest">提交</a>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="has-header bg-white">
		<div class="list">
			<a class="item item-icon-right" ng-click="expressClick()">
				<span class="gray">快递公司</span>
				<span class="pull-right" ng-model="item.excompany">{{item.excompany}}</span>
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</a>
			<a class="item item-icon-right" ng-click="dateClick()">
				<span class="gray">选择日期</span>
				<span class="pull-right" ng-model="item.date">{{item.date}}</span>
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</a>
			<label class="item item-input">
				<textarea rows="5" ng-model="item.content" placeholder="给管家留言"></textarea>
			</label>
		</div>
	</ion-content>
	<script id="select.html" type="text/ng-template">
		<div class="modal">
			<ion-header-bar class="bar-dark">
				<h1 class="title">{{modal.title}}</h1>
				<div class="button button-clear m-r-10" ng-click="closeModal()"><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div>
			</ion-header-bar>
			<ion-content>
				<div class="list" ng-show="modal.time">
					<label class="item item-input item-icon-right padding-15" ng-click="expressSelect('顺丰快递')">
						顺丰快递
					</label>
					<label class="item item-input item-icon-right padding-15" ng-click="expressSelect('韵达快递')">
						韵达快递
					</label>
					<label class="item item-input item-icon-right padding-15" ng-click="expressSelect('中通快递')">
						中通快递
					</label>
					<label class="item item-input item-icon-right padding-15" ng-click="expressSelect('圆通快递')">
						圆通快递
					</label>
					<label class="item item-input item-icon-right padding-15" ng-click="expressSelect('申通快递')">
						申通快递
					</label>
				</div>
			</ion-content>
		</div>
	</script>
</ion-view>


