<ion-view view-title="会员等级" style="font-family:微软雅黑;">
<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset">
			<span ui-sref="tab.mine">
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title fontsize-16">会员等级</h1>
	</ion-header-bar>
		<ion-tabs class="tabs-light tabs-striped tabs-top">
			<ion-tab title="体验会员">
				<ion-view>
					<ion-content class="has-tabs">
						<div class="list list-inset">
							<ul>
							 <li>
								 <div>
									 <span>标</span>
									 <a>办公空间</a>
									 <span>标</span>
									 <a>共享空间</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>标</span>
									 <a>会议服务</a>
									 <span>标</span>
									 <a>基础办公服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>标</span>
									 <a>品牌公关推广</a>
									 <span>需</span>
									 <a>股权融资服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>无</span>
									 <a>公共物业服务</a>
									 <span>无</span>
									 <a>社交服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									<span>无</span>
									 <a>全国漫游服务</a>
									 <span>无</span>
									 <a>健康服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>无</span>
									 <a>债权融资服务</a>
									 <span>无</span>
									 <a>企业开办</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>无</span>
									 <a>政府资源对接</a>
									 <span>无</span>
									 <a>财税服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>无</span>
									 <a>知识产权</a>
									 <span>无</span>
									 <a>人力资源服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>无</span>
									 <a>法律服务</a>
									 <span>无</span>
									 <a>技术服务</a>
								 </div>
							 </li>
						 </ul>
						</div>  
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="云会员">
				<ion-view>
					<ion-content class="has-tabs">
						<div class="list list-inset">
							<ul>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>办公空间</a>
									 <span>惠</span>
									 <a>共享空间</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>会议服务</a>
									 <span>惠</span>
									 <a>基础办公服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>品牌公关推广</a>
									 <span>需</span>
									 <a>股权融资服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>免</span>
									 <a>公共物业服务</a>
									 <span>免</span>
									 <a>社交服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									<span>惠</span>
									 <a>全国漫游服务</a>
									 <span>惠</span>
									 <a>健康服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>债权融资服务</a>
									 <span>无</span>
									 <a>企业开办</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>政府资源对接</a>
									 <span>惠</span>
									 <a>财税服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>知识产权</a>
									 <span>惠</span>
									 <a>人力资源服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>法律服务</a>
									 <span>惠</span>
									 <a>技术服务</a>
								 </div>
							 </li>
						 </ul>
						</div> 
					</ion-content>
				</ion-view>
			</ion-tab>
			<ion-tab title="入驻会员">
				<ion-view>
					<ion-content class="has-tabs">
					   <div class="list list-inset">
							<ul>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>办公空间</a>
									 <span>惠</span>
									 <a>共享空间</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>会议服务</a>
									 <span>惠</span>
									 <a>基础办公服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>品牌公关推广</a>
									 <span>需</span>
									 <a>股权融资服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>免</span>
									 <a>公共物业服务</a>
									 <span>免</span>
									 <a>社交服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									<span>惠</span>
									 <a>全国漫游服务</a>
									 <span>惠</span>
									 <a>健康服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>债权融资服务</a>
									 <span>无</span>
									 <a>企业开办</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>政府资源对接</a>
									 <span>惠</span>
									 <a>财税服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>知识产权</a>
									 <span>惠</span>
									 <a>人力资源服务</a>
								 </div>
							 </li>
							 <li>
								 <div>
									 <span>惠</span>
									 <a>法律服务</a>
									 <span>惠</span>
									 <a>技术服务</a>
								 </div>
							 </li>
						 </ul>
						</div>  
					</ion-content>
				</ion-view>
			</ion-tab>
		</ion-tabs>
</ion-view>