<ion-view view-title="财务服务" ng-controller="FinanceController">
	<ion-header-bar align-title="center" class="bar-light">
		<button class="button button-icon icon" ng-click="topBack()">
			<i class="ion-chevron-left color-blue"></i>
		</button>
		<h1 class="title fontsize-16 color-black">财务服务</h1>
		<!-- <button class="button button-clear fontsize-14" ng-click="report()">举报</button> -->
	</ion-header-bar>

	<ion-content class="has-header bg-white" style="bottom:50px;">
		<div class="bg-dark">

			<div class="box">
				<img width="100%" ng-src="{{detailImg}}" err-src="img/service_cwgw.jpg">
			</div>
			<div class="bg-white padding-25 padding-t-5">
				<h4 class="text-center"><strong>法律服务—非标合同书写</strong></h4>
				<div class="b-b-gyay">
					<h4>
						<div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
						<b class="fontsize-14 bg-white">优势分析</b>
					</h4>
				</div>
				<div class="text-left fontsize-12 padding-t-5 gray" >
					• 股权融资、债权融资<br/>
					• 商业计划书编写和优化<br/>
					• 员工持股方案设计<br/>
					• 并购重组顾问、IPO顾问、财务咨询、资本结构设计等
				</div>
			</div>

			<div class="bg-white padding-25 padding-t-5 m-b-10 m-t-10">
				<div>
					<h4>
						<div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
						<b class="fontsize-14 bg-white">产品收费</b>
					</h4>
				</div>
				<table class="fontsize-12 gray xkd-serviPriceTab">
					<tbody>
						<tr>
							<td>会员企业</td>
							<td class="text-left">
								（1）股权融资以融资额的2%-5%收取费用<br>
								（2）咨询收费根据实际项目情况具体报价
							</td>
						</tr>
						<tr>
							<td >非会员企业</td>
							<td class="text-left">
							（1）股权融资以融资额5%-10%收取费用<br>
							（2）咨询收费为会员价1.5倍
							</td>
						</tr>
					</tbody>
				</table>
				<p class="gray fontsize-12 padding-t-10">注：会员可享更多优惠，点击下方按钮成为岛里会员吧！</p>

				<button class="button button-block  button-calm bg-blue" ui-sref="memauthority">
					会员通道
				</button>
			</div>
		</div>

	</ion-content>
	<div class="tabs tabs-icon-top xkd-botmButoon">
		<div class="business-product-footthree bg-blue fontsize-18" ng-click="toChat()">
			入驻咨询
		</div>
		<div class="business-product-footthree bg-blue fontsize-18" ng-click="callPhone(4009009088)">
			电话联系
		</div>

	</div>
</ion-view>
