<ion-view view-title="法律助手" ng-controller="LegalController">
	<ion-header-bar align-title="center" class="bar-light">
		<button class="button button-icon icon" ng-click="topBack()">
			<i class="ion-chevron-left color-blue"></i>
		</button>
		<h1 class="title fontsize-16 color-black">法律助手</h1>
		<!-- <button class="button button-clear fontsize-14" ng-click="report()">举报</button> -->
	</ion-header-bar>


	<ion-content class="has-header bg-white" style="bottom:50px;">
		<div class="bg-dark">

			<div class="box">
				<img width="100%" ng-src="{{detailImg}}" err-src="img/service_flfw.jpg">
			</div>
			<div class="bg-white padding-25 padding-t-5">
				<h4 class="text-center"><strong>法律服务—非标合同书写</strong></h4>
				<div class="b-b-gyay">
					<h4>
						<div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
						<b class="fontsize-14 bg-white">优势分析</b>
					</h4>
				</div>
				<div class="text-left fontsize-12 padding-t-5 gray" >
					• 律师上门需求确认，填写需求确认书<br/>
					• 合同书写<br/>
					• 1-3个月保证期，合同免费修订升级<br/>
					• 长期合同维护
				</div>
			</div>

			<div class="bg-white padding-25 padding-t-5 m-b-10 m-t-10">
				<div>
					<h4>
						<div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
						<b class="fontsize-14 bg-white">产品收费</b>
					</h4>
				</div>
				<table class="fontsize-12 gray xkd-serviPriceTab">
					<tbody>
						<tr>
							<td>会员企业</td>
							<td class="text-left">
								视合同具体情况，收费自2000-10000元不等
								（报价以侠客岛专业法务人员工时投入为标的进行计算）
							</td>
						</tr>
						<tr>
							<td >非会员企业</td>
							<td class="text-left">
							（一）政策服务包A：<br>
								购买3个虚拟公司满一年，赠送侠客岛企业成长服务；<br>
								享受会员同等报价<br>
							（二）政策服务包B：<br>
								会员价格1.5倍
							</td>
						</tr>
					</tbody>
				</table>
				<p class="gray fontsize-12 padding-t-10">注：会员可享更多优惠，点击下方按钮成为岛里会员吧！</p>

				<button class="button button-block  button-calm bg-blue" ui-sref="memauthority">
					会员通道
				</button>
			</div>
		</div>

	</ion-content>
	<div class="tabs tabs-icon-top xkd-botmButoon">
		<div class="business-product-footthree bg-blue fontsize-18" ng-click="toChat()">
			入驻咨询
		</div>
		<div class="business-product-footthree bg-blue fontsize-18" ng-click="callPhone(4009009088)">
			电话联系
		</div>

	</div>
</ion-view>
