<ion-view view-title="政策申报" ng-controller="PolicyController">
	<ion-header-bar align-title="center" class="bar-light">
		<button class="button button-icon icon" ng-click="topBack()">
			<i class="ion-chevron-left color-blue"></i>
		</button>
		<h1 class="title fontsize-16 color-black">政策申请</h1>
		<!-- <button class="button button-clear fontsize-14" ng-click="report()">举报</button> -->
	</ion-header-bar>


       	<ion-content class="has-header bg-white" style="bottom:50px;">
		<div class="bg-dark">

			<div class="box ">
				<img width="100%" ng-src="{{detailImg}}" err-src="img/service_zhyx.jpg">
			</div>
			<div class="bg-white padding-25 padding-t-5">
				<div class="b-b-gyay">
					<h4>
						<div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
						<b class="fontsize-14 bg-white">优势分析</b>
					</h4>
				</div>
				<div class="text-left fontsize-12 padding-t-5 gray" >
					• 政策解读、政策匹配<br/>
					• 申请手续代理；<br/>
					• 申报代理
				</div>
			</div>

			<div class="bg-white padding-25 padding-t-5 m-b-10 m-t-10">
				<div>
					<h4>
						<div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
						<b class="fontsize-14 bg-white">产品收费</b>
					</h4>
				</div>
				<table class="fontsize-12 gray xkd-serviPriceTab">
					<tbody>
						<tr>
							<td>会员企业</td>
							<td class="text-left">
								政策费用10%
							</td>
						</tr>
						<tr>
							<td >非会员企业</td>
							<td class="text-left">
							（一）政策服务包A：   <br/>
							    购买3个虚拟公司满一年，赠送侠客岛企业成长服务；<br/>
							    政策费用10%；<br/>
							（二）政策服务包B：<br/>
							    政策费用15%；<br/>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="gray fontsize-12 padding-t-10">
					注：<br/>
					（1）企业能否申请到补贴、及补贴的多少，由企业本身经营状况、政策对标 程度以及政府相关部门评审结果决定；<br/>
					（2）本服务保证申报过程的准确和优质，并不能完全决定申报结果。<br/>
					（3）会员可享更多优惠，点击下方按钮成为岛里会员吧！
				</p>

				<button class="button button-block  button-calm bg-blue" ui-sref="memauthority">
					会员通道
				</button>
			</div>
		</div>

	</ion-content>
	<div class="tabs tabs-icon-top xkd-botmButoon">
		<div class="business-product-footthree bg-blue fontsize-18" ng-click="toChat()">
			入驻咨询
		</div>
		<div class="business-product-footthree bg-blue fontsize-18" ng-click="callPhone(4009009088)">
			电话联系
		</div>

	</div>
</ion-view>
