<style type="text/css">
	#community .tabs-top > .tabs, .tabs.tabs-top{
		background-color: #11c1f3;
	}
</style>
<div  id="community">
	<ion-tabs class="tabs-positive tabs-dark tabs-top" ng-controller="CompanyNeedListCtrl">
			<div class="item-input-inset" ng-click="myBack()">
			<span >
				<i class="ion-chevron-left color-blue"></i>
			</span>
			</div>
		<ion-tab title="需求列表" style="color:#fff;" >
			<ion-view>
			<ion-content class="has-header" style="background-color: #f0f3f4;">
				<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="needSearch.keyword"  placeholder="搜索">
			</label>
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="demandDoRefresh()"></ion-refresher>
		<div class="card" style="margin-bottom:8px;" ng-repeat="item in items track by $index" ng-show="!isOverLoad">
			<div class="item item-avatar" style="border-bottom-width:0px">
				<img ng-src="{{path.route_path}}{{path.photo_path}}{{item.one_inch_photo_url}}" err-src="img/icon_empty_head.png" alt="...">
				<h2>{{item.com_needs_name}}</h2>
				<small class="calm">{{item.com_name}}</small>
				<span class="badge badge-balanced">
					<span>需求</span>
				</span>
			</div>
			<div class="item item-avatar b-t-none">
				<p ng-click="materialDetail(service)" style="white-space:normal;">{{item.com_needs_des}}</p>
			</div>
		</div>
		<ion-infinite-scroll ng-if="!isEmptyData" on-infinite="getCompanyNeedList()" distance="7%"></ion-infinite-scroll>

		<div class="text-center" ng-show="isOverLoad">
			<img style="width: 50%;margin-top:50px" src="img/icon_empty_img.png"/>
		</div>
			</ion-content>
			</ion-view>
		</ion-tab>

		<ion-tab title="服务列表" ng-controller="CompanySumServiceCtrl">
			<ion-view>
			<ion-content class="has-header" style="background-color: #f0f3f4;">
				<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="serviceSearch.keyword"  placeholder="搜索">
			</label>
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="demandDoRefresh()"></ion-refresher>
		<div class="card" style="margin-bottom:8px;" ng-repeat="service in services track by $index" ng-show="!isOverLoad">
			<div class="item item-avatar" style="border-bottom-width:0px">
				<img ng-src="{{path.route_path}}{{path.photo_path}}{{service.one_inch_photo_url}}" err-src="img/icon_empty_head.png" alt="...">

				<h2>{{service.com_service_name}}</h2>
				<small class="calm">
				{{service.com_name}}</small>
				<span class="badge badge-assertive">
					<span>服务</span>
				</span>
			</div>
			<div class="item item-avatar b-t-none">
				<p ng-click="materialDetail(service)" style="white-space:normal;">{{service.com_service_des}}</p>
			</div>
		</div>
		<ion-infinite-scroll ng-if="!isEmptyData" on-infinite="myComSevDatas()" distance="7%"></ion-infinite-scroll>

		<div class="text-center" ng-show="isOverLoad">
			<img style="width: 50%;margin-top:50px" src="img/icon_empty_img.png"/>
		</div>
			</ion-content>
			</ion-view>
		</ion-tab>
	</ion-tabs>
</div>
