<ion-view view-title="反馈" ng-controller="Feedback2Ctrl" style="font-family:微软雅黑;">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.business">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">一元抢工位</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-white xkd-feedback-padding" id="xkd-feedback">
		<div class="xkd-feedback-b-b-d m-b-10">
			<h3>侠客岛里欢庆双十一<br/>感恩回馈“一元抢工位”</h3>
			<p style="text-indent:2em;">报名请如实填写下方报名字段，我们将在11.11日公布获奖名单，感谢您对侠客岛的支持！相关问题咨询请拨：400-900-9088</p>
		</div>
		<form name="form" >
			<div class="form-group">
				<p class="fontsize-bold">完整公司名称<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="test.com_name" class="xkd-feedback-w-full">
				</div>
			</div>
			<div class="form-group">
				<p class="fontsize-bold">联系人姓名<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="test.name" class="xkd-feedback-w-full">
				</div>
			</div>
			<div class="form-group">
				<p><span class="fontsize-bold">联系人电话</span><span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="test.mobile" maxlength="11" class="xkd-feedback-w-full">
				</div>
			</div>
			<div class="padding">
			<button class="button button-assertive button-block" ng-click="uploadInfoClick()">提交</button>
		</div>
		</form>
	</ion-content>
</ion-view>