<ion-view view-title="反馈" ng-controller="FeedbackCtrl" style="font-family:微软雅黑;">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.business">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">有礼问卷</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-white xkd-feedback-padding" id="xkd-feedback">
		<div class="xkd-feedback-b-b-d">
			<h3>"岛里"客户端使用情况反馈</h3>
			<p style="text-indent:2em;">感谢您下载使用“岛里”APP。我们诚挚地期待您的反馈，为了表达我们的衷心感谢，我们将在参与反馈的用户中，随机抽取3名幸运用户。</p>
		</div>
		<form name="formA" >
			<div class="form-group m-t-10">
				<p class="fontsize-bold">您对“岛里”APP的总体感受是？<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b radio">
					<label>
						<p class="chat-input-border">
							<input type="radio" name="feel" value="5" ng-model="test.feel">非常满意
						</p>
					</label>
					
					<label>
						<p class="chat-input-border">
							<input type="radio" name="feel" value="4" ng-model="test.feel"> 满意
						</p>
					</label>
					
					<label>
						<p class="chat-input-border">
							<input type="radio" name="feel" value="3" ng-model="test.feel"> 一般
						</p>
					</label>
					
					<label>
						<p class="chat-input-border">
							<input type="radio" name="feel" value="2" ng-model="test.feel"> 不太满意
						</p>
					</label>
					
					<label>
						<p>
							<input type="radio" name="feel" value="1" ng-model="test.feel"> 非常不满意
						</p>
					</label>
				</div>
				
			</div>
			
			<div class="form-group">
				<p class="fontsize-bold">请您对“岛里”APP以下方面进行打分：<span class="xkd-text-danger">*</span></p>
				<table style="width:100%;text-align:center" >
					<thead>
						<tr class="bg-dark">
							<th></th>
							<th class="fontsize-bold">1星</th>
							<th class="fontsize-bold">2星</th>
							<th class="fontsize-bold">3星</th>
							<th class="fontsize-bold">4星</th>
							<th class="fontsize-bold">5星</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="fontsize-bold" style="width:80px;">操作流畅度</td>
							<td><input type="radio" name="fluency" value="1" ng-model="test.fluency"></td>
							<td><input type="radio" name="fluency" value="2" ng-model="test.fluency"></td>
							<td><input type="radio" name="fluency" value="3" ng-model="test.fluency"></td>
							<td><input type="radio" name="fluency" value="4" ng-model="test.fluency"></td>
							<td><input type="radio" name="fluency" value="5" ng-model="test.fluency"></td>
						</tr>
						<tr>
							<td class="fontsize-bold">用户界面</td>
							<td><input type="radio" name="interface" value="1" ng-model="test.interfacee"></td>
							<td><input type="radio" name="interface" value="2" ng-model="test.interfacee"></td>
							<td><input type="radio" name="interface" value="3" ng-model="test.interfacee"></td>
							<td><input type="radio" name="interface" value="4" ng-model="test.interfacee"></td>
							<td><input type="radio" name="interface" value="5" ng-model="test.interfacee"></td>
						</tr>
						<tr>
							<td class="fontsize-bold">功能完善度</td>
							<td><input type="radio" name="perfect_degree" value="1" ng-model="test.perfect_degree"></td>
							<td><input type="radio" name="perfect_degree" value="2" ng-model="test.perfect_degree"></td>
							<td><input type="radio" name="perfect_degree" value="3" ng-model="test.perfect_degree"></td>
							<td><input type="radio" name="perfect_degree" value="4" ng-model="test.perfect_degree"></td>
							<td><input type="radio" name="perfect_degree" value="5" ng-model="test.perfect_degree"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="form-group">
				<p class="fontsize-bold">您对优化“岛里”以上三个方面的建议？<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<textarea type="text" rows='5' class="xkd-feedback-w-full" ng-model="test.optimization_suggestions"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<p class="fontsize-bold">使用后，您对“岛里”最感兴趣的版块是什么：<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b b-b-none">
					<label ng-repeat="tmp2 in tmpArray1">
						<p class="chat-input-border" on-tap="checkedClick2(tmp2.id, tmp2)">
							<input type="checkbox" name="useful2" value="{{tmp2.id}}" ng-checked="checked2[tmp2.id]">{{tmp2.name}}
						</p>
					</label>
				</div>
			</div>
			<div class="form-group">
				<p class="fontsize-bold">您对“岛里”最不感兴趣的板块是：<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b b-b-none">
					<label ng-repeat="tmp in tmpArray2">
					<p class="chat-input-border" on-tap="checkedClick(tmp.id, tmp)">	
						<input type="checkbox" name="Nuseful2" value="{{tmp.id}}" ng-checked="checked[tmp.id]">{{tmp.name}}
					</p>
					</label>
				</div>
			</div>
			<div class="form-group">
				<p class="fontsize-bold">您认为“岛里”的风格应该是：<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b b-b-none">
					<label ng-repeat="tmp3 in tmpArray3">
					<p class="chat-input-border" on-tap="checkedClick3(tmp3.id, tmp3)">	
							<input type="checkbox" name="style" value="{{tmp3.id}}" ng-checked="checked3[tmp3.id]">{{tmp3.name}}
					</p>
					</label>
				</div>
			</div>
			
			<div class="form-group">
				<p class="fontsize-bold">您最希望“岛里”为您的企业提供哪方面的帮助？</p>
				<div class="xkd-feedback-b">
					<textarea type="text" rows='5' class="xkd-feedback-w-full" ng-model="test.help"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<p class="fontsize-bold">您的姓名<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="test.name" class="xkd-feedback-w-full">
				</div>
			</div>
			
			<div class="form-group">
				<p><span class="fontsize-bold">您的电话号码</span><span class="xkd-text-danger">*</span><br/>领取奖品用</p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="test.mobile" maxlength="11" class="xkd-feedback-w-full">
				</div>
			</div>
			
			<div class="form-group">
				<p class="fontsize-bold">团队/企业名称<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="test.team" class="xkd-feedback-w-full">
				</div>
			</div>
			
			<div class="form-group">
				<p class="fontsize-bold">您是否是侠客岛入驻企业员工？<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<label>
						<p class="chat-input-border">
							<input type="radio" name="feeling" value="1" ng-model="test.user_type">是
						</p>
					</label>
					<label>
						<p >
							<input type="radio" name="feeling" value="2" ng-model="test.user_type">否
						</p>
					</label>
				</div>
			</div>
			<div class="padding">
			<button class="button button-assertive button-block" ng-disabled='formA.$invalid' ng-click="uploadInfoClick()">提交</button>
		</div>
		</form>
		
		
	</ion-content>

</ion-view>