<ion-view view-title="办公空间" ng-controller="MyOfficeZoneCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.business" >
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">办公空间</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-dark" style="margin-top: -3px;">
		<div class="list bg-dark xkd-mine">
			<div class="bg-white">
				<div>
					<img src="img/workPlaceBg.jpg" alt="" height="200">
				</div>
				<div class="row text-center XKD-companyBalance">
					<div class="col" ng-click="errMessage()">
						<div class="xkd-myzone-desbox  fontsize-16">100</div>
						<p>我的访客</p>
					</div>
					<div class="col" ng-click="errMessage()">
						<div class="xkd-myzone-desbox fontsize-16">10</div>
						<p>我的出勤</p>
					</div>
					<div class="col" ng-click="errMessage()">
						<div class="xkd-myzone-desbox color-blue"><i class="icon-hiicons_steward"></i></div>
						<p>我的管家</p>
					</div>
					<div class="col" ng-click="goMessage()" ng-if="user.isManager == '1' || user.user_type == 3">
						<div class="xkd-myzone-desbox color-blue"><i class="icon-hiicons_workbook"></i></div>
						<p>办公手册</p>
					</div>
				</div>
			</div>
			<div class="bg-white XKD-companyBasis b-b-gyay m-t-15 padding-t-5 padding-l-15 padding-b-5">
					<h4>
						<div class="pull-left strat-to-work-left-box m-r-5 m-t-5 bg-blue"></div>
						<b class="fontsize-14 bg-white">我的服务</b>
					</h4>
				</div>
			<div class="row row-center XKD-companyBasis bg-white padding-none">
				<div class="col b-r">
					<a class="text-center" ng-click="expressform()">
						<p><i class="icon-hiicons_mypackage"></i></p>
						<p>快递</p>
					</a>
				</div>
				<div class="col b-r">
					<a class="text-center" ng-click="maintenance()">
						<p><i class="icon-hiicons_fixaply"></i></p>
						<p>维修申请</p>
					</a>
				</div>
				<div class="col b-r">
					<a class="text-center" ng-click="cleaningappli()">
						<p><i class="icon-hiicons_clearaply"></i></p>
						<p>保洁申请</p>
					</a>
				</div>
				<div class="col">
					<a class="text-center" ng-click="personalservice()">
						<p><i class="icon-hiicons_srverHome"></i></p>
						<p>上门服务</p>
					</a>
				</div>
			</div>
<!-- 			<div class="row row-center XKD-companyBasis bg-white b-t padding-none b-b">
				<div class="col col-25 b-r" ng-show="">
					<a class="text-center" ui-sref="minerelease">
						<p><img src="img/newappIcons-16.png" height="32"></p>
						<p>我的网络</p>
					</a>
				</div>
			</div> -->
		</div>
	</ion-content>
</ion-view>


