
<ion-view view-title="商务">
		<ion-slide-box active-slide="1">
			
		<ion-slide>
			<div class="xkd-slidmenu-main padding-t-15 color-white">
				<div class="padding-t-15 padding-l-15">
					<div class="fontsize-20 padding-l-15">你好岛民，<span class="color-blue">许可人</span>
						<button class="button button-small button-calm xkd-slidemenu-btn">入驻会员</button>
					</div>
					<div class="fontsize-14 padding-l-15">欢迎进入您的智能办公空间</div>
					
				</div>
				<div class="m-t-15 fontsize-16 row">
					<div class="col text-right">您已成功接入网络</div> <div class="col text-left">当前网速为  2M/S</div> 
				</div>
				<div class="padding-t-25 row padding-l-15 padding-b-10 fontsize-16">
					<div class="col text-right">目前使用设备为 </div> 
					<div class="col color-blue text-left">
						<span class="">huawei 223434</span>
						<span class="">Ip233231212</span>
					</div>
				</div>
				<div class="padding-l-15 padding-b-10">
					<div class="button button-block xkd-button-gray xkd-slidmenu-msgbtn fontsize-14 color-white text-left">12:00 预约会议开始，请提前15分钟到场哦</div>
					<div class="button button-block xkd-button-gray xkd-slidmenu-msgbtn fontsize-14 color-white text-left">您购买的“云会员”服务即将到期，请及时续订哦</div>
				</div>
				
				<div class="xkd-slidmenu-iconbox">
					<div class="row">
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class=" ">开门</div>
						</div>
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class="">我的办公空间</div>
						</div>
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class="">我的快递</div>
						</div>
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class="">保洁申请</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class="">维修申请</div>
						</div>
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class="">咖啡点餐</div>
						</div>
						<div class="col">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon "></button>
							<div class="text-center">我的钥匙</div>
						</div>
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class="">我的订单</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-25 text-center">
							<button class="button icon ion-gear-a xkd-slidmenu-btnicon"></button>
							<div class="">我的余额</div>
						</div>
					</div>
				</div>
			</div>
		</ion-slide>
		<ion-slide>
				<div class="bar bar-header bar-dark padding-l-15 padding-r-15">
					<button class="button button-clear fontsize-14 font-family" ng-click="openModal('leftTop')" id="step1">
						{{currentCity.city_name}}&nbsp;
						<i class="ion-arrow-down-b"></i>
					</button>
						<!-- <h1 class="title">
							<img src="img/xkdlogo.png" height="56%" style="vertical-align: middle;">
						</h1> -->
					<button class="button button-clear " ng-click="searchClick()" id="step2">
						<i class="ion-ios-search-strong " style="font-size:26px"></i>
					</button>
				</div>

				<ion-content class="has-header bg-dark" overflow-scroll="false" lazy-scroll style="position:relative">


					<!-- <div ng-intro-options="IntroOptions" ng-intro-method="CallMe"
					 ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
					 ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
					 ng-intro-onafterchange="AfterChangeEvent"
					 ng-intro-autostart="ShouldAutoStart">
					</div> -->

					<ion-slide-box ng-if="bannerList.length>0" delegate-handle="bannerList" auto-play="true" does-continue="true" slide-interval=4000	show-pager="{{bannerList.length>1}}">
						<ion-slide ng-repeat="slide in bannerList track by $index" repeat-finish>
							<div class="box business-banner" ng-click="bannerClick(slide.banner_link)">
								<!-- <img ng-src="{{bannerPath + slide.banner_thumb}}" err-src="img/test.jpg"> -->
								<img image-lazy-src="{{bannerPath + slide.banner_thumb}}" err-src="img/test.jpg" image-lazy-loader="ios">
							</div>
						</ion-slide>
					</ion-slide-box>

					<!-- <div class="carousel-demo" >
						<ul rn-carousel rn-carousel-index="carouselIndex7" rn-carousel-buffered rn-carousel-on-infinite-scroll-right="loadNextImages()" rn-carousel-on-infinite-scroll-left="loadPreviousImages()" class="carousel5">
							<li ng-repeat="slide in bannerList track by slide.banner_id">
								<div ng-style="{'background-image': 'url(' + slide.banner_thumb + ')'}"	class="bgimage">
								#{{ slide.banner_id }}
								</div>
							</li>
						</ul>
						<div rn-carousel-indicators ng-if="slides7.length > 1" slides="slides7" rn-carousel-index="carouselIndex7"></div>
					</div> -->

					<!--服务分类	-->
					<div class=" business-warpbox bg-white overflow-hidden padding-10 m-b-10" id="step4">
						<div class="row row-center">
							<div class="col ">
								<a ui-sref="conferenceRoomList({store_id:currentStoreId})">
									<img src="img/icon-business-01.png"/>
									<p class="fontsize-12 color-black font-family">会议室</p>
								</a>
							</div>
							<div class="col ">
								<a ui-sref="roomList({store_id:currentStoreId,com_service_name:'办公室/位'})">
									<img src="img/icon-business-02.png"/>
									<p class="fontsize-12 color-black font-family">办公室/位</p>
								</a>
							</div>
							<div class="col ">
								<a ui-sref="roomList({store_id:currentStoreId,com_service_name:'灵活办公'})">
									<img src="img/icon-business-03.png"/>
									<p class="fontsize-12 color-black font-family">灵活办公</p>
								</a>
							</div>
						</div>
						<div class="row row-center">
							<div class="col ">
								<a ui-sref="roomList({store_id:currentStoreId,com_service_name:'定制办公'})">
									<img src="img/icon-business-04.png"/>
									<p class="fontsize-12 color-black font-family">定制办公</p>
								</a>
							</div>
							<div class="col ">
								<a ui-sref="spaceRoomList({store_id:currentStoreId})">
									<img src="img/icon-business-05.png"/>
									<p class="fontsize-12 color-black font-family">活动场地</p>
								</a>
							</div>
							<div class="col">
								<a ui-sref="intelligoo">
									<img src="img/icon-business-06.png"/>
									<p class="fontsize-12 color-black font-family">我的钥匙</p>
								</a>
							</div>
						</div>
						<div class="row row-center " on-tap="openModal('index')">
							<a class="XKD-boderwtop" style="margin:0 auto; width:90%;padding:0.5rem 0rem 0rem 0rem; ">查看所有分岛<i class="ion-ios-arrow-right m-l-5"></i></a>
						</div>
					</div>
					<!--今日推荐: 活动-->
					<div class="acticitBox business-warpbox bg-white	padding-5" ng-if="activityList.length > 0 &&(indexFrom=='leftTop'||currentCity.city_id=='-1')">
						<div class="row-center">
							<h4 ng-click="viewAllPosts()">推荐活动<i class="ion-android-arrow-forward m-l-5"></i></h4>
							<!-- <p>活动正在进行中，等你来玩</p> -->
						</div>
						<div ng-if="activityList.length == 1" ui-sref="activityitem({id:activityList[0].party_id,from:'tab.business'})">
							<!-- <img ng-src="{{activityList[0].listImgShow}}" err-src="img/test.jpg" class="xkd-business-activity-pic"> -->
							<img image-lazy-src="{{activityList[0].listImgShow}}" err-src="img/test.jpg" class="xkd-business-activity-pic" image-lazy-loader="ios">
							<div class="xkd-activeInfo">
								<div class="xkd-activeInfoCon" style="">
									<div class="xkd-recommend-list-title">{{activityList[0].title}}</div>
									<div class="xkd-recommend-list-Distance">距您：<span style="color:#F8A245">{{activityList[0].distance}}</span></div>
								</div>
								<div class="xkd-recommend-list-content">{{activityList[0].content}}</div>
								<div class="xkd-line-nowrap">
									<!-- <i class="ion-ios-pricetags-outline m-r-5"></i>美食 -->
									<i class="ion-ios-clock-outline m-r-5"></i>{{activityList[0].start_time}}
									<i class="ion-ios-location-outline m-l-5 m-r-5"></i>{{activityList[0].address}}
								</div>
							</div>
						</div>
						<div class="carousel-banner xkd-index-recommend-activity" ng-if="activityList.length > 1">
							<ul rn-carousel rn-carousel-loop rn-carousel-transition="slide" rn-carousel-index="carouselIndex1" class="carousel">
								<li ng-repeat="slide in activityList">
									<a ui-sref="activityitem({id:slide.party_id,from:'tab.business'})">
										<span ng-if="slide.status_text" class="xkd-activity-recommend-status-left-top {{slide.color}}">{{slide.status_text}}</span>
										<!-- <div class="bgimage"	db-url="{{slide.listImgShow}}" background-err-src="img/test.jpg"	ng-style="{'background-image': 'url('+ slide.listImgShow + ')'}"></div> -->
										<div class="bgimage" background-err-src="img/test.jpg" image-lazy-src="{{slide.listImgShow}}" image-lazy-background-image="true"></div>
										<div class="xkd-activeInfo">
											<div class="xkd-activeInfoCon" style="">
												<div class="xkd-recommend-list-title">{{slide.title}}</div>
												<div class="xkd-recommend-list-Distance">距您：<span style="color:#F8A245">{{slide.distance}}</span></div>
											</div>
											<div class="xkd-recommend-list-content">{{slide.content}}</div>
											<div class="xkd-line-nowrap">
												<!-- <i class="ion-ios-pricetags-outline m-r-5"></i>美食 -->
												<i class="ion-ios-clock-outline m-r-5"></i>{{slide.start_time}}
												<i class="ion-ios-location-outline m-l-5 m-r-5"></i>{{slide.address}}
											</div>
										</div>
									</a>
								</li>
							</ul>
			<!-- 				<div class="xkd-acticitav" rn-carousel-indicators ng-if="activityList.length > 1" slides="activityList" rn-carousel-index="carouselIndex1"></div> -->
						</div>
					</div>
					<!--今日推荐	:需求-->
					<div class="seviveBox business-warpbox padding-5 xkd-index-recommend-need" ng-if="needList.length > 0 &&(indexFrom=='leftTop'||currentCity.city_id=='-1')">
						<div class="row-center">
							<h4 ng-click="viewAllPosts()">推荐需求<i class="ion-android-arrow-forward m-l-5"></i></h4>
						</div>
						<div class="carousel-banner">
							<ul rn-carousel rn-carousel-loop rn-carousel-transition="slide" rn-carousel-index="carouselIndex2" class="carousel">
								<li ng-repeat="slide in needList" ui-sref="businessNeedsDetail({'com_needs_id':slide.com_needs_id,from:'tab.business'})">
									<div class="list" style="height:180px;background-color:white">
										<a class="item item-avatar xkd-business-need-title">
											<!-- <img ng-src="{{companyPath + slide.com_logo}}" err-src="img/icon_emptyPeron.png"> -->
											<img image-lazy-src="{{companyPath + slide.com_logo}}" err-src="img/icon_emptyPeron.png" image-lazy-loader="ios">
											<div class="neeSubTitCon">
												<div class="xkd-recommend-list-title">{{slide.com_needs_name}}</div>
												<div class="xkd-recommend-list-content">{{slide.cre_time}}</div>
											</div>
										</a>
										<div>
											<div class="needInfom m-b-15	m-t-15" >
												{{slide.content}}
											</div>
											
										</div>
									</div>
								</li>
							</ul>
							<!-- <div rn-carousel-indicators ng-if="needList.length > 1" slides="needList" rn-carousel-index="carouselIndex2"></div> -->
						</div>
					</div>
					<!--今日推荐	:服务-->
					<div class="business-warpbox bg-white m-t-10 padding-5" ng-if="serviceList.length > 0&&(indexFrom=='leftTop'||currentCity.city_id=='-1')">
						<div class="row-center">
							<h4 ng-click="viewAllPosts()">推荐服务<i class="ion-android-arrow-forward m-l-5"></i></h4>
							<div ng-repeat="item in serviceList track by $index" class="col col-50 pull-left" style="background:#fff;">
								<a ui-sref="businessProduct({'from':'tab.business','com_service_id':item.com_service_id})" style="display: block;width: 100%;padding-bottom: 60%;margin-bottom: -60%;">
									<!-- <img err-src="img/store4.jpg" height="140" width="140" ng-src="{{item.listImgShow}}" /> -->
									<!-- <img err-src="img/store4.jpg" image-lazy-src="{{item.listImgShow}}"> -->
									<div background-err-src="img/store4.jpg" image-lazy-src="{{item.listImgShow}}" image-lazy-background-image="true" style="width: 100%;padding-bottom: 60%;"></div>
									<div class="text-left xkd-recommend-list-title">{{item.com_service_name}}</div>
									<div class="text-left xkd-recommend-list-content"><i class="ion-ios-pricetag-outline m-r-5"></i>{{item.com_name}}</div>
									<div class="text-left xkd-recommend-list-content"><i class="ion-ios-location-outline m-r-5"></i>{{item.store_name}}</div>

								</a>
							</div>
							<br>
						</div>

					</div>
					<!-- 查看所有发布 -->
					<!-- <div class="business-warpbox bg-white m-b-15 row-center">
						<a class="item text-center xkd-business-more" ng-click="viewAllPosts()">查看所有</a>
					</div> -->

					<!-- <div class="m-t-10" ng-if="currentCity.city_name == '全国'" id="step5" ui-sref="detailintroduction">
						<img src="img/604773815326907850.jpg"	style="width: 100%">
					</div> -->

					<!-- 合作伙伴 -->
					<!-- <div class="bg-white m-t-10" ng-if="currentCity.city_name == '全国'" id="step5">
						<div class="padding-5">
							<h4 class="text-center font-family fontsize-16">合作伙伴</h4>
						</div>
						<ion-slide-box delegate-handle="partnerList" auto-play="true" does-continue="true" slide-interval=2000 show-pager="{{partnerList.length > 1}}">
							<ion-slide ng-repeat="partner in partnerList">
								<div class="row m-t-15 m-b-15">
									<div class="col-20 text-center" ng-repeat="cp in partner">
										<img ng-src="{{partnerPath}}{{cp.logo}}">
										<p class="m-b-15">{{cp.name}}</p>
									</div>
								</div>
							</ion-slide>
						</ion-slide-box>
						<ion-scroll direction="x" scrollbar-x="false">
							<div class="row text-center">
								<div class="col col-20" ng-repeat="cp in CoPartner">
									<img ng-src="{{partnerPath}}{{cp.logo}}" err-src="img/icon_empty_head.png" width="85%" class="rounded-500">
									<span class="company-name text-center fontsize-12">{{cp.name}}</span>
								</div>
							</div>
						</ion-scroll>
					</div> -->

				<!-- 推荐企业
				<div class="business-warpbox bg-white overflow-hidden padding-5 font-family" ng-if="currentCity.city_name == '全国'" id="step5">
					<div class="recommend">
					<h5>推荐企业</h5>
					</div>
					<div class="row row-center">
					<div class="col col-50">
						<a ui-sref="tab.communityactivity">
						<img src="img/test/1.jpg"/>
						</a>
					</div>
					<div class="col col-50">
						<a ui-sref="businessFindServiceList({type_id:'A'})">
						<img src="img/test/2.jpg"/>
						</a>
					</div>
					</div>
					<div class="row row-center">
					<div class="col col-50">
						<a ui-sref="tab.communityactivity">
						<img src="img/test/3.jpg"/>
						</a>
					</div>
					<div class="col col-50">
						<a ui-sref="businessFindServiceList({type_id:'A'})">
						<img src="img/test/4.jpg"/>
						</a>
					</div>
					</div>
				</div> -->

					<!--服务分类	-->

					<!-- <div class="business-warpbox bg-white overflow-hidden padding-5 padding-t-10" ng-if="currentCity.city_name != '全国'">
						<div class="col-25" ng-if="$index < 7" ng-repeat="type in serviceTypeList track by $index">
							<a ng-click="toServiceListPage(type)">
								<img src="img/{{type.icon_name}}"/>
								<p class="fontsize-12 color-black">{{type.service_type_des}}</p>
							</a>
						</div>

						 <div class="col-25" ng-show="showMore">
							<a ui-sref="businessService">
								<img src="img/icon-gd.png"/>
								<p class="fontsize-12">更多服务</p>
							</a>
						</div>
					</div> -->

					<!-- 推荐公司	-->
					<div class="m-t-15 b-t-none bg-white" ng-if="indexFrom=='index'&&currentCity.city_id != '-1'">
						<div class="padding-10" ng-show="recCompany">
							<h4 class="text-center font-family fontsize-16">推荐企业&nbsp;&nbsp;<i class="ion-arrow-right-b"></i></h4>
						</div>

						<ion-scroll direction="x" scrollbar-x="false" ng-show="recCompany">
							<div class="row text-center">
								<div class="col col-25" ng-click="showCompany(company.com_id)" ng-repeat="company in recomCompanyList" ng-if="company.status == 1" style="position:relative;">
									<!-- <img ng-src="{{companyPath}}{{company.com_logo_path}}" err-src="img/icon_empty_head.png" style="width: 54px;height:54px" class="rounded-500"> -->
									<img image-lazy-src="{{companyPath}}{{company.com_logo_path}}" err-src="img/icon_empty_head.png" style="width: 54px;height:54px" class="rounded-500" image-lazy-loader="ios">
									<span class="company-name fontsize-12">{{company.com_name}}</span>
								</div>
								<div class="col col-25" ui-sref="companylist">
									<img src="img/more.png" style="width: 54px;height:54px"><br>
									<span class="calm fontsize-12">查看全部</span>
								</div>
							</div>
						</ion-scroll>

					</div>
					<!-- 岛介绍	-->
					<div class="m-t-15 b-t-none bg-white" ng-if="indexFrom=='index'&&currentCity.city_id != '-1'">
						<div class="padding-10">
							<h4 class="text-center font-family	fontsize-16">{{introduction.store_name}}&nbsp;&nbsp;</h4>
						</div>
						<div class="business-banner " >
							<!-- <img ng-src="{{introductionPath}}{{introduction.store_photo_url}}" err-src="img/icon_empty.png"> -->
							<img image-lazy-src="{{introductionPath}}{{introduction.store_photo_url}}" err-src="img/icon_empty.png" image-lazy-loader="ios">
						</div>
						<div class="padding-25 fontsize-14 text-center">
							<span class="bg-gray" style="padding:3px">{{introduction.city_name}}</span>&nbsp;&nbsp;
							<span style="white-space: normal;" class="fontsize-bold fontsize-16">{{introduction.store_address}}</span>
							<p class="padding-t-10 fontsize-14 dark" style="white-space: normal;">
								{{introduction.introduction}}
							</p>
						</div>
						<div class="row">
							<div class="col col-30">
								<img src="img/circle.png" style="margin-top: 22%;margin-left: 20%">
							</div>
							<div class="col col-20" style="position: relative;">
								<!-- <img ng-src="{{peoplePath}}{{introduction.photo_url}}" err-src="img/icon_empty_head.png" width="100%" style="border-radius:100%;width: 56px;height:56px"> -->
								<img image-lazy-src="{{peoplePath}}{{introduction.photo_url}}" err-src="img/icon_empty_head.png" width="100%" style="border-radius:100%;width: 56px;height:56px" image-lazy-loader="ios">
							</div>
							<div class="col col-30">
								<img src="img/circle2.png" style="margin-top: 22%;margin-left: 10%">
							</div>
						</div>
						<div class="text-center">
							<p style="margin-bottom: 2px">我是{{introduction.store_name}}店长<strong class="calm">{{introduction.user_name}}</strong>，我在侠客岛等你来</p><br>
							<p><i class="ion-ios-telephone fontsize-18"></i>&nbsp;<a href="tel:{{introduction.telephone}}">{{introduction.telephone}}</a></p><br>
						</div>
					</div>
			<!-- 	<i ng-click="scrollTop()" ng-if="currentCity.city_name != '全国'" class="ion-android-arrow-up back-top rounded-500 text-center" style="position:absolute;right:30px;bottom:60px;font-size:30px;"></i> -->
			<!-- </ion-side-menu-content>
			
				左侧菜单
				<ion-side-menu side="left" class="xkd-slidemenu-main padding-15 color-white" width="400px" isEnabled="false">
				
				</ion-side-menu>
			</ion-side-menus> -->

			</ion-content>
		</ion-slide>
	</ion-slide-box>

</ion-view>