<ion-header-bar align-title="center" class="bar-balanced">
	<!-- 
	<div class="buttons">
		<button class="button" ng-click="doSomething()">左侧按钮</button>
	</div> -->
	<h1 class="title">服务</h1>
	<div class="buttons">
		<button class="button">右侧按钮</button>
	</div>
</ion-header-bar>


<ion-view view-title="服务">
	<ion-content ng-controller="ServiceCtrl">
		<div class="row">
			<div class="col col-33">扫描开门</div>
			<div class="col col-33">扫描开门</div>
			<div class="col col-33">扫描开门</div>
		</div>
	</ion-content>
</ion-view>
