<div class="chat-content-wrap right ">
<p class="m-n" >
							<span class="cricleplay ng-binding">
								<span class="chat-large left chat-animation-none" ng-class="{'chat-large-playing': isPlaying &amp;&amp; thisSendTime==message.send_time,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-middle left chat-animation-none" ng-class="{'chat-middle-playing': isPlaying &amp;&amp; thisSendTime==message.send_time,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-small left"></span>
								3''
							</span>
						</p>
					</div>

<!-- 

<div class="chat-item-wrap">
	<a class="pull-left">
		<img class="chat-head-img left" src="img/icon_empty_head.png">
	</a>
	<div class="chat-content-wrap left">
		<span class="arrow left"></span>
		<p class="m-n">
			<span>
				sfdadfa
			</span>
		</p>
	</div>
	<small class="chat-time"> 2 minutes ago</small>
</div>

<div class="chat-item-wrap padding-r-none" style="clear:both">
	<div class="">
	<a class="pull-right">
		<img class="chat-head-img right" src="img/icon_empty_head.png">
	</a>
	<div class="chat-content-wrap right pull-right">
		<span class="arrow right"></span>
		<p class="m-n">
			<span>
				sfdadfa
			</span>
		</p>
	</div>
	<small class="chat-time right" style="clear:both">1 minutes ago</small>
	</div>

</div>


<div class="chat-item-wrap padding-r-none" style="clear:both">
	<div class="pull-right">
	<div class="chat-content-wrap right">
		<span class="arrow right"></span>
		<p class="m-n">
			<span>
				sfdadfa
			</span>
		</p>
	</div>
	<a >
		<img class="chat-head-img right" src="img/icon_empty_head.png">
	</a>
	<small class="chat-time right">1 minutes ago</small>
	</div>
</div>

<div class="chat-item-wrap padding-r-none" style="clear:both">
	<div class="pull-right">
		<div class="chat-content-wrap right">
			<span class="arrow right"></span>
			<p class="m-n">
				<span>
					sfdadfa
				</span>
			</p>
		</div>
		<a >
			<img class="chat-head-img right" src="img/icon_empty_head.png">
		</a>
		<small class="chat-time right">1 minutes ago</small>
	</div>
</div>

<div class="chat-item-wrap padding-r-none" style="clear:both">
	<div class="pull-right">
		<div class="chat-content-wrap right">
			<span class="arrow right"></span>
			<p class="m-n">
				<span class="cricleplay">
					3''
					<span class="chat-small"></span>
					<span class="chat-middle" ></span>
					<span class="chat-large"></span>
				</span>
			</p>
		</div>
	<a >
		<img class="chat-head-img right" src="img/icon_empty_head.png">
	</a>
	<small class="chat-time right">1 minutes ago</small>
</div>
</div>

<div class="chat-item-wrap padding-r-none" style="clear:both">
	<div class="pull-right">
	<div class="chat-content-wrap right">
		<span class="arrow right"></span>
		<p class="m-n">
			<img class="chat-image-style" src="img/icon_empty_img.png" class="img-circle" alt="...">
		</p>
	</div>
	<a >
		<img class="chat-head-img right" src="img/icon_empty_head.png">
	</a>
	<small class="chat-time right">1 minutes ago</small>
</div>
</div> -->

<!-- 
<div>
	<img class="chat-profile-pic left" src="img/icon_empty_head.png" style="display: inline-block;">
	<div class="chat-bubble left">
			<p>123</p>
	</div>
	<small style="display:block;text-align:left">刚刚</small>
</div>

<div>
	<div class="chat-bubble right">
		<p>
			<img class="chat-image-style" src="img/icon_empty_img.png" ng-click="showPic(message.message_content)" ng-cloak>
		</p>
	</div>
	<img class="chat-profile-pic right"src="img/icon_empty_head.png" style="display: inline-block;" ng-cloak>
	<small style="display:block;text-align:right">刚刚</small>
</div>
 -->


