<ion-view view-title="侠客寓" ng-controller="XiaKeYuCtrl" style="font-family:微软雅黑;">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.business">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">侠客寓</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-white xkd-feedback-padding" id="xkd-feedback">
		<div class="xkd-feedback-b-b-d m-b-10">
			<h4>侠客寓：给租房者不一样的家，不一样的公寓<br/>为了感恩回馈侠客岛入驻企业，现只对入驻企业开放预约报名：</h4>
			<p style="text-indent:2em;">报名请如实填写下方报名字段，我们将在报名后与你取得联系，感谢您对侠客岛的支持！相关问题咨询请拨：400-900-9088</p>
		</div>
		<form name="form" >
			<div class="form-group">
				<p class="fontsize-bold">公司名称<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="item.com_name" class="xkd-feedback-w-full">
				</div>
			</div>
			<div class="form-group">
				<p class="fontsize-bold">姓名<span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="item.name" class="xkd-feedback-w-full">
				</div>
			</div>
			<div class="form-group">
				<p><span class="fontsize-bold">联系方式</span><span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b">
					<input type="text" ng-model="item.mobile" maxlength="11" class="xkd-feedback-w-full">
				</div>
			</div>
			<div class="form-group">
				<p><span class="fontsize-bold">起租日期</span><span class="xkd-text-danger">*</span></p>
				<div class="xkd-feedback-b" ng-click="dateClick()">
					<input type="text" ng-model="item.lease_time" class="xkd-feedback-w-full">
				</div>
			</div>
			<div class="padding">
			<button class="button button-assertive button-block" ng-click="uploadInfoClick()">提交</button>
		</div>
		</form>
	</ion-content>
</ion-view>
