<ion-view title="Scrollable Tabbed Slide box">
	<ion-header-bar align-title="center" class="bar bar-header bar-light">
		<button class="button button-icon icon" ui-sref="about">
			<i class="ion-chevron-left color-blue"></i>
		</button>
		<h1 class="title color-black">新功能介绍</h1>
		<!-- <div class="pull-right button button-clear m-r-10" ui-sref="postdynamic" ui-sref="postdynamic">清空</div> -->
	</ion-header-bar>
	<ion-content class="has-header bg-white">
		<h4 class="text-center">侠客岛里1.1.0版本新功能介绍</h4>
		<div class="item b-none">
			<h4>
				<div class="pull-left strat-to-work-left-box m-r-5 bg-blue"></div>
				<b class="fontsize-14 bg-white">我的钥匙</b>
				<!-- <span class="color-gray  fontsize-12 m-l-5 ">Strat to work</span>
				<span class="pull-right color-gray fontsize-14" ui-sref="myofficezone">更多&nbsp;+</span> -->
			</h4>
			<div class="m-b-15">
				<i class="ion-arrow-right-c"></i>
				<span class="fontsize-12">预订会议室/场地，选择开门，点击开门</span>
			</div>
			<img src="img/aboutnewfunction/aboutkey1.png" style="width: 40%">
			<img src="img/aboutnewfunction/aboutkey2.png" style="width: 40%">
		</div>
		<div class="item b-none">
			<h4>
				<div class="pull-left strat-to-work-left-box m-r-5 bg-blue"></div>
				<b class="fontsize-14 bg-white">添加模块</b>
				<!-- <span class="color-gray  fontsize-12 m-l-5 ">Strat to work</span>
				<span class="pull-right color-gray fontsize-14" ui-sref="myofficezone">更多&nbsp;+</span> -->
			</h4>
			<div class="m-b-15">
				<!-- <p style="white-space:normal;">
					<i class="ion-arrow-right-c"></i>
					编辑功能，可添加自己感兴趣、需要的板块（会议室、代办、活动、天气等）
				</p> -->
				<i class="ion-arrow-right-c"></i>
				<span class="fontsize-12" style="word-break:normal; width:auto;white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;">编辑功能，可添加自己感兴趣、需要的板块（会议室、代办、活动、天气等）</span>
			</div>
			<img src="img/aboutnewfunction/aboutModule1.png" style="width: 40%">
			<img src="img/aboutnewfunction/aboutModule2.png" style="width: 40%">
		</div>
		<div class="item b-none">
			<h4>
				<div class="pull-left strat-to-work-left-box m-r-5 bg-blue"></div>
				<b class="fontsize-14 bg-white">场地服务</b>
				<!-- <span class="color-gray  fontsize-12 m-l-5 ">Strat to work</span>
				<span class="pull-right color-gray fontsize-14" ui-sref="myofficezone">更多&nbsp;+</span> -->
			</h4>
			<div class="m-b-15">
				<i class="ion-arrow-right-c"></i>
				<span class="fontsize-12">选择场地服务，生成工单，可在后台查看管理</span>
			</div>
			<img src="img/aboutnewfunction/aboutPlace1.png" style="width: 40%">
			<img src="img/aboutnewfunction/aboutPlace2.png" style="width: 40%">
		</div>
		<div class="item b-none">
			<h4>
				<div class="pull-left strat-to-work-left-box m-r-5 bg-blue"></div>
				<b class="fontsize-14 bg-white">我的/企业</b>
				<!-- <span class="color-gray  fontsize-12 m-l-5 ">Strat to work</span>
				<span class="pull-right color-gray fontsize-14" ui-sref="myofficezone">更多&nbsp;+</span> -->
			</h4>
			<div class="m-b-15">
				<i class="ion-arrow-right-c"></i>
				<span class="fontsize-12">我的：身份验证、加入企业</span>
			</div>
			<img src="img/aboutnewfunction/mine.png" style="width: 40%">
			<div class="m-b-15">
				<i class="ion-arrow-right-c"></i>
				<span class="fontsize-12">企业：、查看企业账单、福利；编辑企业资料</span>
			</div>
			<img src="img/aboutnewfunction/company.png" style="width: 40%">
		</div>
	</ion-content>
</ion-view>