<ion-view view-title="修改密码" ng-controller="ChangePassCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<button class="button button-clear" ng-click="myBack()">
			<i class="ion-chevron-left color-blue"></i>
		</button>
		<h1 class="title color-black">修改密码</h1>
	</ion-header-bar>

	<ion-content class="has-header">
		<div ng-hide="smsConfirmed">
			<div class="list regist-height">
				<div class="item item-input item-button-right" style="margin-bottom:8px;">
					<input type="passWord" placeholder="请输入原密码" maxlength="8" ng-model="password">
				</div>
				<div class="item item-input ">
					<input type="passWord" placeholder="请输入新密码" required maxlength="8" ng-model="passWord3">
				</div>
				<div class="item item-input ">
					<input type="passWord" placeholder="请再次输入新密码" required maxlength="8" ng-model="passWord3">
				</div>
			</div>
			<div class="padding-10">
				<button class="button button-block button-green button-regist" ng-click="change()">立即修改</button>
				<p style = "text-align:center;">注册即视为您同意本产品&nbsp;<span style="color:#11c1f3;" ng-click="tiaokuan()">《用户服务条款》</span></p>
			</div>
		</div>

	</ion-content>

</ion-view>