<style type="text/css">
	.label-height{
		padding-top: 6px !important;
		padding-bottom: 5px !important;
	}
</style>
<ion-view view-title="合作事项" ng-controller="CooMattersCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="bookform">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">合作事项</h1>
	</ion-header-bar>

	<ion-content class="bg-white">
		<div class="list list-inset m-t-15">
			<label class="item label-height" ng-repeat="matter in coomatters" ng-click="saveCooMatters(matter)">
				<span class="input-label">{{matter.coo_matters}}</span>
			</label>
		</div>
	</ion-content>
</ion-view>