
<ion-view view-title="兴趣爱好列表"  ng-controller="MineHobbiesController">
	<ion-header-bar align-title="center" class="bar-light">
		<!-- <div class="item-input-inset" ui-sref="minehobbies"> -->
		<div class="item-input-inset" ui-sref="profile">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">兴趣爱好列表</h1>
	</ion-header-bar>

	<ion-content class="has-header" style="background-color: #f0f3f4;">
		<div class="list">
			<label class="item item-divider">
				我的爱好
			</label>
			<div class="panel panel-default" style="border-bottom:1px solid #ddd;">
				<div class="panel-body padding-15" style="background-color:#fff;">
				<button ng-click="deletehobbies(h.interest_id,$index)" class="button button-small m-r-5 m-b-5" ng-repeat="h in hobbies" ng-class="{0:'button-balanced',1:'button-assertive',2:'button-energized',3:'button-calm',4:'button-positive',5:'button-dark',6:'button-royal'}[$index%7]">
					<i class="ion-ios-trash-outline m-l-10 m-r-10" ></i>{{h.interest_name}}
				</button>
				</div>
			</div>
		</div>

		<div class="list">
			<label class="item item-divider">
				添加标签
			</label>

			<div class="panel panel-default">
				<div class="panel-body padding-15" style="background-color:#fff;">
				<a class="button button-small button-stable m-r-5 m-b-5" ng-click="addhobbies('音乐')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10" ></i>音乐</a>
				<a class="button button-small button-positive m-r-5 m-b-5"  ng-click="addhobbies('徒步')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10"></i>徒步</a>
				<a class="button button-small button-calm m-r-5 m-b-5"  ng-click="addhobbies('运动')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10"></i>运动</a>
				<a class="button button-small button-balanced m-r-5 m-b-5" ng-click="addhobbies('健身')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10" ></i>健身</a>
				<a class="button button-small button-energized m-r-5 m-b-5"  ng-click="addhobbies('看书')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10"></i>看书</a>
				<a class="button button-small button-assertive m-r-5 m-b-5" ng-click="addhobbies('电影')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10" ></i>电影</a>
				<a class="button button-small button-royal m-r-5 m-b-5" ng-click="addhobbies('下棋')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10" ></i>下棋</a>
				<a class="button button-small button-dark m-r-5 m-b-5"  ng-click="addhobbies('瑜伽')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10"></i>瑜伽</a>
				<a class="button button-small button-stable m-r-5 m-b-5"  ng-click="addhobbies('游泳')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10"></i>游泳</a>
				<a class="button button-small button-positive m-r-5 m-b-5" ng-click="addhobbies('饮茶')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10" ></i>饮茶</a>
				<a class="button button-small button-calm m-r-5 m-b-5"  ng-click="addhobbies('舞蹈')" ng-disabled="isGuest"><i class="ion-ios-plus-empty m-l-10 m-r-10"></i>舞蹈</a>
				</div>
				</div>

			<div class="item item-input item-button-right">
				<input type="text" placeholder="其他" ng-model="addHob.name">
				<button class="button button-calm fontsize-14" ng-click="addOtherhobbies()" ng-disabled="isGuest">添加</button>
			</div>
		</div>
	</ion-content>
</ion-view>
