<ion-view view-title="身份验证" ng-controller="IdVerifyCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">身份验证</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-white has-tabs">
		<div ng-if="isIdCard">
			<p class="padding-15 m-b-none">
				<small>请上传身份证正反面，用于身份验证</small>
			</p>
			<!-- 身份证 -->
			<div class="list">
				<a class="item item-icon-right b-none" ng-click="getPic(1,1)">
					身份证--<small>正面照片一张</small>
					<i class="icon ion-ios-camera-outline"></i>
				</a>
				<div class="bg-dark" style="height: 200px;" ng-if="img.ID1.length == 0"></div>
				<ion-gallery ion-gallery-items="img.ID1" ion-gallery-item-edit="true" class="customer-gallery"></ion-gallery>
			</div>
			<div class="list">
				<a class="item item-icon-right b-none" ng-click="getPic(1,2)">
					身份证--<small>背面照片一张</small>
					<i class="icon ion-ios-camera-outline"></i>
				</a>
				<div class="bg-dark" style="height: 200px;" ng-if="img.ID2.length == 0"></div>
				<ion-gallery ion-gallery-items="img.ID2" ion-gallery-item-edit="true" class="customer-gallery"></ion-gallery>
			</div>
		</div>

		<div ng-if="!isIdCard">
			<p class="padding-15 m-b-none">
				<small>请上传三张正面清晰照，用于人脸识别门禁</small>
			</p>
			<!-- 人脸识别 -->
			<div class="list">
				<a class="item item-icon-right b-none" ng-click="getPic(2,3)">
					正面照片--<small>1张正面清晰照，用于门禁识别</small>
					<i class="icon ion-ios-camera-outline"></i>
				</a>
				<div class="bg-dark" style="height: 200px;" ng-if="img.photo1.length == 0"></div>
				<ion-gallery ion-gallery-items="img.photo1" ion-gallery-item-edit="obj.myFaceStatus == 3 ? false : true" class="customer-gallery"></ion-gallery>

			</div>
			<!-- 人脸识别 -->
			<div class="list">
				<a class="item item-icon-right b-none" ng-click="getPic(2,4)">
					正面照片--<small>1张正面清晰照，用于门禁识别</small>
					<i class="icon ion-ios-camera-outline"></i>
				</a>
				<div class="bg-dark" style="height: 200px;" ng-if="img.photo2.length == 0"></div>
				<ion-gallery ion-gallery-items="img.photo2" ion-gallery-item-edit="obj.myFaceStatus == 3 ? false : true" class="customer-gallery"></ion-gallery>

			</div>
			<!-- 人脸识别 -->
			<div class="list">
				<a class="item item-icon-right b-none" ng-click="getPic(2,5)">
					正面照片--<small>1张您的美照，用于头像展示</small>
					<i class="icon ion-ios-camera-outline"></i>
				</a>
				<div class="bg-dark" style="height: 200px;" ng-if="img.photo3.length == 0"></div>
				<ion-gallery ion-gallery-items="img.photo3" ion-gallery-item-edit="obj.myFaceStatus == 3 ? false : true" class="customer-gallery"></ion-gallery>

			</div>
		</div>
	</ion-content>
	<div class="tabs bg-blue" ng-if="isIdCard && img.ID1.length > 0 && img.ID2.length > 0" ng-click="nextClick()">
		<a class="tab-item opacity">
			下一步
		</a>
	</div>
	<div class="tabs bg-blue" ng-if="!isIdCard && img.photo1.length > 0 && img.photo2.length > 0 && img.photo3.length > 0" ng-click="saveIdVerify()">
		<a class="tab-item opacity">
			完成 
		</a>
	</div>
</ion-view>
