<ion-view view-title="消息接收">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="minesetting">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">消息接收</h1>
	</ion-header-bar>

	<ion-content class="has-header  bg-dark">
		<div class="list" >
			<!-- <ion-toggle ng-repeat="item in settingsList"
				ng-model="item.checked" 
				ng-checked="item.checked">
				{{ item.text }}不接收任何消息
			</ion-toggle> -->
			<div class="item item-toggle m-t-15" >
				不接收任何消息
				<label class="toggle toggle-calm">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

		</div>
	</ion-content>
	
</ion-view>