<ion-view view-title="职业生涯" ng-controller="MineOccupCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.mine">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">职业生涯</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="list">
			<label class="item color-blue">
			基本信息
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;姓名:&nbsp;&nbsp;&nbsp;<a>{{my.full_name}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;性别:&nbsp;&nbsp;&nbsp;<a>{{my.sex == "1" ? "男" : "女"}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;工作年限:&nbsp;&nbsp;&nbsp;<a>{{my.work_experience}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;邮箱:&nbsp;&nbsp;&nbsp;<a>{{my.email||'无'}}</a></span>
			</label>
		</div>
		<div class="list">
			<label class="item item-button-right color-blue">
				工作经历
				<button class="button button-small button-calm" ui-sref="addoccup" style="font-size:14px;">
					<i class="icon ion-android-add"></i>
					&nbsp;添加
				</button>
			</label>
		<div class="list m-b-10" ng-repeat="item in workList">
			<label class="item item-input item-button-right">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;入职日期:&nbsp;&nbsp;&nbsp;<a>{{item.start_date}}</a>&nbsp;&nbsp;&nbsp;
				</span>
				<button class="button button-small ion-compose button-light" ng-click="editWorkClick(item)" style="font-size:14px;width:50px;">编辑</button>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;离职日期:&nbsp;&nbsp;&nbsp;<a>{{item.end_time}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;公司:&nbsp;&nbsp;&nbsp;<a>{{item.com_name}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;职位:&nbsp;&nbsp;&nbsp;<a>{{item.post_name}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default" style="margin-right:15px;">&nbsp;&nbsp;&nbsp;工作内容 :&nbsp;&nbsp;&nbsp;</span>
			</label>
			<label class="item item-input" style="border-top:none;">
				<!-- <span class="input-label" data-pack="default" style="margin-right:15px;"><a editable-radiolist="user.agenda" e-ng-options="s.value as s.text for s in agenda" style="white-space: normal;
						display: block;width:280px;" >{{item.content||'无'}}
				</a></span> -->
				<p style="white-space:pre-line;padding-bottom:10px;">{{item.content||'无'}}</p>
			</label>
		</div>
		</div>
		<div class="list">
			<label class="item item-button-right color-blue">
				教育经历
				<button class="button button-small button-calm" ui-sref="addedu" style="font-size:14px;"><i class="icon ion-android-add"></i>&nbsp;添加</button>
			</label>
		<div class="list m-b-10" ng-repeat="item in educationList">
			<label class="item item-input item-button-right">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;毕业日期:&nbsp;&nbsp;&nbsp;<a>{{item.end_date}}</a>&nbsp;&nbsp;&nbsp;
				</span>
				<button ng-click="editEducationModal(item)" class="button button-small ion-compose button-light" style="font-size:14px;width:50px">编辑</button>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;毕业学校:&nbsp;&nbsp;&nbsp;<a>{{item.school}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;专业:&nbsp;&nbsp;&nbsp;<a>{{item.Specialty}}</a></span>
			</label>
			<label class="item item-input">
				<span class="input-label ion-pricetag" data-pack="default">&nbsp;&nbsp;&nbsp;学位:&nbsp;&nbsp;&nbsp;<a>{{item.type}}</a></span>
			</label>
		</div>
		</div >
	</ion-content>
</ion-view>