<ion-view view-title="兴趣爱好" ng-controller="MineHobbiesController">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="profile">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">兴趣爱好</h1>
	</ion-header-bar>

	<ion-content class="has-header" style="background-color: #f0f3f4;">
		<div class="list m-l-15 m-r-15 m-t-15">
			<button  class="item button  m-t-10 m-l-10 m-r-10" ng-repeat="h in hobbies" ng-class="{0:'button-balanced',1:'button-assertive',2:'button-energized',3:'button-calm',4:'button-positive',5:'button-dark',6:'button-royal'}[$index%7]">
				{{h.interest_name}}
			</button>
			<button class="button ion-ios-color-wand m-l-10 m-r-10 m-t-10" ui-sref="hobbieslist">
			</button>
		</div>
	</ion-content>
</ion-view>