<ion-view view-title="编辑工作经历" ng-controller="EditOccupCtrl" style="font-family:微软雅黑;">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="profile">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">编辑工作经历</h1>
		 <button class="button button-clear" ng-click="saveWorkClick()">确定</button>
	</ion-header-bar>

	<ion-content class="has-header bg-white">
	<div class="list">
		<label class="item item-input">
			<input type="text" ng-model="work.com_name" placeholder="公司名称" ng-maxlength="20">
		</label>

		<label class="item item-input">
			<input type="text" ng-model="work.post_name" placeholder="职位" ng-maxlength="20">
		</label>

		<!-- <label class="item item-input" ng-click="showDate()">
			<input type="text" id="start_date" ng-model="work.start_date">
			<span class="item-note m-r-15" data-pack="default">入职日期</span>
		</label> -->
		<a class="item fontsize-14" ng-click="showDate()">
			<span id="start_date" ng-bind-html="work.start_date" ng-model="work.start_date"></span>
			<!-- <span class="item-note m-r-15" data-pack="default">入职日期</span> -->
		</a>

		<!-- <label class="item item-input" ng-click="showDate1()">
			<input type="text" id="end_time" placeholder="离职日期" ng-model="work.end_time">
			<span class="item-note m-r-15" data-pack="default">离职日期</span>
		</label> -->
		<a class="item fontsize-14" ng-click="showDate1()">
			<span id="end_time" ng-bind-html="work.end_time" ng-model="work.end_time"></span>
			<span ng-if="work.end_time == null">至今</span>
			<!-- <span class="item-note m-r-15" data-pack="default">离职日期</span> -->
		</a>

		<label class="item item-input">
			<textarea type="text" ng-model="work.content" placeholder="工作内容" rows='10'></textarea>
		</label>

	</div>
	<div class="padding">
		<button class="button button-assertive button-block" ng-click="deleteWorkClick()">删除</button>
	</div>
	</ion-content>

</ion-view>
