<ion-view view-title="我的设置" ng-controller="MineSettingCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.mine">
			<span>
				<i class="ion-chevron-left heroBlue"></i>
			</span>
		</div>
		<h1 class="title color-black">我的设置</h1>
	</ion-header-bar>

	<ion-content class="has-header">
		<div class="list" >

			<a class="item item-icon-right b-t-none"  ui-sref="about">
				关于岛里
				<i class="icon ion-chevron-right fontsize-14"></i>
				<span class="item-note" ng-if="thisVersion">当前V{{thisVersion}}</span>
			</a>
			<!-- <a class="item item-icon-right" ui-sref="updetepwd">
				修改密码
				<i class="icon ion-chevron-right fontsize-14"></i>
			</a> -->
		</div>
		<p class="logoutMsse">
			退出登录不会删除您的信息，您可在下次继续使用这个账号登录
		</p>
		<div class="padding ">
			<button class="button button-block ion-log-out button-calm bg-red" ng-click="logout()">
				退出登录
			</button>
		</div>
	</ion-content>

</ion-view>