<style type="text/css">
	.change{
		white-space: normal;
	}
	.a{
		display: inline-table;
		border-radius: 4px;
		padding-left: 2px;
		padding-right: 2px;
		margin:2px;
		color:white;
	}
	.strong{
		font-weight: bold;
	}
</style>
<ion-view view-title="公司" ng-controller="MineCtrl" on-swipe-right="dynamicOnSwipeRight()">
	<ion-header-bar align-title="center" class=" bar bar-header bar-dark has-tabs-top">
		<div class="row text-center color-white">
			<div class="col" ui-sref="tab.mine">我的</div>
			<div class="col" ui-sref="tab.company"><strong>公司</strong></div>
		</div>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="list" >
			<div class="item item-avatar bg-dark">
				<img ng-src="{{path.route_path}}{{path.com_logo_path}}{{response.comInfo.com_logo_path}}" err-src="img/icon_empty_head.png" alt="...">
				<h2 style="font-family:'微软雅黑';">{{response.comInfo.com_name}}</h2>
				<span class="change m-t-10">
						<small ng-class="{0:'calm-bg',1:'balanced-bg',2:'energized-bg',3:'assertive-bg',4:'royal-bg'}[$index%5]" class="a" ng-repeat="b in comBusinessLabelInfo">{{b.business_label_des}}
						</small>
				</span>
			</div>

			<a class="item item-icon-left" ui-sref="combase">
				<i class="icon ion-ios-glasses-outline"></i>
				基础信息
			</a>
			<a class="item item-icon-left" ui-sref="comaptitude">
				<i class="icon ion-ios-medical-outline"></i>
				资质信息
			</a>
			<a class="item item-icon-left" ui-sref="deptlist">
				<i class="icon ion-ios-people-outline"></i>
				组织架构
			</a>

			<a class="item item-icon-left m-t-15" ui-sref="companypublish({com_id:response.comInfo.com_id})">
				<i class="icon ion-ios-albums-outline"></i>
				需求管理
			</a>
			
			<a class="item item-icon-left " ui-sref="companyactivity">
				<i class="icon ion-ios-folder-outline"></i>
				活动管理
			</a>

			<a class="item item-icon-left" ui-sref="compost">
				<i class="icon ion-ios-compose-outline"></i>
				企业投递
			</a>

			<!-- <a class="item item-icon-left" ui-sref="comorders">
				<i class="icon ion-ios-list-outline"></i>
				企业订单
			</a> -->

			<a class="item item-icon-left m-t-15" ui-sref="comsetting">
				<i class="icon ion-ios-gear-outline"></i>
				设置
			</a>
		</div>
	</ion-content>
</ion-view>