<style type="text/css">

	.blue {
		background-color: blue;
	}

	.yellow {
		background-color: yellow;
	}

	.pink {
		background-color: pink;
	}
	.start-page{
		height:100%;
		text-align: center;
	}
	.slider-pager{
		bottom: 110px;
	}
	.customer-button {
		height: 50px;
		width: 45%;
		background: none;
		border: 1px #fff solid;
		color: #fff;
		font-size: 16px;
		border-radius: 5px;
	}
	.customer-div {
		width: 100%;
		position: absolute;
		bottom: 30px;
	}
</style>
<ion-view view-title="欢迎页" ng-controller="WelcomeController">
		<ion-slide-box active-slide="myActiveSlide" style="height:100%">
 			<ion-slide>
				<div class="start-page" style="background-image:url('img/start_01.png');background-repeat:no-repeat;background-position:center;background-size:cover">
			</div>
			</ion-slide>
			<ion-slide>
				<div class="start-page" style="background:url('img/start_02.png');background-repeat:no-repeat;background-position:center;background-size:cover">
			</div>
			</ion-slide>
			<ion-slide>
				<div class="start-page" style="background:url('img/start_03.png');background-repeat:no-repeat;background-position:center;background-size:cover">
				<div class="customer-div">
				  <button class="button button-block button-positive button-regist xkd-butShodow" ui-sref="about">返回岛里</button>
				</div>
			</div>
			</ion-slide>
		</ion-slide-box>
</ion-view>
