<ion-view view-title="组织架构" ng-controller="DeptListCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.mine({thisItem:1})">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">{{dept_name}}</h1>
		<div class="buttons" ng-if="loginUser.isManager">
			<div class="item-input-inset">
				<a class="color-blue fontsize-16" ng-click="memberList()">会员</a>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="has-header bg-dark" ng-class="{'has-footer': loginUser.isManager}">
	 	<div class="list b-t-none  m-b-none">
			<a class="item item-icon-right" ng-repeat="item in dataItems" ng-click="showChildDept(item)">
				{{item.dept_name}}
				<span class="item-note">
					<i class="icon ion-ios-arrow-right"></i>
				</span>
			</a>
		</div>

	 	<div class="m-t-15" ng-hide="isEmptyData && userItems.length==0">
			<ion-list>
				<ion-item class="item-thumbnail-left" ng-repeat="item in userItems" type="item-text-wrap" ng-click="personalListClick(item)">
					<img class="rounded-500" ng-src="{{photo_path}}{{item.one_inch_photo_url}}" err-src="img/icon_emptyPeron.png">
					<h2 class="m-t-15">{{item.full_name}}</h2>
					<p>{{item.post_name}}</p>
					<p>{{item.user_account}}</p>
				</ion-item>
			</ion-list>
		</div>
		<div class="text-center" ng-show="isEmptyData">
			<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"/>

		</div>
	</ion-content>
	<!-- <div class="tabs-striped tabs-bottom tabs-background-stable tabs-color-blue" ng-show="loginUser.isManager"> -->

	<div class="tabs tabs-icon-top xkd-botmButoon" ng-show="loginUser.isManager">
		<div class="business-product-footthree bg-blue fontsize-18" ui-sref="personaladd({dept_id:dept_id,dept_name:dept_name})">
			添加员工
		</div>
		<div class="business-product-footthree bg-blue fontsize-18" ng-click="deptadd()">
			添加部门
		</div>
		<div class="business-product-footthree bg-blue fontsize-18" ng-show="isShowChildDept" ui-sref="deptedit({dept_id:dept_id,dept_name:dept_name})">
			编辑部门
		</div>

	</div>

<!-- 	<div class="tabs-striped tabs-bottom tabs-background-stable tabs-color-blue" ng-show="loginUser.isManager">
		<div class="tabs b-t">
			<a class="tab-item" ui-sref="personaladd({dept_id:dept_id,dept_name:dept_name})">
				添加员工
			</a>
			<a class="tab-item b-l" ng-click="deptadd()">
				添加部门
			</a>
			<a class="tab-item b-l" ng-show="isShowChildDept" ui-sref="deptedit({dept_id:dept_id,dept_name:dept_name})">
				编辑部门
			</a>
		</div>
	</div> -->
</ion-view>
