<ion-view view-title="新增员工" ng-controller="PersonalAddCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="deptlist">
			<span>
				<i class="ion-chevron-left color-blue" ></i>
			</span>
		</div>
		 <h1 class="title color-black fontsize-16">新增员工</h1>
	</ion-header-bar>
	<ion-content class="has-header bar-dark">
		<div class="list">
			<label class="item item-input">
				<span class="input-label">姓名</span>
				<input type="text" ng-model="staff.full_name" placeholder="必填项">
			</label>
			<label class="item item-input">
				<span class="input-label">手机号</span>
				<input type="tel" ng-model="staff.mobile" placeholder="必填项" maxlength="11">
			</label>
			<label class="item item-input">
				<span class="input-label">职位</span>
				<input type="text" ng-model="staff.post_name" placeholder="必填项">
			</label>
			<label class="item item-input">
				<span class="input-label">部门</span>
				<span>{{dept_name}}</span>
			</label>
		</div>
		<div class="padding">
			<button class="button button-calm button-block" ng-click="addPersonalSave()">保存</button>
		</div>
	</ion-content>
</ion-view>