<ion-view view-title="员工详情" ng-controller="PersonalDetailCtrl">

	<ion-header-bar align-title="center" class="bar bg-light">
		<div class="item-input-inset" ng-click="topBack()">
			<a>
				<i class="ion-chevron-left color-blue"></i>
			</a>
		</div>
		<h1 class="title fontsize-16 color-black">员工详情</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
		<div class="list">
			<a class="item item-avatar">
				<img class="rounded-500"  ng-src="{{photo_path}}{{staff.one_inch_photo_url}}" err-src="img/icon_emptyPeron.png">
				<h2>{{staff.full_name}}</h2>
				<p>{{staff.short_name}}</p>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-person"></i>生日
				<span class="item-note">{{staff.birthday}}</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-heart"></i>
				婚姻状况
				<span class="item-note">{{staff.marital_status}}</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-university"></i>
				最高学历
				<span class="item-note">{{staff.education}}</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-person-stalker"></i>
				政治面貌
				<span class="item-note">{{staff.political_status}}</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-calendar"></i>
				职位
				<span class="item-note">{{staff.post_name}}</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-ios-person"></i>
				部门
				<span class="item-note">{{staff.dept_name}}</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-ios-person"></i>
				会员等级
				<span class="item-note">{{staff.member_text}}</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-ios-person"></i>
				管理员
				<span class="item-note" ng-if="staff.is_manager == 1">是</span>
				<span class="item-note" ng-if="staff.is_manager == 0">否</span>
			</a>
		</div>
		<div class="row" ng-show="loginUser.isManager">
			<div class="col">
				<button class="button button-block bg-gray ion-trash-a" ng-click="delUserModal()">
					删除
				</button>

			</div>
			<div class="col">
				<button class="button button-block button-calm ion-gear-b" ui-sref="personaledit({user_id:staff.user_id,dept_name:staff.dept_name})">
					编辑
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>