<ion-view view-title="用户条款" name="tiaokuan-view">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="login">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">用户服务条款</h1>
	</ion-header-bar>
	<ion-content >

	<div class="main">
	<div class="row">
		<div class="col-8">
			<article>
				<header >
					<h4 class="text-center">侠客岛里用户注册及服务协议</h4>
				</header>
			<div class="content padding-l-10 padding-r-10">
				<p style="font-size: 13px">欢迎您使用侠客岛里提供的服务（以下简称“服务”）！</p>
				<h4>重要提示：</h4>
					<p>请您在使用本软件及服务前仔细阅读并遵守《侠客岛里用户注册及服务协议》（以下简称“本协议”），协议内容具有严格的法律效力，请您审慎阅读并充分理解每一条款内容。如果您对本协议的任何条款表示异议，您可以选择放弃使用本软件及服务。当您按照相关页面提示完成注册程序或进行签署后，即视为您已知悉并同意本协议的全部内容，本协议即具有法律约束力。<br>
					若您对条款内容或含义有疑问，可提前通过侠客岛里客服或侠客岛联合办公室（新空间服务商）工作人员询问，当您违反相关条款时则不应以未阅读或不清楚条款含义等理由主张本协议无效或要求撤销本协议。您注册成功或开始使用服务后，无论是进入侠客岛联合办公室，还是在侠客岛里发布任何内容、进行操作，均意味着您完全接受本协议项下的全部条款。<br>
					本协议的任何一部分均十分重要并直接关乎您的权利与义务，郑重提示请您完整并审慎地阅读。</p>
					<h4>缔约方</h4>
					<p>本协议由通过侠客岛联合办公室官方网站、侠客岛里移动客户端软件及其他方式使用侠客岛里服务的用户（以下可简称“用户”或“您”）与成都侠客岛信息科技有限公司、成都侠客岛企业管理有限公司、成都侠客岛企业联合办公室管理有限公司及侠客岛联合办公室的其它为您实际服务的运营公司（以下可合称或单称为“侠客岛”）共同或单独缔结。</p>
					<h4>内容及效力</h4>
					<p>本协议内容包括本协议正文及所有侠客岛已经发布或将来可能发布的隐私政策、各项政策、规则、声明、通知、警示、提示、说明（以下简称“规则”）。前述规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。侠客岛有权根据需要不时制订、修改本协议及相关规则，变更后的协议和规则一经发布，立即取代原协议及规则并自动生效。如您不同意相关变更，应当选择立即停止使用服务，如您继续使用服务或进行任何活动，即表示您已接受经修订的协议和规则。</p>
					<h4>服务范围</h4>
					<p>1、侠客岛将提供移动客户端（iOS和Android版本）、PC端等各种形式服务软件（具体以侠客岛提供的为准），侠客岛会不断丰富您使用本服务的终端、形式等，如您已注册使用一种形式的服务，除侠客岛另有规定，则可以以同一账号使用其他版本服务，本协议自动适用于您对所有版本的软件和服务的使用，但定制版或具有特殊功能的版本除外。<br>
					2、侠客岛保留对终端或软件的名称、图标随时进行变更的权利，用户您对此不会提出异议。<br>
					3、若您备份本软件以作合法的使用，则软件副本必须包含原软件中含有的所有著作权信息，本条及本协议其他条款未明示授权的其他一切权利仍由侠客岛保留，您必须另外取得侠客岛的书面许可方可对软件相关权利予以行使。<br>
					4、本服务内容包含支持信息发布、服务交易、线上社交、在线客服等技术功能，相关功能服务可能根据用户需求的变化，随着因服务版本不同、或服务提供方的单方判断而被优化或修改，或因定期、不定期的维护而暂缓提供，或不断增加功能或版面。<br>
					5、侠客岛保留在任何时候自行决定对服务或服务任何部分及其相关功能、应用软件变更、升级、修改、转移的权利。用户同意，对于上述行为，侠客岛均不需通知，并且对用户和任何第三人不承担任何责任，用户若有异议，可选择停止使用服务，但甲方不因此承担任何违约责任。<br>
					6、您可以申请企业级用户账号，通过审核后可通过该账号上传和管理企业成员信息，邀请成员加入，实现内部人员子账号管理。如果您在使用本服务时接受邀请成为某企业团体成员或邀请其它成员加入您的企业时，您保证您和该成员在遵守本协议即侠客岛相关服务规范的同时，应按照企业级用户账号授权范围和规范使用服务，如您丧失您的企业或团体成员身份，侠客岛有权将基于该身份的服务内容一并删除。</p>
					<h4>注册及管理</h4>
					<p>1、您确认，您是合法且生命在存续中的自然人、法人或具有使注册用户受本协议条款约束的主体，当您阅读本协议、进行注册程序或实际使用侠客岛提供的各项服务时，您应具备完全民事权利能力且具有适应于所进行行为的民事行为能力。若您不符合上述主体资格，请勿使用服务，否则一切后果将由您与您的合法监护人承担。<br>
					2、您在注册时须向侠客岛或系统提交真实、有效、完整、准确的可反映您及您所代表主体的身份等各类信息，身份信息提交并经审核后，您将无权单方修改。您知悉并完全同意，您的身份信息、昵称、头像、介绍等信息不得冒充他人、不得违法或出现不符合公序良俗的信息，不得以任何形式侵犯他人的权益（包括但不限于商标权、名誉权、著作权等），必要时侠客岛有权要求您补充提交商标注册证书、相关行政许可资质等以确认您对相关内容的权利，否则侠客岛有权作出不予注册或注销账号的处理，由此产生的损失须您自行承担。您若使用手机号等内容进行注册确认，您承诺您所使用之手机号为归属于您并已实名认证的手机号，您不得冒用他人身份或号码进行注册，否则侠客岛有权作出不予注册或注销账号的处理，由此产生的损失须您自行承担。<br>
					3、您已充分理解并明确同意，您仅拥有所注册账号之使用权，所有权归侠客岛。该使用权归初始申请人，任何用户不得以任何方式转让或提供给他人使用，否则侠客岛有权随时收回或注销该账号，由此可能造成的对您使用的账号下的数据、信息等清空或丢失等损失，将由用户您自行承担。侠客岛将有权随时验证和确认您的身份，您应妥善保管您的账号与密码，并对任何利用该账号进行的一切行为（包括但不限于对终端显示的内容进行确认、提交文件、发布信息、发表评论、即时通信、发布与提供服务、响应需求、产生交易、分享图片与链接等）。若您丢失或被他人盗用账号密码等信息，您应当即时通知侠客岛，您同意并确认侠客岛不因此承担任何直接或间接的责任。若无法律明确规定或有效并可执行的判决/仲裁书，在未经过侠客岛书面明确同意的情况下，用户的账户、密码及由此产生的数据、信息不得以任何形式转让、转借、赠与或继承。若您长期（连续超过10个月）未登录所注册账号，侠客岛有权选择暂定或注销、收回您注册的账号，由此带来的责任与损失由您自行承担。<br>
					4、用户同意，任何情况导致账号被注销、收回的情形下，侠客岛有权删除账号相关内容及信息或根据需求对相关内容作出妥善处理而无需向任何一方承担任何责任。若账号为企业级，侠客岛有权解除或删除与该企业相关的全部信息（包括但不限于该企业项下的员工账号、子账号的全部数据与信息），侠客岛亦不向任何一方承担任何责任。<br>
					5、注册规范：<br>
					（1）用户名称必须真实且可查。<br>
					（2）用户业务范围应与所提交资料保持一致。<br>
					（3）用户的名称应具有合法性、可辨识性，并与有效证件所示保持一致。<br>
					（4）注册信息不得带有国家分裂、民族歧视、夸大宣传、欺骗、具有误导性或其它违反法律法规及社会公序良俗的信息。<br>
					6、有关认证，侠客岛有权要求用户提交包括但不限于：<br>
					（1）申请人的身份证件及申请人手持身份证照片。<br>
					（2）企业或其他组织的营业执照（无营业执照的组织提供其他合法有效的证件）原件扫描件或复印件盖公章的扫描件。<br>
					（3）其它侠客岛认为用户有必要提交的材料。<br>
					7、认证规则：<br>
					（1）用户上传的证件与资料必须清晰、真实、完整。<br>
					（2）用户填写的信息必须与上传的证件与资料保持一致。<br>
					（3）侠客岛有权根据实际需要要求用户补充提交资料与证明的权利，并保留决定认证是否通过的权利。<br>
					8、用户必须通过认证，才能正常地使用本软件及相关服务。
					</p>
					<h4>使用规范与规则</h4>
					<p>1、用户根据提示完成注册后（用户帐号和密码由用户个人保管），即可进入下一步——云会员申请；根据提示填写相关信息，并按规定支付云会员费用（19元/月），提交至侠客岛后台等待审核，审核通过即可成为侠客岛云会员；成为云会员后用户应当对以其用户帐号进行的所有活动和事件负法律责任。侠客岛保留随时对后续会员费用进行调整的权利，若用户对调整后费用有异议，可选择停止使用服务并按实结清费用。（具体会员费用以侠客岛届时公布为准，同时侠客岛保留对相关注册与申请流程进行修改、调整的权利）<br>
					2、您知悉并确认，不同等级、不同收费的用户获取的权限将可能有所不同，不同版本的软件功能亦有所不同，这将使您可使用的功能板块及服务与其它用户有所区别，也可能导致您实际使用的功能与服务侠客岛在广告、宣传过程中统一所示的功能与服务有所区别，您不会据此主张侠客岛违约或认为侠客岛宣传不实。<br>
					3、侠客岛里是一个可以进行信息分享、传播及获取的平台，用户注册成功或成为云会员或其它有权限的会员后通过侠客岛发表的信息为公开的信息，其他第三方均可以通过侠客岛里获取用户发表的信息，用户对任何信息的发表即认可该信息为公开的信息，并独立对此承担法律责任，任何用户对于不愿被他人获知的信息都不应在侠客岛里上进行发表/发布。<br>
					4、用户应自行承担因使用相关服务产生的费用，包括但不限于软件的使用可能产生上网流量费用或其它通信服务费用。<br>
					5、除非侠客岛另行同意或有明确说明，侠客岛为用户提供的本协议项下所述的服务，用户不能直接用于商业用途，其中，您及所代表的全部用户不得对侠客岛所供服务进行复制、出售、转让或用于其他任何商业目的。<br>
					6、用户您充分理解，侠客岛里仅为用户提供服务平台， 您将独立对利用侠客岛里从事的所有行为及后果承担责任，且须自行审慎判断来自其他用户的非法或不当行为/ 内容并自行承担风险。您承诺不得以任何方式利用侠客岛里直接或间接从事违反法律法规、社会公序良俗或违反侠客岛所发布规范的行为，侠客岛有权对违反上述承诺的内容予以删除并保留举报或向用户追究责任的权利，该类被禁止的行为包括但不限于：<br>
					（1）利用侠客岛里及相关服务制作、上载、复制、发布、传播或者转载包括但不限于如下不当内容内容：<br>
						反对宪法所确定的基本原则的；<br>
						危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
						损害国家荣誉和利益的；<br>
						煽动民族仇恨、民族歧视，破坏民族团结的；<br>
						破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
						散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
						散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
						侮辱或者诽谤他人，侵害他人合法权益的；<br>
						含有虚假、诈骗有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵等有违社会公序良俗的；<br>
						招募或劝诱他人从事恐怖活动、违法犯罪行为的；<br>
						其他含有法律、法规、条例及具有法律约束力之规范所禁止内容的。<br>
					（2）上传、发布、分享可能侵害他人权益的内容（包括但不限于商标权、著作权、商业秘密、专利权等）。<br>
					（3）利用侠客岛里获取的信息或直接通过侠客岛里以任何形式骚扰他人，或向他人发送大量信息或他人明确拒绝的内容。<br>
					（4）以非正常交流目的通过侠客岛里获取他人信息并滥用或从事违法犯罪活动或直接用于未经他人同意的商业目的。<br>
					（5）以超出正常用户之间的正常沟通交流、合法交易等目的，通过添加/关注、诱导他人添加/关注等形式与他人形成好友关系。<br>
					（6）在非侠客岛里指定区域或专属功能模块以任何形式发布或传播广告、推广、促销信息或发布和传播劝诱类资料。<br>
					（7）侠客岛里服务使用仅限于通用类的民商事、社交等活动，用户不应将本协议项下的任何服务用于军事、医疗、专业通讯、交通或其它任何具有特殊专业性质的事项，否则由此带来的一切后果由您自行承担。<br>
					（8）违反法律法规、部门规章、地方性法规、政策及其他规范性文件，侵害国家利益、社会利益、公共秩序与道德、信息真实性的行为。<br>
					7、您同意并承诺不得对侠客岛里软件及相关服务进行以下行为：<br>
					（1）以任何形式破坏或干扰本软件、服务相关的服务器、网络及其它链接的设备设施。<br>
					（2）以任何形式违背本软件、服务及其链接的网络、设备、通信运营商的规范与要求。<br>
					（3）以任何形式将可能破坏、干扰、限制计算机硬件、软件、通讯设备的计算机病毒、代码、文档、程序等内容进行上传、发布、传送、传播。<br>
					（4）以任何形式修改或伪造软件的代码、指令、数据，从而使本软件功能及构成有任何形式的改变。<br>
					（5）以任何形式教唆、教授他人对本软件及服务及其链接之网络、设备进行任何形式的改变、干扰、破坏。<br>
					（6）通过非经侠客岛同意的或授权的第三方软件、插件、程序等任何非官方形式登录和使用本软件及服务，或制造、发布、分享、传播、发送、教授相关工具与内容。<br>
					（7）利用或授权他人利用任何其他软件或工具对本软件或其任何构成进行干扰与破坏。<br>
					8、您知悉并同意，侠客岛并无义务时刻监控您和其他用户的操作及发布、分析、上传的信息与资料，您须自我监督与管控。但侠客岛有权收集和审查、监督您和其他用户在软件和服务中进行的任何操作及所上传、发布、分享、上传、传播的信息与资料，并有权采取包括但不限于随时删除信息、中止或终止服务、注销账号、依法举报或追究法律责任的措施。<br>
					9、您的账号或信息可能会被本软件及互联网中的其它用户搜索并获取，若您不希望被直接搜索，可在「个人设置」中修改「个人信息」部分的设置，对于站外的用户与搜索引擎，您的姓名会显示为「侠客岛用户」或其他代名，头像图片也将被隐藏。但侠客岛不能保证任何技术条件下该隐藏均有效，若隐藏失败，您不会据此以任何理由主张侠客岛的违约或赔偿责任。<br>
					10、您的账号所申请或管理的子账号用户在本软件及相关服务中的任何行为将由您承担无限连带责任，任何给侠客岛或第三方造成的损失将由您及直接责任人共同承担赔偿责任。<br>
					11、您十分了解，且经审慎考虑后同意，您须为您注册的账号下的一切行为承担责任，包括该账号所发布的任何内容或进行的任何操作，您所进行的行为和通过本软件及服务获取的任何内容都须您自我进行审慎判断，并自行承担由此带来的风险。您将不会以对在本软件及服务中获取的信息的准确性、完整性、真实性的判断失误或认为您是因侠客岛而对信息产生信任为由主张侠客岛应为此承担任何责任。侠客岛已明确告知并经得您同意，侠客岛不会对前述任何信息作出保证，更不会对您因前述任何风险而导致的任何损失承担任何责任。<br>
					12、侠客岛有权在发现或收到他人举报您存在违反本协议约定及法律法规时，不经通知和您的同意而随时对相关内容进行删除或屏蔽，同时有权选择注销、收回、中止、中止您的本软件账号及服务且不一定已完全核实相关事实，并保留追究法律责任的权利。侠客岛同时有权以任何形式通知侠客岛关联公司或合作方终止对您的服务并在网站或其他渠道公示您的违约情况。您充分知悉，因您违约而导致侠客岛采取任何措施的，侠客岛不因此赔偿或退还您无法使用本软件及服务期间的费用，也无需承担任何责任。
					</p>
					<h4>重要提示：</h4>
					<p>请您在使用本软件及服务前仔细阅读并遵守《侠客岛里用户注册及服务协议》（以下简称“本协议”），协议内容具有严格的法律效力，请您审慎阅读并充分理解每一条款内容。如果您对本协议的任何条款表示异议，您可以选择放弃使用本软件及服务。当您按照相关页面提示完成注册程序或进行签署后，即视为您已知悉并同意本协议的全部内容，本协议即具有法律约束力。<br>
					若您对条款内容或含义有疑问，可提前通过侠客岛里客服或侠客岛联合办公室工作人员询问，当您违反相关条款时则不应以未阅读或不清楚条款含义等理由主张本协议无效或要求撤销本协议。您注册成功或开始使用服务后，无论是进入侠客岛联合办公室，还是在侠客岛里发布任何内容、进行操作，均意味着您完全接受本协议项下的全部条款。<br>
					本协议的任何一部分均十分重要并直接关乎您的权利与义务，郑重提示请您完整并审慎地阅读。</p>
					<h4>服务费用与说明</h4>
					<p>1、本软件及服务是具有收费权利和功能的软件，您可以通过本软件程序设置进行注册并使用本软件，但若您所能免费使用的版本及功能并不意味着侠客岛放弃后续进行收费的权利。侠客岛有权决定收费并提前3个工作日以上通知您收费标准，若您继续使用本软件及服务则代表您同意该收费标准并应按照提示和通知及时支付服务费用，否则侠客岛有权中止、终止服务并对您的账号及相关的全部信息、数据自行作出处理；若您无意愿付费，则应终止使用本软件及服务，但您所注册之账号及子账号下的信息、数据等侠客岛无义务向您拷贝或提供，且侠客岛有权对您的账号及相关的全部信息、数据自行作出处理。<br>
					2、您充分了解您免费使用的版本与功能将与付费会员有所区别，且侠客岛保留对任何收费标准进行随时调整的权利，但您已付费的期限不受影响。<br>
					3、用户需自行承担因使用本软件及服务可能产生的全部费用（包括但不限于通讯费、信息费、上网费、流量费）。<br>
					4、本软件及服务可能引入或接入第三方服务、软件或平台供您选择。您已知悉并同意，侠客岛及本软件仅作为平台供应者，相关软件或服务由第三方独立提供，侠客岛不因此承担任何责任。您需要自行审慎判断第三方服务、软件或平台是否具有风险并与其达成合意，相关费用由第三方自行收取。<br>
					5、您选择第三方软件或平台提供的服务时，本软件可能直接通过链接或其他方式跳转到其系统，但此并不代表该使用或访问结果由侠客岛作出，相关责任由第三方自行承担。第三方对所供服务进行调整、收费的，由第三方自行负责解释与责任承担。</p>
					<h4>重要提示：</h4>
					<p>请您在使用本软件及服务前仔细阅读并遵守《侠客岛里用户注册及服务协议》（以下简称“本协议”），协议内容具有严格的法律效力，请您审慎阅读并充分理解每一条款内容。如果您对本协议的任何条款表示异议，您可以选择放弃使用本软件及服务。当您按照相关页面提示完成注册程序或进行签署后，即视为您已知悉并同意本协议的全部内容，本协议即具有法律约束力。<br>
					若您对条款内容或含义有疑问，可提前通过侠客岛里客服或侠客岛联合办公室工作人员询问，当您违反相关条款时则不应以未阅读或不清楚条款含义等理由主张本协议无效或要求撤销本协议。您注册成功或开始使用服务后，无论是进入侠客岛联合办公室，还是在侠客岛里发布任何内容、进行操作，均意味着您完全接受本协议项下的全部条款。<br>
					本协议的任何一部分均十分重要并直接关乎您的权利与义务，郑重提示请您完整并审慎地阅读。</p>
					<h4>数据与隐私</h4>
					<p>1、您的账号将通过您所设置的密码进行最基本与必要的隐私保护，请您一定妥善保管您的账户及密码以免威胁您的信息资料安全。<br>
					2、侠客岛将尽力通过技术、管理等措施保护您的信息安全，加强硬件及人员管理从而尽力保护您的数据不被外泄或遗失。但计算机技术及网络信息中不存在绝对安全的保障，请您应自行妥善保管您的资料与信息，对重要信息与数据应及时备份而不依赖于本软件进行保存。对于您自身原因导致的信息与数据遗失、被盗、或删除、储存失败将由您自行承担风险与责任。<br>
					3、您充分了解并同意，您自愿加入侠客岛对入驻企业的行为分析与报告计划。在不违反法律法规禁止性条款的情况下，出于对用户的保护及大数据的需求，侠客岛有权对用户的操作、行为（线上线下）、数据、信息、资料进行储存和收集，并在法律允许的范围内进行查看、审查、分析、使用。相关数据的收集、分析、使用的过程、对象与结果，侠客岛无需告知并另行取得您的同意。除非侠客岛未经您的同意直接违反法律禁止性规范并直接造成了您的损失，否则您不得据此以任何理由主张侠客岛承担任何责任。<br>
					4、您知悉并同意，侠客岛有权根据自身经营情况决定您在本软件及服务中的数据的存储空间与存储期限，您理解并同意不会因此而主张侠客岛的任何违约责任或其他任何责任。
					</p>
					<h4>知识产权</h4>
					<p>1、您知悉并明确同意，除非侠客岛另有说明，本协议项下的软件及服务包含的所有产品、技术、软件、程序、数据及其他信息（包括但不限于文字、图像、图片、照片、音频、视频、图表、色彩、版面设计、电子文档）的所有知识产权（包括但不限于版权、商标权、专利权、商业秘密等）及相关权利均归侠客岛所有。您保证除非得到侠客岛书面明确的授权，不得对相关内容进行包括但不限于出售、转借、复制、修改、转载、发表、出版、反向汇编、反向编译等行为。<br>
					2、本软件所示名称、Logo或其他形式的展示均为侠客岛所申请商标或具有著作权之内容，未经侠客岛书面明确授权，任何用户不得以任何形式对外展示、处理或称有权处理和展示之用。<br>
					3、您知悉并同意，侠客岛在宣传和推广中有权使用您的名称、Logo、商标，但限于表明您为侠客岛的用户或合作伙伴，侠客岛不得用以损害您利益的途径。<br>
					</p>
					<h4>侵权与举报</h4>
					<p>1、处理原则<br>
					本软件作为信息开放、信息共享社区，高度重视个人、企业正当权利的平衡与保护，侠客岛有权主动或接受举报对侵权或违规信息进行任何形式的处理。<br>
					2、受理范围<br>
					侠客岛受理本软件内侵犯企业、组织或个人合法权益的举报，包括但不限于涉及个人隐私、造谣与诽谤、商业侵权等，具体的：<br>
					a)涉及个人隐私：发布内容中直接涉及身份信息，如个人姓名、家庭住址、身份证号码、工作单位、私人电话等详细个人隐私；<br>
					b)造谣、诽谤：发布内容中指名道姓（包括自然人和企业）的直接谩骂、侮辱、虚构中伤、恶意诽谤等；<br>
					c)商业侵权：泄露企业商业机密及其他根据保密协议不能公开讨论的内容。<br>
					d)其他法律法规禁止或违背社会公序良俗的内容。<br>
					3、举报须知<br>
					如果您发现其他任何用户在本软件使用过程中存在侵犯您合法权益或违规的内容，请与侠客岛取得联系（举报邮箱：         ）。为保证问题能够及时有效地处理，请务必提交真实有效、完整清晰的材料，否则侠客岛有权不予受理。请在举报时提交以下内容：<br>
					a)举报人对涉嫌侵权内容拥有商标权、著作权和/或其他依法可以行使权利的权属证明；如果举报人非直接权利人，请举报人提供代表相关权利人进行举报的书面授权证明。<br>
					b)充分、明确地描述侵犯了权利人合法权益的内容，提供涉嫌侵权内容在本软件上的具体页面地址，指明涉嫌侵权内容中的哪些内容侵犯了上述列明的权利人的合法权益；<br>
					c)权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件；<br>
					d)在侵权举报中加入如下关于举报内容真实性的声明：<br>
					我本人为所举报内容的合法权利人或代表人；我举报的发布在该软件中的内容侵犯了本人或本人所代表权利人相应的合法权益；如果本侵权举报内容不完全属实，本人将承担由此产生的一切法律责任。<br>
					4、处理流程<br>
					用户您知悉和明确，侠客岛收到完整真实的举报邮件后会安排处理，但处理期间，不提供任何电话、邮件及其他方式的查询服务。因为百度、谷歌等搜索引擎自带缓存，用户您知悉若出现侠客岛已经删除或处理的内容但是百度、谷歌等搜索引擎依然可以搜索到的情况，此类问题侠客岛无权也无法处理，因此相关申请不予受理，且侠客岛不因此承担任何责任。用户在使用本软件及服务中的行为引发的法律纠纷，由所涉方自行处理，与侠客岛无关。
					</p>
					<h4>免责声明</h4>
					<p>1、因不可抗力导致无法提供服务、延迟服务、服务有改变的，侠客岛不因此承担任何违约责任也无需退还任何费用。不可抗力包括但不限于战争、自然灾害、互联网的故障、计算机系统及设备的故障、电力故障、暴乱、政治因素、法规与政策限制、火灾、爆炸、司法强制要求、国际组织的命令与规则等。<br>
					2、您可获得的任何服务均以届时实际所得为准，侠客岛有权对本软件及相关服务随时做出调整。侠客岛对任何版本的软件功能和服务内容不作任何保证，也声明无法确保软件及服务的可靠性、准确性、持续性、稳定性、及时性、适用性或做出类似的保证与声明。<br>
					3、任何情况下，侠客岛的责任仅限于侠客岛直接对用户造成的直接损害。对于任何间接的、第三方造成的、惩罚性的、突发性的、不可预见的、不可控制的损失以及用户的利润、利息损失、可期利益的损失，侠客岛均无需承担任何责任。<br>
					4、用户在使用本软件及服务前，应了解、理解并同意，互联网、信息技术及整体社会和法律环境的原因下，您在软件和服务使用过程中上传、发布或分享的信息与资料可能会被他人以各类方式复制、转载、修改或用以非法途径，您知悉并充分了解该类风险的客观存在，并确认所有风险由您自行承担，侠客岛任何情况无需对此承担任何责任。<br>
					5、用户在本软件发表的内容仅表明其个人的立场和观点，并不代表侠客岛的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。侠客岛不承担任何法律及连带责任<br>
					6、因在使用本软件及服务过程中受到来自他方的不恰当、不良的信息或任何权利侵犯，或存在被期满、欺诈的风险均应由您自行承担，侠客岛不因此作出任何保证并承担责任。
					</p>
				<h4>违约责任</h4>
					<p>您同意，因您违反本协议项下任何内容，而导致侠客岛利益受损，侠客岛相关主体或关联公司均有权单独或共同采取任何措施或直接索赔或主张任何权利，您同意将承担全部的责任（赔偿中包括但不限于侠客岛损失、第三方索赔/处罚、侠客岛由此产生的诉讼费及律师费）。</p>
				<h4>通知与送达</h4>
					<p>1、侠客岛有权通过包括但不限于本软件内的页面公告、消息、提示以及您预留的电子邮箱、手机短信、通讯地址发出任何有效的通知，相关通知自发送之日起视为送达并生效。您不得以未查看或预留错误为由主张未收到通知。<br>
					2、您向侠客岛发出的任何通知应通过侠客岛官方公布的并明确告知您可以接受相关通知的邮箱或地址、方式进行。
					</p>
				<h4>附则</h4>
					<p>1、本协议的解释适用中华人民共和国大陆地区法律。若发生争议，应协商解决；协商不成的，可向成都市高新区所在地人民法院提起诉讼。<br>
					2、用户停止使用本软件及服务并不代表可对已产生或可能产生的责任免除。<br>
					3、本协议中部分条款被判定为无效的，并不影响其他条款的效力与执行。<br>
					4、本协议达成之前的任何谈判、口头与书面协议均由被协议替代，内容以本协议为准。<br>
					5、侠客岛有权将本协议项下的权利与义务转让给第三方并通知用户，用户对此知悉并同意。<br>
					</p>
			</div>
			</article>
		</div>
	</div>
	</div>
	</ion-content>
</ion-view>
