<ion-view view-title="预约入场" ng-controller="OrderVisitCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">预约入场</h1>
	</ion-header-bar>

	<ion-content class="bg-white">
		<div class="bg-divide">
			<div class="calm title-word-3">
				预约入场
				<p class="note m-t-5">请留下您的意向分岛办公寻求等信息，小师妹会尽快联系您~</p>
			</div>
		</div>
		<div class="list list-inset m-t-15">
			<label class="item item-input item-icon-right" ng-click="showDate()">
				<span class="input-label label-width-1">预定日期<i class="energized dot">*</i></span>
				<span class="border-center">{{order.appointment_time}}</span>
				<i class="icon ion-android-calendar calm marks"></i>
			</label>
			<label class="item item-input">
				<span class="input-label label-width-2">大侠姓名<i class="energized">*</i></span>
				<input type="text" ng-model="order.user_name" placeholder="请输入您的姓名" class="border-center">
			</label>
			<label class="item item-input">
				<span class="input-label label-width-2">大侠联系方式<i class="energized">*</i></span>
				<input type="text" style="padding-right:0px !important;" ng-model="order.phone_number" placeholder="请输入您的联系电话" class="border-center">
			</label>
			<label class="item item-input item-icon-right" ng-click="willingisland()">
				<span class="input-label label-width-2">意向分岛<i class="energized">*</i></span>
				<span class="border-center">{{order.store_name}}</span>
				<i class="icon ion-chevron-right mark-right"></i>
			</label>
		</div>

		<div class="padding">
			<button class="button button-calm button-block button-style" ng-click="saveorderMsg()">保存</button>
		</div>
	</ion-content>
</ion-view>