<ion-view view-title="加班登记" ng-controller="OvertimeRegistCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">加班登记</h1>
	</ion-header-bar>

	<ion-content class="bg-white">
		<div class="bg-divide">
			<div class="calm title-word-1">加班登记</div>
		</div>
		<div class="list list-inset m-t-15">
			<label class="item item-input">
				<span class="input-label label-width-1">加班人数<i class="energized">*</i></span>
				<input type="text" ng-model="overtime.people_number" placeholder="请输入人数" class="border-center">
			</label>
			<label class="item item-input item-icon-right" ng-click="showDate()">
				<span class="input-label label-width-1">加班日期<i class="energized">*</i></span>
				<span class="border-center">{{overtime.overtime_time}}</span>
				<i class="icon ion-android-calendar calm marks"></i>
			</label>
			<label class="item item-input item-icon-right" ng-click="showBegin()">
				<span class="input-label label-width-1">开始时间<i class="energized">*</i></span>
				<span class="border-center">{{overtime.start_time}}</span>
				<i class="icon ion-android-time calm marks"></i>
			</label>
			<label class="item item-input item-icon-right" ng-click="showEnd()">
				<span class="input-label label-width-1">结束时间<i class="energized">*</i></span>
				<span class="border-center">{{overtime.end_time}}</span>
				<i class="icon ion-android-time calm marks"></i>
			</label>
			<label class="item item-input item-icon-right" ng-click="willingisland()">
				<span class="input-label label-width-1">意向分岛<i class="energized dot">*</i></span>
				<span class="border-center">{{overtime.store_name}}</span>
				<i class="icon ion-chevron-right mark-right"></i>
			</label>
			<label class="item item-input">
				<span class="input-label">加班员工</span>
			</label>
			<label class="item item-input">
				<textarea rows="5" ng-model="overtime.overtime_staff" placeholder="请输入加班员工...(请耐心填写加班员工姓名和联系方式哦，如有重要通知会通知到登记号码)"></textarea>
			</label>
		</div>

		<div class="padding">
			<button class="button button-calm button-block button-style" ng-click="saveovertimeMsg()">保存</button>
		</div>
	</ion-content>
</ion-view>