<ion-view view-title="意向分岛" ng-controller="WillingIslandCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">意向分岛</h1>
	</ion-header-bar>

	<ion-content class="bg-white">
		<div class="list list-inset">
			<label class="item item-divider">
				<span class="calm island">成都</span>
			</label>
			<label class="item label-height row" ng-click="citySelect(2, '航天岛')">

				<span class="input-label col col-25 name">航天岛</span>
				<span class="input-label col col-65 address">成都市锦江区新光华街7号航天科技大厦43层</span>
				<label class="checkbox col col-10" ng-show="muiltIsland">
					<input type="checkbox" ng-checked="city[2]">
				</label>
			</label>
			<label class="item label-height row" ng-click="citySelect(5, '节能岛')">
				<span class="input-label col col-25 name">节能岛</span>
				<span class="input-label col col-65 address">成都市高新区翠华路89号1栋3单元3层1-8单元</span>
				<label class="checkbox col col-10" ng-show="muiltIsland">
					<input type="checkbox" ng-checked="city[5]">
				</label>
			</label>
			<label class="item label-height row" ng-click="citySelect(3, '磨子桥岛')">
				<span class="input-label col col-25 name">磨子桥岛</span>
				<span class="input-label col col-65 address">成都市武侯区一环路南二段6号附1号</span>
				<label class="checkbox col col-10" ng-show="muiltIsland">
					<input type="checkbox" ng-checked="city[3]">
				</label>
			</label>
			<label class="item label-height row" ng-click="citySelect(4, '菁蓉岛')">
				<span class="input-label col col-25 name">菁蓉岛</span>
				<span class="input-label col col-65 address">成都市天府五街200号6号楼5、6楼</span>
				<label class="checkbox col col-10" ng-show="muiltIsland">
					<input type="checkbox" ng-checked="city[4]">
				</label>
			</label>

			<label class="item item-divider">
				<span class="calm island">北京</span>
			</label>
			<label class="item label-height row" ng-click="citySelect(7, '望京岛')">
				<span class="input-label col col-25 name">望京岛</span>
				<span class="input-label col col-65 address">北京市朝阳区望京东路一号摩托罗拉大厦4-5F</span>
				<label class="checkbox col col-10" ng-show="muiltIsland">
					<input type="checkbox" ng-checked="city[7]">
				</label>
			</label>

			<label class="item item-divider">
				<span class="calm island">重庆</span>
			</label>
			<label class="item label-height row" ng-click="citySelect(9, '金山岛')">
				<span class="input-label col col-25 name">金山岛</span>
				<span class="input-label col col-65 address">重庆市两江新区赛迪路2号汉国金山商业中心5F</span>
				<label class="checkbox col col-10" ng-show="muiltIsland">
					<input type="checkbox" ng-checked="city[9]">
				</label>
			</label>
		</div>
		<div class="padding" ng-show="muiltIsland">
		<button class="button button-block button-calm" ng-click="updateIsland();">
			确认
		</button>
		</div>
	</ion-content>
</ion-view>