<style type="text/css">
	.button-style{
		width: 40% !important;
		margin: auto !important;
		font-size: 18px !important;
		font-weight: bold !important;
	}
	/* .start-page{
		height:100%;
		text-align: center;
	} */
	.align{
		text-align: left;
		font-size: 14px;
	}
	.bg{
		background: url('img/xqjs.jpg') no-repeat center top;
		background-size: 100%; 
	}
	.marks{
		font-weight: bold;
	}
	.titles{
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		padding-top: 50%;
	}
</style>
<ion-view view-title="详情介绍">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.business">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">详情介绍</h1>
	</ion-header-bar>

	<ion-content class="start-page" >
	<div class="bg">
		<h5 class="titles">全国领先的办公空间和企业服务共享的平台。</h5>

		<div style="margin:20px;" class="align">
			<h5 class="marks m-b-10">通过我们的线上系统，提供资源，共享资源。</h5>
			<p class="marks m-b-10">我们欢迎：</p>
			<p>空间提供 —— 为你的资产赋值。</p>
			<p>侠客岛成熟的场地设计-建设-运营体系，为你的空间一站式打造联合办公的全产业链生态系统。深度理解联合办公基因的专业设计团队，标准流程化的工程建设系统，成熟优秀的空间运营团队，侠客岛都可为你提供。</p>
		</div>

		<div style="margin:20px 20px 0px 20px;" class="align">
			<p class="marks m-b-10">我们也在招募：</p>
			<p style="text-indent:2em;">侠客岛将在2016年完成全国9个城市的布局，拥有完善的培训与管理体系，诚挚邀请更多的侠客加入我们！你可以是：</p>
			<dl class="m-b-10">
				<dt>1.&nbsp;空间合伙人</dt>
				<dd>收获伙伴，收获成长。</dd>
			</dl>
			<dl class="m-b-10">
				<dt>2.&nbsp;设计团队</dt>
				<dd>与侠客岛已有的专业设计团队碰撞，接触最前沿的设计理念，迅速成长。</dd>
			</dl>
			<dl class="m-b-10">
				<dt>3.&nbsp;服务商</dt>
				<dd>与侠客岛强大的品牌推广共同启航，为企业发展提供最温暖的陪伴。</dd>
			</dl>
			<dl>
				<dt>4.&nbsp;投资人</dt>
				<dd>精准的企业数据报告，为项目的发展提供客观诊断，为风险控制提供可靠依据。</dd>
			</dl>
			<p>就在侠客岛，找到你的事业，获得更多价值，遇见也许一辈子的伙伴。</p>
			<p>就现在。</p>
		</div>
		<div class="padding">
			<button class="button button-energized icon-right ion-chevron-right button-block button-style" ui-sref="bookform">加入共享</button>
		</div>
	</div>
	</ion-content>
</ion-view>