<!-- 法律声明弹框 -->
<div class="modal">
	<ion-header-bar align-title="center" class="bar-light">
		<h1 class="title">记账说明</h1>
		<div class="button button-clear m-r-10" ng-click="closeModal()"><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div>
	</ion-header-bar>
	<ion-content class="bg-dark">
		<div class="padding-10">
			<div class="text-left" style="text-align: justify;">
				<strong>记账须知</strong>
				<small style="text-indent:2em;">
					<p>
						采用企业记账方式支付订单所发生的费用，将随每期工位账单一并下发，请贵司按照约定时间支付，工位账单相关规则参见《孵化管理服务协议》
					</p>
				</small>
			</div>
		</div>
	</ion-content>
</div>