<!-- 法律声明弹框 -->
<!-- <div class="modal">
	<ion-header-bar align-title="center" class="bar-light">
		<h1 class="title">记账说明</h1>
		<div class="button button-clear m-r-10" ng-click="closeModal()"><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div>
	</ion-header-bar>
	<ion-content class="bg-dark">
		<div class="padding-10">
			<div class="text-left" style="text-align: justify;">
				<strong>记账须知</strong>
				<small style="text-indent:2em;">
					<p>
						采用企业记账方式支付订单所发生的费用，将随每期工位账单一并下发，请贵司按照约定时间支付，工位账单相关规则参见《孵化管理服务协议》
					</p>
				</small>
			</div>
		</div>
	</ion-content>
</div> -->

<div class="modal">

		<!-- <ion-slide>
		<ion-scroll lazy-scroll style="position:relative; height: 100vh;">
			<div class="xkd-slidmenu-main padding-t-15 color-black">
				<div class="padding-t-15 padding-b-15">
					<p class="margin-none text-center">
						<img class="XKD-mineHead " ng-src="{{path.route_path}}{{path.photo_path}}{{response.userInfo.one_inch_photo_url}}" err-src="img/icon_emptyPeron.png" alt="...">
					</p>
					<div class="fontsize-18 padding-l-15 text-center" ng-click="openEditModal()">你好，<span class="color-blue">{{user.name}}</span>
					</div>
					<div class="fontsize-12 padding-l-15 text-center">欢迎进入您的智能办公空间</div>

				</div>
				<div class="row fontsize-12 b-t">
					<div class="m-t-15 col-75">
						<div class="" ng-click="getNet()">您已成功接入网络 当前网速为  {{netSpeed}}kb/s</div>

						 <div class="padding-t-25 padding-b-10" ng-show="">
							<div class="">目前使用设备为<span>huawei 223434  Ip233231212</span>
							</div>
						</div>
					</div>
					<div class="col text-right">
						<img src="img/newappIcons-27.png" alt="" ng-show="user_type==0" style="width:4rem">
						<img src="img/newappIcons-07.png" alt="" ng-show="user_type==1" style="width:4rem">
						<img src="img/newappIcons-21.png" alt="" ng-show="user_type==3" style="width:4rem">
						<img src="img/newappIcons-08.png" alt="" ng-show="user_type==2" style="width:4rem">
						<img src="img/newappIcons-09.png" alt="" ng-show="user_type==9" style="width:4rem">
						<img src="img/newappIcons-10.png" alt="" ng-show="user_type==10" style="width:4rem">
					</div>
				</div>
				<div class="padding-l-15 padding-b-10 fontsize-12" ng-show="">
					<div class="button button-block xkd-button-gray xkd-slidmenu-msgbtn fontsize-12 color-black text-left">12:00 预约会议开始，请提前15分钟到场哦</div>
					<div class="button button-block xkd-button-gray xkd-slidmenu-msgbtn fontsize-12 color-black text-left">您购买的“云会员”服务即将到期，请及时续订哦</div>
				</div>
				<div>
					<div class="row">
						<div class="col col-25 text-center" ng-click="openDoor()">
							<p><img src="img/1.1icon-07.png" height="50"></p>
							<p>开门</p>
						</div>
						<div class="col col-25 text-center" ui-sref="myofficezone">
							<p><img src="img/1.1icon-08.png" height="50"></p>
							<p>我的办公空间</p>
						</div>
						<div class="col col-25 text-center" ui-sref="expressform">
							<p><img src="img/1.1icon-09.png" height="50"></p>
							<p>我的快递</p>
						</div>
						<div class="col col-25 text-center" ui-sref="cleaningappli">
							<p><img src="img/1.1icon-10.png" height="50"></p>
							<p>保洁申请</p>
						</div>
					</div>
					<div class="row">
						<div class="col col-25 text-center" ui-sref="maintenance">
							<p><img src="img/1.1icon-11.png" height="50"></p>
							<p>维修申请</p>
						</div>						<div class="col col-25 text-center" ui-sref="intelligoo">
							<p><img src="img/1.1icon-12.png" height="50"></p>
							<p>我的钥匙</p>
						</div>
						<div class="col col-25 text-center" ui-sref="mineorderslist">
							<p><img src="img/1.1icon-15.png" height="50"></p>
							<p>我的订单</p>
						</div>
						<div class="col col-25 text-center" ng-click="goBalanceList()">
							<p><img src="img/1.1icon-16.png" height="50"></p>
							<p>企业账户</p>
						</div>
					</div>
				</div>
			</div>
			</ion-scroll>
		</ion-slide> -->
		<!-- <ion-header-bar align-title="center" class="bar bar-header padding-l-15 padding-r-15 xkd-sy-header" ng-class="{true:'xkd-sy-header-ontop'}[scrollTop<50]" style="">
			<h1 class="title color-white" ng-class="{true:'color-black',false:'color-white'}[scrollTop>50]">
				岛里
				<span class="fontsize-14 font-family" ng-click="openModal('leftTop')" id="step1">
					{{currentCity.city_name}}&nbsp;
					<i class="ion-arrow-down-b"></i>
				</span>
			</h1>
			<button class="button button-clear color-white" ng-click="searchClick()" id="step2">
				<i class="ion-ios-search-strong" ng-class="{true:'color-black',false:'color-white'}[scrollTop>50]" style="font-size:26px;"></i>
			</button>
		</ion-header-bar> -->
		<ion-header-bar align-title="center" class="bar-light">
			<h1 class="title">岛里</h1>
			<div class="button button-clear m-r-10" ng-click="closeModal()"><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div>
		</ion-header-bar>
		<ion-content style="top:0;" on-scroll="getScrollTop()">
			<!-- <div class="bar bar-header bar-dark padding-l-15 padding-r-15" style="position: fixed;top:0;">
				<h1 class="title">
					岛里
					<span class="fontsize-14 font-family" ng-click="openModal('leftTop')" id="step1">
						{{currentCity.city_name}}&nbsp;
						<i class="ion-arrow-down-b"></i>
					</span>
				</h1>
				<button class="button button-clear " ng-click="searchClick()" id="step2">
					<i class="ion-ios-search-strong " style="font-size:26px;color: black;"></i>
				</button>
			</div> -->
			<div class="">
				<!-- 轮播图 -->
				<ion-slide-box ng-if="bannerList.length>0" delegate-handle="bannerList" auto-play="true" does-continue="true" slide-interval=4000  show-pager="{{bannerList.length>1}}">
					<ion-slide ng-repeat="slide in bannerList track by $index" repeat-finish>
						<div class="box business-banner" ng-click="bannerClick(slide.banner_link)" on-drag="disableSwipeSlide()" on-drop="enableSwipeSlide()" on-touch="disableSwipeSlide()" on-release="enableSwipeSlide()">
							<img image-lazy-src="{{bannerPath + slide.banner_thumb}}" err-src="img/test.jpg" image-lazy-loader="ios">
						</div>
					</ion-slide>
				</ion-slide-box>
				<ion-slide-box ng-if="bannerList.length==0">
					<ion-slide>
						<div class="box business-banner">
							<img src="img/test.jpg">
						</div>
					</ion-slide>
				</ion-slide-box>
				<!-- 头像区 -->
				<div class="bg-white xkd-sy-qingxie" style="">
					<div class="flex-around xkd-sy-qingxiefuyuan xkd-sy-mine">
						<div class="m-t-15 xkd-sy-touxiang" ui-sref="personalmsg({user_id:user.id,com_id:user.com_id})">
							<img ng-src="{{commonPath.route_path}}{{commonPath.photo_path}}{{user.userInfo.photo}}" err-src="img/icon_emptyPeron.png" style="width: 80px;height: 80px;border-radius: 50%;">
							<img ng-src="img/{{user.userInfo.user_type_img}}" err-src="img/newappIcons-07.png" style="width: 40px;height: 40px;position: absolute;top:45px;right: -15px;">
						</div>
						<div class="xkd-sy-xiaoxitj" ui-sref="tab.contact">
							<p class="margin-none">未读信息</p>
							<p class="text-center fontsize-16 xkd-sy-xiaoxitj-p">{{newMsgCount}}</p>
						</div>
						<div class="xkd-sy-xiaoxitj" ui-sref="mineorders">
							<p class="margin-none">今日会务</p>
							<p class="text-center fontsize-16 xkd-sy-xiaoxitj-p" >{{getTodayOrders}}</p>
						</div>
						<div>
							<div class="xkd-sy-kaimen" ng-click="openDoorModal()">
								<img src="img/opendoor-28.png" width="100%">
							</div>
							<div class="m-t-5 xkd-sy-xiaoxitj">
								<p class="margin-none text-center">当前岛</p>
								<p class="text-center fontsize-12 xkd-sy-xiaoxitj-p">{{currentIsland}}</p>
							</div>
						</div>
					</div>
					<div class="xkd-sy-huanyin m-l-25 m-t-15" ng-hide="accesstoken"><strong class="color-deepblack fontsize-12">HI,</strong><small class="fontsize-12 color-silver m-l-5">欢迎来到侠客岛，您还未登录哟。</samll><span class="color-blue" ui-sref="login">请登录</span></div>
					<div class="xkd-sy-huanyin m-l-25" ng-show="accesstoken"><strong class="color-deepblack fontsize-12">HI,{{user.userInfo.name}}</strong><small class="fontsize-12 color-silver m-l-5">您已成功接入网络，欢迎进入您的智能办公空间</samll></div>
				</div>

				<div style="position: relative;height: 20px;">
					<!-- 公告 -->
					<div class="xkd-sy-gonggao">
						<span class="lineheight-40 text-center fontsize-12 color-white xkd-sy-gonggao-span">公告</span>
						<small class="color-deepblack fontsize-12 m-l-5">节能岛4楼来的新的小伙伴---华仔企业管理有限公司</small>
					</div>

					<!-- 精彩活动 -->
					<div class="flex-between xkd-sy-fuwubar">
						<div class="text-center xkd-sy-fuwu" ng-click="viewAllPosts()">
						<i class="icon-hiicons_activityPortal calm" style="font-size: 40px;"></i><br>
						精彩活动
						</div>
						<div class="text-center xkd-sy-fuwu" ui-sref="conferenceRoomList({store_id:currentStoreId})">
						<i class="icon-hiicons_meetingRoomPortal calm" style="font-size: 40px;"></i><br>
						定制会议
						</div>
						<div class="text-center xkd-sy-fuwu" ui-sref="myofficezone">
						<i class="icon-hiicons_activPlacePortal calm" style="font-size: 40px;"></i><br>
						场地服务
						</div>
						<div class="text-center xkd-sy-fuwu" ui-sref="cleaningappli">
						<i class="icon-hiicons_applyClearPortal calm" style="font-size: 40px;"></i><br>
						保洁申请
						</div>
					</div>
				</div>


				<!-- 精彩活动 -->
				<!-- <ion-slide-box ng-if="bannerList.length>0" delegate-handle="bannerList" auto-play="true" does-continue="true" slide-interval=4000  show-pager="{{bannerList.length>1}}">
					<ion-slide ng-repeat="slide in bannerList track by $index" repeat-finish>
						<div class="box business-banner" ng-click="bannerClick(slide.banner_link)" on-drag="disableSwipeSlide()" on-drop="enableSwipeSlide()" on-touch="disableSwipeSlide()" on-release="enableSwipeSlide()">
							<img image-lazy-src="{{bannerPath + slide.banner_thumb}}" err-src="img/test.jpg" image-lazy-loader="ios">
						</div>
					</ion-slide>
				</ion-slide-box> -->

			<!--开始办公: nzy
			<div class="acticitBox business-warpbox bg-white  padding-5" ng-if="activityList.length > 0 &&(indexFrom=='leftTop'||currentCity.city_id=='-1')">
				<div class="row b-b">
					<h5>
					<div class="pull-left strat-to-work-left-box m-r-5 bg-blue"></div>
					<span class="pull-left">开始办公</span>
					<span class="pull-left color-gray  fontsize-12 m-l-5 ">Strat to work</span>
					<span class="pull-right color-gray  fontsize-14 ">更多&nbsp;+</span>
					</h5>
				</div>
				<div class="row b-b">
					<ul >
						<li>
							<div class="strat-to-work-li-box bg-blue m-10 rounded-5">
							<div class="strat-to-work-li-txt-box m-15 padding-t-15">法律助手</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- 天气： nzy>
				<div class="row b-b ">
				<div>
					<div calss="s-t-w-weather-box m-10 padding-l-25">
						<div class="pull-left m-t-15">
							<i class="ion-ios-partlysunny s-t-w-weather-icon color-blue"></i>
						</div>
						<div class="pull-left m-t-15 padding-t-10 m-l-5 text-center">
							<div class="fontsize-14 ">成都</div>
							<div class="color-gray fontsize-12 ">晴天</div>
						</div>
						<div class="pull-left color-gray fontsize-12 m-t-15 padding-15">今天不适合上班哟~</div>
						<div class="pull-left m-t-15 padding-t-10 text-center">
							<div class="fontsize-14">12</div>
							<div class="color-gray fontsize-12"> 24/11</div>
						</div>
					</div>
				</div>
				</div> -->
				<!--推荐企业： nzy-->
				<div class="m-t-15 b-t-none bg-white"><!--  ng-if="indexFrom=='index'&&currentCity.city_id != '-1'" -->
				<div class="padding-10" ng-show="recCompany">
					<h4 class="text-center font-family fontsize-16">推荐企业&nbsp;&nbsp;<i class="ion-arrow-right-b"></i></h4>
				</div>

				<ion-scroll direction="x" scrollbar-x="false" ng-show="recCompany">
					<div class="row text-center">
						<div class="col col-25" ng-click="showCompany(company.com_id)" ng-repeat="company in recomCompanyList" ng-if="company.status == 1" style="position:relative;">
							<img image-lazy-src="{{companyPath}}{{company.com_logo_path}}" err-src="img/icon_empty_head.png" style="width: 54px;height:54px" class="rounded-500" image-lazy-loader="ios">
							<span class="company-name fontsize-12">{{company.com_name}}</span>
						</div>
						<div class="col col-25" ui-sref="companylist">
							<img src="img/more.png" style="width: 54px;height:54px"><br>
							<span class="calm fontsize-12">查看全部</span>
						</div>
					</div>
				</ion-scroll>
				</div>
		<!-- 开始办公 -->
		<div class="list bg-white">
			<div class="item">
				<h5>
					<div class="pull-left strat-to-work-left-box m-r-5 bg-blue"></div>
					<b class="fontsize-14 bg-white">开始办公</b>
					<span class="color-gray  fontsize-12 m-l-5 ">Strat to work</span>
					<span class="pull-right color-gray fontsize-14">更多&nbsp;+</span>
				</h5>
			</div>
			<div class="row">
				<div class="col col-25 text-center">
					<div class="strat-to-work-li-box m-10 rounded-5" ng-class="{true:'bg-blue',false:'color-dark'}[listType==1]" ng-click="listType=1;">
						<div class="strat-to-work-li-txt-box m-15 padding-t-15">我要招聘</div>
					</div>
				</div>
				<div class="col col-25 text-center">
					<div class="strat-to-work-li-box m-10 rounded-5" ng-class="{true:'bg-blue',false:'color-dark'}[listType==2]" ng-click="listType=2;">
						<div class="strat-to-work-li-txt-box m-15 padding-t-15">法律助手</div>
					</div>
				</div>
				<div class="col col-25 text-center">
					<div class="strat-to-work-li-box m-10 rounded-5" ng-class="{true:'bg-blue',false:'color-dark'}[listType==3]" ng-click="listType=3;">
						<div class="strat-to-work-li-txt-box m-15 padding-t-15">整合营销</div>
					</div>
				</div>
				<div class="col col-25 text-center">
					<div class="strat-to-work-li-box m-10 rounded-5" ng-class="{true:'bg-blue',false:'color-dark'}[listType==4]" ng-click="listType=4;">
						<div class="strat-to-work-li-txt-box m-15 padding-t-15">政策申报</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div style="margin: 0 auto">
					<div class="pull-left m-t-15">
						<i class="ion-ios-partlysunny s-t-w-weather-icon color-blue"></i>
					</div>
					<div class="pull-left m-t-15 padding-t-10 m-l-5 text-center">
						<div class="fontsize-14">成都</div>
						<div class="color-gray fontsize-12 ">晴天</div>
					</div>
					<div class="pull-left color-gray fontsize-12 m-t-15 padding-15">今天不适合上班哟</div>
					<div class="pull-left m-t-15 padding-t-10 text-center">
						<div class="fontsize-14">12 &deg;</div>
						<div class="color-gray fontsize-12">9 &deg;/12 &deg;</div>
					</div>
				</div>
			</div>
		</div>
				<div>
				<div>
					<!--待办事项： nzy -->
					<div class="row bg-white">
						<div class="col">
							<h5>
								<i class="ion-bookmark color-blue pull-left m-l-10 "></i>
								<span class="pull-left m-l-5">待办事项</span>
								<i class="ion-ios-close color-blue pull-right m-r-15"></i>
							</h5>
						</div>
					</div>
					<div class="col padding-r-15 padding-l-15">
						<div class="card m-t-10 m-b-10 m-l-15 m-r-15">
							<div class="item item-text-wrap fontsize-14 padding-10">
								<i class="ion-chatbox calm"></i>
								12:00 预约的会议开始，请提前到场哦！
							</div>
							<div class="item item-text-wrap fontsize-14 padding-10">
								<i class="ion-chatbox calm"></i>
								您购买的云会员即将到期，请及时续订哦！
							</div>
						</div>
					</div>
				</div>
				<div>
					<!--今日活动： nzy -->
					<div class="row bg-white">
						<div class="col">
							<h5>
								<i class="ion-aperture color-blue pull-left m-l-10"></i>
								<span class="pull-left  m-l-5">今日活动</span>
								<span class="pull-left color-gray  fontsize-12 m-l-5 ">每天更新最新活动</span>
							</h5>
						</div>
					</div>
					<div class="list m-b-none">
						<a class="item item-thumbnail-left">
							<img src="img/customerBg2.jpg ">
							<h2>节能试吃活动</h2>
							<p class="fontsize-12">时间：20:00--21:00</p>
							<p class="fontsize-12">地点：成都高新区翠华路89号一栋3单元4楼</p>
							<span class="badge badge-positive" style="right: 16px;">立即参与</span>
						</a>
					</div>
				</div>
				<div>
					<!--会议室预订： nzy -->
					<div class="row bg-white">
						<div class="col">
							<h5>
								<i class="ion-android-contacts color-blue pull-left m-l-10"></i>
								<span class="pull-left  m-l-5">会议室预订</span>
							</h5>
						</div>
					</div>
					<div class="list m-b-none">
						<a class="item">
							<h2>节能岛--2楼6人间A324  xx阁</h2>
							<p class="fontsize-12">成都高新区翠华路89号一栋3单元4楼</p>
							<span class="badge badge-positive" style="right: 16px;">立即预定</span>
						</a>
					</div>
				</div>
				</div>



				<!--编辑按钮： nzy-->
				<div class="row text-center">
					<div class="col col-offset-33 col-33">
						<button class="button button-small button-positive button-block fontsize-14" ng-click="openEditModal()">
						· 编辑 ·
						</button>
					</div>
				</div>
			<!-- 	<div ng-if="activityList.length == 1" ui-sref="activityitem({id:activityList[0].party_id,from:'tab.business'})">
					<img image-lazy-src="{{activityList[0].listImgShow}}" err-src="img/test.jpg" class="xkd-business-activity-pic" image-lazy-loader="ios">
					<div class="xkd-activeInfo">
						<div class="xkd-activeInfoCon" style="">
							<div class="xkd-recommend-list-title">{{activityList[0].title}}</div>
							<div class="xkd-recommend-list-Distance">距您：<span style="color:#F8A245">{{activityList[0].distance}}</span></div>
						</div>
						<div class="xkd-recommend-list-content">{{activityList[0].content}}</div>
						<div class="xkd-line-nowrap">
							<i class="ion-ios-pricetags-outline m-r-5"></i>美食
							<i class="ion-ios-clock-outline m-r-5"></i>{{activityList[0].start_time}}
							<i class="ion-ios-location-outline m-l-5 m-r-5"></i>{{activityList[0].address}}
						</div>
					</div>
				</div>
				<div class="carousel-banner xkd-index-recommend-activity" ng-if="activityList.length > 1">
					<ul rn-carousel rn-carousel-loop rn-carousel-transition="slide" rn-carousel-index="carouselIndex1" class="carousel" on-drag="disableSwipeSlide()" on-drop="enableSwipeSlide()" on-touch="disableSwipeSlide()" on-release="enableSwipeSlide()">
						<li ng-repeat="slide in activityList">
							<a ui-sref="activityitem({id:slide.party_id,from:'tab.business'})">
								<span ng-if="slide.status_text" class="xkd-activity-recommend-status-left-top {{slide.color}}">{{slide.status_text}}</span>
								<div class="bgimage"  db-url="{{slide.listImgShow}}" background-err-src="img/test.jpg"  ng-style="{'background-image': 'url('+ slide.listImgShow + ')'}"></div>
								<div class="bgimage" background-err-src="img/test.jpg" image-lazy-src="{{slide.listImgShow}}" image-lazy-background-image="true"></div>
								<div class="xkd-activeInfo">
									<div class="xkd-activeInfoCon" style="">
										<div class="xkd-recommend-list-title">{{slide.title}}</div>
										<div class="xkd-recommend-list-Distance">距您：<span style="color:#F8A245">{{slide.distance}}</span></div>
									</div>
									<div class="xkd-recommend-list-content">{{slide.content}}</div>
									<div class="xkd-line-nowrap">
										<i class="ion-ios-pricetags-outline m-r-5"></i>美食
										<i class="ion-ios-clock-outline m-r-5"></i>{{slide.start_time}}
										<i class="ion-ios-location-outline m-l-5 m-r-5"></i>{{slide.address}}
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div> -->
			</div>
			<!--今日推荐	:需求-->
			<!-- <div class="seviveBox business-warpbox padding-5 xkd-index-recommend-need" ng-if="needList.length > 0&&(indexFrom=='leftTop'||currentCity.city_id=='-1')">
				<div class="row-center">
					<h4 ng-click="viewAllPosts()">推荐需求<i class="ion-android-arrow-forward m-l-5"></i></h4>
				</div>
				<div class="carousel-banner">
					<ul rn-carousel rn-carousel-loop rn-carousel-transition="slide" rn-carousel-index="carouselIndex2" class="carousel" on-drag="disableSwipeSlide()" on-drop="enableSwipeSlide()" on-touch="disableSwipeSlide()" on-release="enableSwipeSlide()">
						<li ng-repeat="slide in needList" ui-sref="businessNeedsDetail({'com_needs_id':slide.com_needs_id,from:'tab.business'})">
							<div class="list" style="height:180px;background-color:white">
								<a class="item item-avatar xkd-business-need-title">
									 <img ng-src="{{companyPath + slide.com_logo}}" err-src="img/icon_emptyPeron.png">
									<img image-lazy-src="{{companyPath + slide.com_logo}}" err-src="img/icon_emptyPeron.png" image-lazy-loader="ios">
									<div class="neeSubTitCon">
										<div class="xkd-recommend-list-title">{{slide.com_needs_name}}</div>
										<div class="xkd-recommend-list-content">{{slide.cre_time}}</div>
									</div>
								</a>
								<div>
									<div class="needInfom m-b-15  m-t-15" >
										{{slide.content}}
									</div>

								</div>
							</div>
						</li>
					</ul>
					<div rn-carousel-indicators ng-if="needList.length > 1" slides="needList" rn-carousel-index="carouselIndex2"></div>
				</div>
			</div> -->
			<!--今日推荐	:服务-->
			<!-- <div class="business-warpbox bg-white m-t-10 padding-5" ng-if="serviceList.length > 0&&(indexFrom=='leftTop'||currentCity.city_id=='-1')">
				<div class="row-center">
					<h4 ng-click="viewAllPosts()">推荐服务<i class="ion-android-arrow-forward m-l-5"></i></h4>
					<div ng-repeat="item in serviceList track by $index" class="col col-50 pull-left" style="background:#fff;">
						<a ui-sref="businessProduct({'from':'tab.business','com_service_id':item.com_service_id})" style="display: block;width: 100%;padding-bottom: 60%;margin-bottom: -60%;">
							<img err-src="img/store4.jpg" height="140" width="140" ng-src="{{item.listImgShow}}" />
							<img err-src="img/store4.jpg" image-lazy-src="{{item.listImgShow}}">
							<div background-err-src="img/store4.jpg" image-lazy-src="{{item.listImgShow}}" image-lazy-background-image="true" style="width: 100%;padding-bottom: 60%;"></div>
							<div class="text-left xkd-recommend-list-title">{{item.com_service_name}}</div>
							<div class="text-left xkd-recommend-list-content"><i class="ion-ios-pricetag-outline m-r-5"></i>{{item.com_name}}</div>
							<div class="text-left xkd-recommend-list-content"><i class="ion-ios-location-outline m-r-5"></i>{{item.store_name}}</div>

						</a>
					</div>
					</br>
				</div>
			</div> -->

			<!-- 推荐公司	-->
			<!-- <div class="m-t-15 b-t-none bg-white" ng-if="indexFrom=='index'&&currentCity.city_id != '-1'">
				<div class="padding-10" ng-show="recCompany">
					<h4 class="text-center font-family fontsize-16">推荐企业&nbsp;&nbsp;<i class="ion-arrow-right-b"></i></h4>
				</div>

				<ion-scroll direction="x" scrollbar-x="false" ng-show="recCompany">
					<div class="row text-center">
						<div class="col col-25" ng-click="showCompany(company.com_id)" ng-repeat="company in recomCompanyList" ng-if="company.status == 1" style="position:relative;">
							<img ng-src="{{companyPath}}{{company.com_logo_path}}" err-src="img/icon_empty_head.png" style="width: 54px;height:54px" class="rounded-500">
							<img image-lazy-src="{{companyPath}}{{company.com_logo_path}}" err-src="img/icon_empty_head.png" style="width: 54px;height:54px" class="rounded-500" image-lazy-loader="ios">
							<span class="company-name fontsize-12">{{company.com_name}}</span>
						</div>
						<div class="col col-25" ui-sref="companylist">
							<img src="img/more.png" style="width: 54px;height:54px"><br>
							<span class="calm fontsize-12">查看全部</span>
						</div>
					</div>
				</ion-scroll>
				</div>
				<!-- 岛介绍	-->
				<!-- <div class="m-t-15 b-t-none bg-white" ng-if="indexFrom=='index'&&currentCity.city_id != '-1'">
					<div class="padding-10">
						<h4 class="text-center font-family	fontsize-16">{{introduction.store_name}}&nbsp;&nbsp;</h4>
					</div>
					<div class="business-banner " >
						<img ng-src="{{introductionPath}}{{introduction.store_photo_url}}" err-src="img/icon_empty.png">
						<img image-lazy-src="{{introductionPath}}{{introduction.store_photo_url}}" err-src="img/icon_empty.png" image-lazy-loader="ios">
					</div>
					<div class="padding-25 fontsize-14 text-center">
						<span class="bg-gray" style="padding:3px">{{introduction.city_name}}</span>&nbsp;&nbsp;
						<span style="white-space: normal;" class="fontsize-bold fontsize-16">{{introduction.store_address}}</span>
						<p class="padding-t-10 fontsize-14 dark" style="white-space: normal;">
							{{introduction.introduction}}
						</p>
					</div>
					<div class="row">
						<div class="col col-30">
							<img src="img/circle.png" style="margin-top: 22%;margin-left: 20%">
						</div>
						<div class="col col-20" style="position: relative;">
							<img ng-src="{{peoplePath}}{{introduction.photo_url}}" err-src="img/icon_empty_head.png" width="100%" style="border-radius:100%;width: 56px;height:56px">
							<img image-lazy-src="{{peoplePath}}{{introduction.photo_url}}" err-src="img/icon_empty_head.png" width="100%" style="border-radius:100%;width: 56px;height:56px" image-lazy-loader="ios">
						</div>
						<div class="col col-30">
							<img src="img/circle2.png" style="margin-top: 22%;margin-left: 10%">
						</div>
					</div>
					<div class="text-center">
						<p style="margin-bottom: 2px">我是{{introduction.store_name}}店长<strong class="calm">{{introduction.user_name}}</strong>，我在侠客岛等你来</p><br>
						<p><i class="ion-ios-telephone fontsize-18"></i>&nbsp;<a href="tel:{{introduction.telephone}}">{{introduction.telephone}}</a></p><br>
					</div>
				</div>
			</div>-->
	</ion-content>
	</div>
