<!-- 法律声明弹框 -->
<div class="modal">
	<ion-header-bar align-title="center" class="bar-light">
		<h1 class="title">法律声明</h1>
		<div class="button button-clear m-r-10" ng-click="closeModal()"><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div>
	</ion-header-bar>
	<ion-content>
		<div class="bg-dark padding-10">
			<div class="text-left" style="text-align: justify;">
				<strong>有效期</strong>
				<p>2016年2月20日--2016年12月30日</p>
				<strong>购买规则</strong>
				<small style="text-indent:2em;">
					<p>1.场地取消（费用1000元/半天以上（含），200元/小时以上（含）场地）；提前48小时取消，不收取费用，48小时内取消收取20%，预订但未到场扣除50%的费用；取消的退款时间会在5个工作日内退还到支付的账户。</p>
					<p>2.场地取消（费用1000元/半天以下，200元/小时以下场地）提前2个小时取消不收取费用，2小时内取消收取20%的费用，预订但未到场扣除50%的费用；取消的退款时间会在5个工作日内退还到支付的账户。</p>
				</small>
				<strong>温馨提示</strong>
				<p>支付后，我们会在30分钟内电话联系您，与您核实会务信息，并确定是否接单，请您保持电话通畅，如果商家确认接单，请您至少提前15分钟到场；如果商家无法接单，我们将在5个工作日内退还费用至原账号。</p>
			</div>
		</div>
	</ion-content>
</div>