<!-- 法律声明弹框 -->
<div class="modal">
	<ion-header-bar align-title="center" class="bar-light">
		<h1 class="title">公告详情</h1>
		<div class="button button-clear m-r-10" ng-click="closeNoticeModal()"><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col">
				<h3 class="text-center m-t-15">公告</h3>
				<p style="text-indent: 2em;text-align: justify;">{{notice.comments}}</p>
				<p class="text-right">{{notice.cre_time}}</p>
			</div>
		</div>
	</ion-content>
</div>