<!-- 自定义模态框---密码列表页 -->
<ion-modal-view on-tap="closeMenu()">
	<ion-header-bar align-title="center" class="bar-dark">
		<h1 class="title">密码列表</h1>
		<div class="button button-clear m-r-10" ng-click="closeModal()"><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div>
	</ion-header-bar>
	<ion-content>
		<div class="list card" ng-repeat="item in passwords">
			<a class="item">
				<p>密码</p>
				<p class="color-blue">{{item.password}}</p>
			</a>
			<a class="item">
				<p>有效期</p>
				<p>{{item.start_time}} ~ {{item.end_time}}</p>
			</a>
			<a class="item">
				<p>创建人</p>
				<p>{{item.cre_user_name}}</p>
			</a>
			<a class="item">
				<p>创建时间</p>
				<p>{{item.cre_time}}</p>
			</a>
		</div>
	</ion-content>
</ion-modal-view>