<!-- 法律声明弹框 -->
<div class="modal">
	<ion-content scroll="true" overflow-scroll="true">
<!-- 	<div class="button button-clear m-r-10" ><i class="ion-close fontsize-18" style="vertical-align: middle;"></i></div> -->
<div style="height: 20px;background: #f8f8f8;" ng-if="isIOS"></div>
	<div class="item-input-inset" ng-click="closeXiaKeYuModal()" style="position: absolute;left: 35px;">
		<span class="color-black">
			关闭
		</span>
	</div>
		<iframe id="cpc_iframe" name="test" ng-src="{{targetUrl}}" style="min-height: 100%;width: 100%;overflow-y: scroll;">
			
		</iframe>
	</ion-content>
</div>