<ion-view view-title="下单" ng-controller="PurchaseCtrl">
	<ion-header-bar align-title="center" class="bar-dark bg-blue" >
		<div class="item-input-inset">
			<span ng-click="back()">
				<i class="ion-chevron-left"></i>
			</span>
		</div>

		<h1 class="title" >下订单</h1>

	</ion-header-bar>


	<ion-content class="has-header">
		<div class="list">
			<a class="item item-thumbnail-left">
				<img ng-src="{{host_path}}{{order.service.com_service_thumb[0]}}" err-src="img/icon_empty_img.png">
				<h2>{{order.service.com_service_name}}</h2>
				<p>{{order.company.com_name}}</p>
				<p>{{order.address}}</p>
			</a>
		</div>
		<div class="list list-inset">
			<div class="item" ng-if="order.service.unit_value">
				单价 ： {{order.service.unit_value}}{{order.service.unit}}
			</div>

			<div class="item">
				购买身份 ：
				<select id="type" style="border:none;">
					<option value="1" ng-selected="order.reservation_release_type==1">个人名义</option>
					<option value="2" ng-selected="order.reservation_release_type==2">公司名义</option>
				</select>
			</div>

			<div class="item">
				预约人姓名 ：<input type="text" ng-model="order.reserve_name" placeholder="必填项" required>
			</div>

			<div class="item">
				预约人电话 ：<input type="text" maxlength="11" ng-model="order.reserve_phone" placeholder="必填项" required>
			</div>

			<div class="item">
				备注 ：<input type="text" ng-model="order.comments" placeholder="选填项">
			</div>
		</div>
	</ion-content>

	<div class="tabs padding-none" ng-click="submitOrder()">
		<button class="button button-full button-calm m-n" type="submit">
			立即购买
		</button>
	</div>
</ion-view>
