<ion-view view-title="活动管理" ng-controller="ActivityManageController" >

	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="tab.mine({thisItem:1})">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">活动管理</h1>
	</ion-header-bar>
	<div class="bar bar-subheader item-input-inset" style="background-image:none">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" ng-model="activitySearch.keyword" placeholder="搜索">
		</label>
	</div>

	<ion-content class="has-subheader bg-white ">
		
		<ion-refresher pulling-text="下拉刷新" on-refresh="activityDoRefresh()"></ion-refresher>
		<div class="padding-12-0">
			<div class="list b-b padding-5" ng-repeat="activityItem in activityList">
				<a ui-sref="activityitem({id:activityItem.party_id,from:'companyactivity'})">
					<span class="xkd-activity-recommend-status-left-top {{activityItem.color}}">{{activityItem.status_text}}</span>
					<img class="xkd-profucPhoto" ng-src="{{activityItem.listImgShow}}" err-src="img/test.jpg">
					<div class="xkd-reactiveInfo">
						<div class="xkd-activeInfoCon">
							<div class="xkd-recommend-list-title">{{activityItem.title}}</div>
							<!-- <div class="xkd-recommend-list-Distance">距您：<span style="color:#FD9630">{{activityItem.distance}}</span></div> -->
						</div>
						<div class="xkd-recommend-list-content">{{activityItem.content}}</div>
						<div class="xkd-line-nowrap">
							<i class="ion-ios-clock-outline m-r-5"></i>{{activityItem.start_time}}
							<i class="ion-ios-pricetag-outline m-l-5 m-r-5"></i>{{activityItem.com_name}}
						</div>
					</div>
				</a>
				<div class="xkd-recommend-list-content">
					<button class="button button-small button-calm"  ng-if="isManager || currentUserId==activityItem.cre_user_id" ui-sref="activityforme({article_target_id:activityItem.party_id})">{{activityItem.enroll_num}}  人参加</button>
					<button disabled ng-if="!(isManager || currentUserId==activityItem.cre_user_id)" class="button button-small">{{activityItem.enroll_num}}  人参加</button>
					<button disabled="disabled" class="button button-small m-l-5" >{{activityItem.message_num}}  人评论</button>
					<button disabled="disabled" class="button button-small m-l-5">{{activityItem.like_num}}  人赞</button>
				</div>
			</div>
		</div>

		<ion-infinite-scroll ng-if="!activityIsEmptyData" on-infinite="getActivityList()" distance="1%"></ion-infinite-scroll>
		<div class="text-center" ng-show="activityIsOverLoad">
			<img style="width: 50%;margin-top:50px" src="img/icon_empty_img.png"/>
		</div>
	</ion-content>
	<i ng-click="scrollTop()" class="backtoTopBtn ion-android-arrow-up back-top rounded-500 text-center"></i>
</ion-view>
