<ion-view view-title="资质证明附件" ng-controller="AptitudeCtrl">
	<ion-header-bar align-title="center" class="color-white bar-dark">
		<div class="item-input-inset" ui-sref="tab.mine">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">资质证明附件</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
	<div>
		<label class="item item-input">
		<span class="input-label">请上传员工身份证扫描件:</span>
		</label>
	<ion-gallery ion-gallery-items="uploadImages.imgs" ion-gallery-item-edit="true"></ion-gallery>
	<div class="item item-icon-left customer-height-54"><i class="icon ion-ios-camera-outline" ng-click="getPic()" ng-disabled="isGuest"></i></div>
	</div>
	<div>
		<label class="item item-input">
		<span class="input-label">请上传员工正面照片（2-3张）:</span>
		</label>
	<ion-gallery ion-gallery-items="uploadImages.imgs" ion-gallery-item-edit="true"></ion-gallery>
	<div class="item item-icon-left customer-height-54"><i class="icon ion-ios-camera-outline" ng-click="getPic()" ng-disabled="isGuest"></i></div>
	</div>
	</ion-content>
	<ion-footer-bar class="bottom-button-bar bg-dark">
			<button class="button button-block button-calm bottom-button fontsize-16" ng-click="saveIdVerify()" ng-disabled="isGuest">提交</button>
	</ion-footer-bar>
</ion-view>
