<ion-view view-title="未支付列表" ng-controller="BalanceListCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<button class="button button-clear" ng-click="myBack()">
			<i class="ion-chevron-left color-blue"></i>
		</button>
		<h1 class="title fontsize-16 color-black">未支付列表</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-white">
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<div class="bg-bule padding-15">
			<div class="color-white padding-10">
				<div class="row">
					<p class="col color-wblue text-left">当前未支付</p>
					<p class="col color-white text-right" on-tap="openModal()"><i class="ion-help-circled"></i> 记账说明</p>
				</div>
				<p class=" row "  style="font-size: 50px;line-height: 40px;  ">
					{{unPay}}<span class="fontsize-20 color-wblue m-l-10 m-t-10">元</span>
				</p>

			</div>
		</div>
		<div class="list" ng-repeat="item in items" ng-if="item.credit_items.length != 0">
			<a class="item item-icon-right bg-dark padding-b-10 padding-t-10">
				{{item.time}}
				<span class="item-note" ng-click="goMonthBillList(item)">查看月账单</span><i class="icon item-note ion-ios-arrow-right"></i>
			</a>
			<a class="item padding-none" ng-repeat="i in item.credit_items" ng-click="goBillDetail(i)">
				<div class="row">
					<div class="col col-20 text-center">
						<p >{{i.cre_time|limitTo:5:5}}</p>
						<p>{{i.cre_time|limitTo:5:11}}</p>
					</div>
					<div class="col col-80">
						<h2>{{i.amount_paid}}</h2>
						<p>{{i.meeting_room_name}}<span ng-if="i.room_type == 1">会议室</span><span ng-if="i.room_type == 2">活动场地</span>预订</p>
					</div>
				</div>
			</a>
		</div>
		<div class="text-center" ng-show="isOverLoad">
			<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"
>
		</div>
		<ion-infinite-scroll ng-if="isEmptyData" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
