<ion-view view-title="资质信息" ng-controller="CompanyDetailCtrl" style="font-family:微软雅黑;">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="myBack()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">资质信息</h1>
		<!--
		<div class="buttons">
			<button class="button">右侧按钮</button>
		</div>-->
	</ion-header-bar>


	<ion-content class="has-header">
	<!--<ion-list>
	<ion-toggle  ng-model="settings.enableFriends">
		Enable Friends
	</ion-toggle>
	</ion-list>-->
	<div class="list" style="background-color: #f5f5f5;">
		<div class="item item-divider gray fontsize-bold">基础信息</div>
		<div class="item item-icon-right" ng-click="showDate('com_establish_time')">
			<span class="gray">企业成立时间</span>
			<span class="pull-right">
				{{comObj.com_establish_time.substring(0,10)}}
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</span>
		</div>
		<div class="item item-icon-right" ng-click="editComBase('com_legal_representative_name',2)">
			<span class="gray">法人代表</span>
			<p class="pull-right xkd-community-topic-topthree-span" style="text-align:right;white-space:normal;">
				{{comObj.com_legal_representative_name}}
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</p>
		</div>
		<div class="item item-icon-right" ng-click="editComBase('com_credit_code',2)">
			<span class="gray pull-left">统一社会<br>信用代码</span>
			<p class="item-note m-t-10">
				{{comObj.com_credit_code}}
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</p>
		</div>
		<!--<div class="item">
			组织机构代码
			<span class="item-note">
				{{comObj.com_org_code}}
				<i class="icon ion-ios-arrow-right fontsize-16" style="color:white;"></i>
			</span>
		</div>-->
		<div class="item item-icon-right" ng-click="editComBase('com_type',2)">
			<span class="gray">企业类型</span>
			<span class="pull-right xkd-community-topic-topthree-span">
				{{comObj.com_type}}
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</span>
		</div>
		<div class="item item-icon-right" ng-click="editComBase('com_registered_assets',2)">
			<span class="gray">注册资本</span>
			<span class="pull-right xkd-community-topic-topthree-span">
				{{comObj.com_registered_assets}}
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</span>
		</div>
		<div class="item item-divider gray fontsize-bold">营业期限</div>
		<div class="item item-icon-right" ng-click="showDate('com_start_time')">
			<span class="gray">起始日期</span>
			<span class="pull-right xkd-community-topic-topthree-span">
				{{comObj.com_start_time.substring(0,10)}}
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</span>
		</div>
		<div class="item item-icon-right" ng-click="showDate('com_end_time')">
			<span class="gray">终止日期</span>
			<span class="pull-right xkd-community-topic-topthree-span">
				{{comObj.com_end_time.substring(0,10)}}
				<i class="icon ion-ios-arrow-right fontsize-16"></i>
			</span>
		</div>
		<div class="item item-divider gray fontsize-bold">营业执照</div>
		<div class="item item-icon-right" ng-click="getPic()">
			<span class="gray">营业执照</span>
			<img class="pull-right" ng-repeat="item in img" ng-src="{{item.thumb}}" style="width:100px;height:100px;" ng-if="img.length>0"/>
			<i class="icon ion-ios-arrow-right fontsize-16"></i>
		</div>
	</div>
	</ion-content>
</ion-view>
