<ion-view view-title="公司信息" ng-controller="CompanyMessageCtrl">
	<ion-header-bar align-title="center" class="bar-light" >
		<div class="item-input-inset " ng-click="myBack()">
			<a>
				<i class="ion-chevron-left color-blue"></i>
			</a>
		</div>
		<h1 class="title fontsize-16 color-black">{{item.com_name}}</h1>
		<a class="share fontsize-14 color-blue" ng-click="openshare()">
				<!-- ng-click="WechatShare(item.com_name,item.comments,'http://www.heroera.com/heroera/share/company/company.html?com_id='+item.com_id)" -->
				<i class="ion-android-share-alt fontsize-18"></i>
		</a>

	</ion-header-bar>

	<ion-content class="has-header">

	<div class="list">
		<div class="item-thumbnail-left item b-b-gyay b-t-none" >
			<img  ng-src="{{path.route_path}}{{path.com_logo_path}}{{item.com_logo_path}}" err-src="img/icon_emptyCompany2.png" alt="...">
			<h3 class="fontsize-18 font-family padding-t-10" ng-click="bottomRightClick()">{{item.com_name}}</h3>
		</div>
		<div class="padding-25 bg-white b-b-gyay">
		    <div class="fontsize-16 color-black padding-b-10">公司介绍</div>
			<p class="color-black">{{item.comments}}</p>
	    </div>

	    <div class="padding-25 bg-white">
		    <div class="fontsize-16 color-black padding-b-10">公司活动</div>
			<p class="color-black">该公司暂无活动</p>
	    </div>



<!-- 
		<div  class="row text-center bg-white">
		    <div class="col col-50" ng-class="{'business-xkd-header-active':nowPage == 0,'padding-b-3' : nowPage == 0}" ng-click="changeTab(1)"><span >服务</span></div>
		    <div class="col col-50" ng-class="{'business-xkd-header-active':nowPage == 1,'padding-b-3' : nowPage == 1}" ng-click="changeTab(2)"><span  >推荐</span></div>
		</div>


		<div ng-show="tabType == 1" on-swipe-left="onSwipeLeft(2)">
			<div class="list bg-dark" >
				<ion-item ng-show="unfollowed" ng-if="$index < 2" class="business-recommend" ng-repeat="service in serviceList track by $index" type="item-text-wrap" ng-click="toCompanyBusinessProduct(service)">
					<img ng-src="{{commonPath.host_path}}{{service.material_thumb}}" err-src="img/icon_empty_head.png">
					<span class="color-white list-title fontsize-14" ng-if="service.inner_type">&nbsp;{{service.inner_type == 0 ? "自营" : "推荐"}}</span>
					<h2 class="m-t-5 padding-l-10">{{service.com_service_name}}</h2>
					<p class="padding-l-10" ng-if="service.com_name" style="margin-top:3%">
						<i class="ion-android-bookmark fontsize-18" ></i>&nbsp;{{service.com_name}}
					</p>
					<p class="padding-l-10" ng-if="service.store_name" style="margin-top: 2%">
						<i class="ion-location fontsize-18"></i>&nbsp;{{service.store_name}}
					</p>
					<p class="fontsize-16  padding-l-10 m-t-10" >
						<i class="ion-heart fontsize-18"></i> {{service.like_num}}
						<span class="m-l-15"><i class="ion-chatbox-working fontsize-18"></i> {{service.message_num}}</span>
					</p>
				</ion-item>
				<ion-item class="text-center" ng-if="serviceList.length==0">
					<img style="width: 100%" src="img/icon_empty_img.png"/>
				</ion-item>
				<ion-item ng-show="!unfollowed" class="business-recommend" ng-repeat="service in serviceList" type="item-text-wrap" ng-click="toCompanyBusinessProduct(service)">
					<img ng-src="{{commonPath.host_path}}{{service.material_thumb}}" err-src="img/icon_empty_head.png">
					<span class="color-white list-title fontsize-14" ng-if="service.inner_type">&nbsp;{{service.inner_type == 0 ? "自营" : "推荐"}}</span>
					<h2 class="m-t-5 padding-l-10">{{service.com_service_name}}</h2>
					<p class="padding-l-10" ng-if="service.com_name" style="margin-top:3%">
						<i class="ion-android-bookmark fontsize-18" ></i>&nbsp;{{service.com_name}}
					</p>
					<p class="padding-l-10" ng-if="service.store_name" style="margin-top: 2%">
						<i class="ion-location fontsize-18"></i>&nbsp;{{service.store_name}}
					</p>
					<p class="fontsize-16 padding-l-10 m-t-10">
						<i class="ion-heart fontsize-18"></i> {{service.like_num}}
						<span class="m-l-15"><i class="ion-chatbox-working fontsize-18"></i> {{service.message_num}}</span>
					</p>
				</ion-item>
			</div>
		</div> -->
		
		<div ng-show="tabType == 2" on-swipe-right="onSwipeRight(1)">
			<div class="list bg-dark">
				<!-- ----------------未关注显示2条 --------------->
				<div class="row card padding-15" ng-show="unfollowed" ng-if="$index < 2" style="margin-bottom: 14px;" ng-repeat="activityItem in activityList track by $index" ui-sref="activityitem({id:activityItem.party_id,from:'tab.communityactivity'})" style="margin-top: 0;padding-top: 15px">
					<div class="col col-33 text-center" style="background:url('{{commonPath.host_path}}{{activityItem.material_thumb}}');background-repeat:no-repeat;background-position:center;background-size:cover;background-clip:content-box">
					</div>
					<div class="col col-67 m-l-10">
						<h4 style="text-overflow: ellipsis;white-space: nowrap;course:hand" class="calm font-family"><strong>{{activityItem.title}}</strong></h4>
						<p>
							<small class="m-r-5" ng-repeat="comLabel in activityItem.business_label track by $index">{{comLabel}}</small>
						</p>
						<p><span><i class="ion-ios-time"></i>  {{activityItem.start_time}}</span></p>
						<p><span><i class="ion-ios-time-outline"></i>  {{activityItem.end_time}}</span></p>
						<p><span><i class="ion-ios-location fontsize-16"></i>  {{activityItem.address}}</span></p>
						<p><span><i class="ion-android-bookmark fontsize-16"></i>  {{activityItem.com_name}}</span></p>
						<p class="m-t-5">
							<button disabled="disabled" class="button button-small">{{activityItem.enroll_num}}  人参加</button>
							<button disabled="disabled" class="button button-small m-l-5" >{{activityItem.message_num}}  人评论</button>
							<button disabled="disabled" class="button button-small m-l-5">{{activityItem.like_num}}  人赞</button>
						</p>
					</div>
				</div>

				<!-- <div ng-show="unfollowed" ng-if="$index < 2" ng-repeat="activityItem in activityList track by $index">
					<div class="item item-avatar" style="border-bottom-width:0px">
						<img ui-sref="personalmsg({user_id:activityItem.cre_user_id,com_id:activityItem.cre_com_id,from:'tab.communityactivity'})" ng-src="{{commonPath.route_path}}{{commonPath.photo_path}}{{activityItem.one_inch_photo_url}}" err-src="img/icon_empty_img.png">
						<h2>{{activityItem.title}}</h2>
						<small>{{activityItem.com_name}}</small>
						<span class="badge badge-assertive">活动</span>
					</div>
					<div class="item item-avatar b-t-none">
						<p class="m-b-10" style="white-space: normal;">{{activityItem.content}}</p>
						<div>
							<ion-gallery ion-gallery-items="activityItem.activityImgItems" ion-gallery-item-edit="false"></ion-gallery>
						</div>
						<div ui-sref="postMaterialDetail({id:activityItem.com_article_material_id,from:'tab.communityactivity'})" class="item m-t-10" style="background: #f3f0f0;padding: 3px;border: none;" ng-if="activityItem.com_article_material_id">
							<span class="pull-left" style="display: inline-block;width: 30px;height: 30px;">
								<img width="100%" ng-src="{{activityItem.material_thumb}}" err-src="img/icon_empty_img.png">
							</span>
							<a class="pull-left m-l-10">{{activityItem.material_abstract}}</a>
						</div>
						<div class="m-t-10">
							<div class="fontsize-12"><i class="ion-ios-timer-outline"></i> {{activityItem.start_time}}</div>
							<div class="fontsize-12"><i class="ion-ios-clock"></i> {{activityItem.end_time}}</div>
							<div class="fontsize-12"><i class="ion-location"></i> {{activityItem.address}}</div>
						</div>
					</div>
					<div class="item item-avatar b-t-none">
						<div class="pull-right m-b-10">
							<a class="button button-small" ng-click="enroll(activityItem)">
								<span ng-show="activityItem.is_enroll==0 && activityItem.enroll_show == true" ng-class="{calm:activityItem.is_enroll == 0}">参与</span>
								<span ng-show="activityItem.is_enroll==1 && activityItem.enroll_show == true">取消参与</span>
								<span ng-show="activityItem.enroll_show == false">报名失效</span>
							</a>
						</div>
						<div class="m-t-sm bg-light" style="clear:both;border-radius:5px;" ng-show="activityItem.like.length>0||activityItem.service_message_info.length>0">
							<div style="position: relative">
								<div style="width:0; height:0; border-width:8px; border-style:solid; border-color:transparent transparent #edf1f2 transparent; font-size:0; line-height:0;position: absolute;bottom: -1px;left: 10px">
								</div>
							</div>
						</div>
					</div>
				</div> -->

        <!-- 没数据不显示 -->
        <ion-item class="text-center" ng-if="activityList.length==0">
          <img style="width: 100%" src="img/icon_empty_img.png"/>
        </ion-item>
				<!-- -----------已关注显示全部-------------- -->

				<div class="row item m-b-10" ng-show="!unfollowed" ng-repeat="activityItem in activityList " ui-sref="activityitem({id:activityItem.party_id,from:'tab.communityactivity'})" style="margin-top: 0;padding-top: 15px">
					<div class="col col-33 text-center m-t-5" style="background:url('{{commonPath.host_path}}{{activityItem.material_thumb}}');background-repeat:no-repeat;background-position:center;background-size:cover;background-clip:content-box">
					</div>
					<div class="col col-67">
						<h2 class="calm font-family"><strong>{{activityItem.title}}</strong></h4>
						<p>
							<small class="m-r-5" ng-repeat="comLabel in activityItem.business_label track by $index">{{comLabel}}</small>
						</p>
						<p><span><i class="ion-ios-time"></i>  {{activityItem.start_time}}</span></p>
						<p><span><i class="ion-ios-time-outline"></i>  {{activityItem.end_time}}</span></p>
						<p><span><i class="ion-ios-location fontsize-16"></i>  {{activityItem.address}}</span></p>
						<p><span><i class="ion-android-bookmark fontsize-16"></i>  {{activityItem.com_name}}</span></p>
						<p class="m-t-5">
							<button disabled="disabled" class="button button-small">{{activityItem.enroll_num}}  人参加</button>
							<button disabled="disabled" class="button button-small m-l-5" >{{activityItem.message_num}}  人评论</button>
							<button disabled="disabled" class="button button-small m-l-5">{{activityItem.like_num}}  人赞</button>
						</p>
					</div>
				</div>
		<!-- 		<div ng-show="!unfollowed" ng-repeat="activityItem in activityList">
					<div class="item item-avatar" style="border-bottom-width:0px">
						<img ui-sref="personalmsg({user_id:activityItem.cre_user_id,com_id:activityItem.cre_com_id,from:'tab.communityactivity'})" ng-src="{{commonPath.route_path}}{{commonPath.photo_path}}{{activityItem.one_inch_photo_url}}" err-src="img/icon_empty_img.png">
						<h2>{{activityItem.title}}</h2>
						<small>{{activityItem.com_name}}</small>
						<span class="badge badge-assertive">活动</span>
					</div>
					<div class="item item-avatar b-t-none">
						<p class="m-b-10" style="white-space: normal;">{{activityItem.content}}</p>
						<div>
							<ion-gallery ion-gallery-items="activityItem.activityImgItems" ion-gallery-item-edit="false"></ion-gallery>
						</div>
						<div ui-sref="postMaterialDetail({id:activityItem.com_article_material_id,from:'tab.communityactivity'})" class="item m-t-10" style="background: #f3f0f0;padding: 3px;border: none;" ng-if="activityItem.com_article_material_id">
							<span class="pull-left" style="display: inline-block;width: 30px;height: 30px;">
								<img width="100%" ng-src="{{activityItem.material_thumb}}" err-src="img/icon_empty_img.png">
							</span>
							<a class="pull-left m-l-10">{{activityItem.material_abstract}}</a>
						</div>
						<div class="m-t-10">
							<div class="fontsize-12"><i class="ion-ios-timer-outline"></i> {{activityItem.start_time}}</div>
							<div class="fontsize-12"><i class="ion-ios-clock"></i> {{activityItem.end_time}}</div>
							<div class="fontsize-12"><i class="ion-location"></i> {{activityItem.address}}</div>
						</div>
					</div>
					<div class="item item-avatar b-t-none">
						<div class="pull-right m-b-10">
							<a class="button button-small" ng-click="enroll(activityItem)">
								<span ng-show="activityItem.is_enroll==0 && activityItem.enroll_show == true" ng-class="{calm:activityItem.is_enroll == 0}">参与</span>
								<span ng-show="activityItem.is_enroll==1 && activityItem.enroll_show == true">取消参与</span>
								<span ng-show="activityItem.enroll_show == false">报名失效</span>
							</a>
						</div>
						<div class="m-t-sm bg-light" style="clear:both;border-radius:5px;" ng-show="activityItem.like.length>0||activityItem.service_message_info.length>0">
							<div style="position: relative">
								<div style="width:0; height:0; border-width:8px; border-style:solid; border-color:transparent transparent #edf1f2 transparent; font-size:0; line-height:0;position: absolute;bottom: -1px;left: 10px">
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
			<!-- <ion-infinite-scroll ng-if="!activityIsEmptyData" on-infinite="getActivityList()" distance="1%"></ion-infinite-scroll> -->
		<div class="padding">
			<!--关注按钮-->
			<button ng-show="unfollowed" class="button button-block button-calm " ng-click="followCompany(item.com_id)" ng-bind-html="followText">
			</button>
			<!--已关注之后，进入企业-->
			<!-- <button ng-show="!unfollowed" class="button button-block button-calm" ui-sref="aboutcompany({com_id:item.com_id})" ng-bind-html="followText">
			</button> -->
		</div>
	</div>
	</ion-content>
	<div ng-show="hasshare">
		<div class="card share-com">
			<div class="item item-divider" style="height:50px;line-height:34px">
				分享给朋友
			</div>
			<div class="item item-text-wrap share-social">
 				<a class="col" ng-click="WechatShare(item.com_name,item.comments,'http://www.heroera.com/heroera/share/company/company.html?com_id='+item.com_id,'Wechat.Scene.SESSION')" > 
					<img src="img/icon-weixin.png" >
					<span>微信朋友圈</span>
				</a>
				<a class="col" ng-click="WechatShare(item.com_name,item.comments,'http://www.heroera.com/heroera/share/company/company.html?com_id='+item.com_id,'Wechat.Scene.TIMELINE')">
					<img src="img/icon-weixin.png">
					<span>微信好友</span>
				</a>
				<a class="col" ng-click="QQShare(item.com_name,item.comments,'http://www.heroera.com/heroera/share/company/company.html?com_id='+item.com_id)">
					<img src="img/icon-qq.png">
					<span>QQ</span>
				</a>
				<!-- <a class="col" ng-click="WeiboShare(item.com_name,item.comments,'http://www.heroera.com/heroera/share/company/company.html?com_id='+item.com_id)">
					<img src="img/icon-weibo.png">
					<span>新浪微博</span>
				</a> -->
				<hr>
				<a class="col" ng-click="report()">
					<img src="img/icon-jb.png">
					<span>举报</span>
				</a>
			</div>
		</div>
		<div class="chat-image-cover" ng-click="closeshare()"></div>
	</div>
</ion-view>
