<ion-view view-title="选择企业" ng-controller="CompanySelectListCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span >
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">选择企业</h1> 
		<div class="buttons">
			<div class="item-input-inset">
				<a class="color-blue fontsize-16 disable-user-behavior" on-tap="join()">加入企业</a>
			</div>
		</div>

	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="list m-t-15">
			<a class="item item-avatar item-icon-right" ng-repeat="item in dataItems" ng-click="selectCompanyListCick(item)"><!--  ng-click="selectCompanyListCick(item)" -->
				<img ng-src="{{companyPath}}{{item.com_logo_path}}" err-src="img/icon_emptyCompany2.png">
				<h2>{{item.com_name}}</h2>
				<p>{{item.comments}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>