<ion-view view-title="城市选择" ng-controller="CompanyDetailCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="combase">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">城市选择</h1>
	</ion-header-bar>

	<ion-content class="has-header" >
		<div class="list">
			<label class="item item-divider">
				热门城市
			</label>
			<label class="item" ng-repeat="city in cityList" ng-click="selectCity(city);">
				<span >
					{{city.city_name}}
				</span>
			</label>
			<label class="item item-divider">
				其他城市
			</label>
		</div>
	</ion-content>
	
</ion-view>