<style type="text/css">
	.w{
		width: 138px;
	}
	.fontStyle{
		font-family: "微软雅黑";
	}
</style>
<ion-view view-title="资质信息编辑" ng-controller="CompanyEidtCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="ComBack()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">资质信息编辑</h1>

	</ion-header-bar>

	<ion-content class="has-header">
		<div class="list">
			<label class="item item-input" ng-click="showDate()">
				<span class="input-label w">企业成立时间</span>
				<input type="text" ng-model="comObj.com_establish_time.substring(0,10)">
			</label>
			<label class="item item-input">
				<span class="input-label w">法人代表</span>
				<input type="text" class="fontStyle" ng-model="comObj.com_legal_representative_name" placeholder="必填">
			</label>
			<label class="item item-input">
				<span class="input-label w">统一社会信用代码</span>
				<input type="text" ng-model="comObj.com_credit_code" placeholder="必填">
			</label>
			<label class="item item-input">
				<span class="input-label w">组织机构代码</span>
				<input type="text" ng-model="comObj.com_org_code" placeholder="必填">
			</label>
			<label class="item item-input">
				<span class="input-label w">企业类型</span>
				<input type="text" class="fontStyle" ng-model="comObj.com_type" placeholder='选填:合资、独资、私营等'>
			</label>
			<label class="item item-input">
				<span class="input-label w">注册资本</span>
				<input type="number" ng-model="comObj.com_registered_assets" placeholder="必填">
			</label>
			<div class="item item-divider">营业期限</div>
			<label class="item item-input" ng-click="showDate1()">
				<span class="input-label w">起始日期</span>
				<input type="text" ng-model="comObj.com_start_time.substring(0,10)">
			</label>
			<label class="item item-input" ng-click="showDate2()">
				<span class="input-label w">终止日期</span>
				<input type="text" ng-model="comObj.com_end_time.substring(0,10)">
			</label>
			<div class="item item-divider">资质证明</div>
			<div class="item"><img ng-repeat="item in img" ng-src="{{item.thumb}}" ng-click="showBigImage(item.thumb)" style="width:100px;height:100px;" ng-if="img.length>0"/><img src="img/icon_empty_img.png" style="width:100px;height:100px;" ng-if="img.length == 0"/></div>			
			<div class="item item-icon-right customer-height-54">附件(最多只上传1张)<i class="icon ion-ios-camera-outline" ng-click="getPic()"></i></div>
		</div>
		<div class="padding">
		<button class="button button-block button-calm" ng-click="updateAptitude();">
			保存
		</button>
		</div>
		<script id="modal.html" type="text/ng-template">
			<div class="modal" ng-click="hideBigImage()" style="background-color:transparent;">
				<img src="{{Url}}" style="position: absolute;top: 50%;left: 50%; -webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);max-width:90%;max-height:90%;"/>
			</div>
		</script>
</ion-view>