<ion-view view-title="企业编辑" ng-controller="CompanyEidtCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="company">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-white">企业编辑</h1>
		<!--  
		<div class="buttons">
			<button class="button">右侧按钮</button>
		</div>-->
	</ion-header-bar>


	<ion-content class="has-header">
		<div class="list">
			<a class="item item-icon-right color-black" ui-sref="combase">
				基础信息
				<i class="icon ion-chevron-right fontsize-14 color-black"></i>
			</a>

			<a class="item item-icon-right color-black" ui-sref="comaptitude">
				资质信息
				<i class="icon ion-chevron-right fontsize-14 color-black"></i>
			</a>
		</div>
	</ion-content>
</ion-view>