<ion-view view-title="需求管理" ng-controller="CompanyPublishController">
	<ion-header-bar align-title="center" class="color-white bar-dark">
		<div class="item-input-inset" ui-sref="tab.mine({thisItem:1})">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">需求管理</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="demandSearch.keyword" placeholder="搜索">
			</label>
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="demandDoRefresh()"></ion-refresher>

		<div class="card" style="margin-bottom:8px;" ng-repeat="demandItem in demandList">
			<div class="item item-avatar" style="border-bottom-width:0px">
				<img ui-sref="personalmsg({user_id:demandItem.cre_user_id,com_id:demandItem.com_id,from:'tab.community'})" ng-src="{{photo_path}}{{demandItem.one_inch_photo_url}}" err-src="img/icon_empty_head.png">

				<h2>{{demandItem.com_needs_name}}</h2>

				<small >{{demandItem.com_name}}</small><br/>
				<span ng-repeat="label in demandItem.service_tag_name">
					<small class="fontsize-12" style="color:#33cd5f;border-radius:5px;border:1px solid #33cd5f;padding:2px 5px 4px 5px;">{{label}}</small>
				</span>
				<span class="badge badge-balanced">需求</span>
			</div>
			<div class="item item-avatar b-t-none">
				<p class="m-b-10" style="white-space: normal;">{{demandItem.com_needs_des}}</p>

				<div>
					<ion-gallery ion-gallery-items="demandItem.demandImgItems" ion-gallery-item-edit="false"></ion-gallery>
				</div>


				<div ui-sref="postMaterialDetail({id:demandItem.com_article_material_id,from:'tab.community'})" class="item m-t-10" style="background: #f3f0f0;padding: 3px;border: none;"
             ng-if="demandItem.com_article_material_id" ng-repeat="place in demandItem.com_needs_thumb">
					<span class="pull-left" style="display: inline-block;width: 30px;height: 30px;">
						<img style="width:80%;margin-top:50px" ng-src="{{place}}" err-src="img/icon_empty_img.png">
					</span>
					<a class="pull-left m-l-10">{{demandItem.material_abstract}}</a>
				</div>

			</div>
			<div class="item item-avatar b-t-none">
				<div class="pull-right m-b-10">
					<a ng-click="likeYou(2,demandItem,demandItem.is_like)" class="m-r-5">
						<span ng-show="demandItem.is_like==0"><i class="ion-android-favorite-outline"></i> 赞</span>
						<span class="heroBlue" ng-show="demandItem.is_like==1"><i class="ion-heart"></i>&nbsp;赞</span>
					</a>
					<a ng-click="replayShow(1,demandItem,-1,2)" class="m-l-10 m-r-5"><i class="ion-chatbox-working"></i> 评论</a>
					<a ng-if="isManager" ui-sref="publishforme({article_target_id:demandItem.com_needs_id})" class="button button-small button button-calm">投给我的</a>
				</div>
				<div class="m-t-sm bg-light" style="clear:both;border-radius:5px;" ng-show="demandItem.service_like_info.length>0||demandItem.service_message_info.length>0">
					<div style="position: relative">
						<div style="width:0; height:0; border-width:8px; border-style:solid; border-color:transparent transparent #edf1f2 transparent; font-size:0; line-height:0;position: absolute;bottom: -1px;left: 10px">
						</div>
					</div>
					<div>
						<div class="padding-5" ng-class="{'b-b':demandItem.service_message_info.length>0}" ng-show="demandItem.service_like_info.length>0">
							<i class="ion-heart fontsize-12"></i>
							<a class="positive fontsize-12" ng-repeat="like in demandItem.service_like_info">{{like.like_user_name}}&nbsp;&nbsp;</a>
						</div>
						<div class="padding-5" ng-show="demandItem.service_message_info.length>0">
							<div ng-repeat="message in demandItem.service_message_info" ng-click="replayShow(2,demandItem,$index,2)">
								<a class="positive fontsize-12">{{message.message_user_name}}</a><span class="fontsize-12" ng-if="message.message_parent_user_name"> 回复 </span><a class="positive fontsize-12">{{message.message_parent_user_name}}</a><span>:</span>
								<span  style="white-space: normal;word-break: break-all;" class="fontsize-12">{{message.message_content}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll ng-if="!demandIsEmptyData" on-infinite="getDemandList()" distance="1%"></ion-infinite-scroll>
		<div class="text-center" ng-show="demandIsOverLoad">
			<img style="width: 50%;margin-top:50px" src="img/icon_empty_img.png"/>
		</div>
	</ion-content>
	<div style="bottom:0">
		<ion-footer-bar ng-class="{'input-wrap-high' : isMore,'input-wrap' : !isMore}" keyboard-attach ng-show="replay_show">
			<div class="bar bar-footer item-input-inset" ng-show="replay_show">
				<label class="item-input-wrapper">
					<input type="search" autofocus="autofocus" ng-model="re.message_content" placeholder="说点什么呢？">
				</label>
				<button class="button button-small button-calm" ng-click='sendReplay()'>
					发送
				</button>
			</div>
		</ion-footer-bar>
	</div>
	<i ng-click="scrollTop()" class="backtoTopBtn ion-android-arrow-up back-top rounded-500 text-center"></i>
</ion-view>

