<ion-view view-title="订单详情" ng-controller="ComOrdersDetailCtrl">
	<ion-header-bar align-title="center" class="bg-blue">
		<div class="item-input-inset" ui-sref="comorders">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-white">订单详情</h1>

	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="list card bg-dark">
			<ion-item class="item-thumbnail-left" type="item-text-wrap">
				<img ng-src="{{path.route_path}}{{path.service_thumb_path}}{{OrderDetail.com_service_photo[0]}}" err-src="img/icon_empty_head.png" alt="...">
				<h2>产品名称：&nbsp;{{OrderDetail.com_service_name}}</h2>
				<p>产品价格：&nbsp;</p>
			</ion-item>
			<!-- <div class="item" >
				<p>产品名称：&nbsp;{{OrderDetail.com_service_name}}</p>
				<p>产品价格：&nbsp;</p>
				<p>产品描述：&nbsp;{{OrderDetail.com_service_des}}</p>
			</div> -->

			<div class="item" style="margin-top:10px;">
				甲方
				<p></p>
				<p>负责人：&nbsp;{{OrderDetail.reserved_name}}</p>
				<p>联系方式：&nbsp;{{OrderDetail.reserved_phone}}</p>
				<p>邮箱：&nbsp;{{OrderDetail.reserved_email}}</p>
			</div>
			<div class="item">
				乙方
				<p></p>
				<p>负责人：&nbsp;{{OrderDetail.reserve_name}}</p>
				<p>联系方式：&nbsp;{{OrderDetail.reserve_phone}}</p>
				<p>邮箱：&nbsp;{{OrderDetail.reserved_email}}</p>
			</div>

			<div class="item" style="margin-top:10px;">
				<p>订单编号：&nbsp;{{OrderDetail.reserve_code}}</p>
				<p>订单日期：&nbsp;{{OrderDetail.reserve_time}}</p>
				
				<p>RO姓名：&nbsp;{{OrderDetail.ro_name}}</p>
				<p>RO联系方式：&nbsp;{{OrderDetail.ro_phone}}</p>
			</div>
			<div class="item">
				<p ng-switch="OrderDetail.reserve_status">
					<span>
						状态:&nbsp;
					</span>
					<span ng-switch-when="2" class="assertive">买方下单</span>
					<span ng-switch-when="-1" class="assertive">RO取消</span>
					<span ng-switch-when="3" class="assertive">RO完成</span>
					<span ng-switch-when="4" class="assertive">评价</span>
					<span ng-switch-default></span>
				</p>
			</div>
		</div>
<!-- 
		<div class="list card">
			<div class="item">
				甲方  
				<span class="item-note ">
					{{OrderDetail.reserved_name}}
				</span> 
			</div>
			<div class="item">
				联系方式
				<span class="item-note ">
					{{OrderDetail.reserved_phone}}
				</span>
			</div>
			<div class="item">
				乙方
				<span class="item-note ">
					{{OrderDetail.reserve_name}}
				</span>	
			</div>
			<div class="item">
				联系方式
				<span class="item-note ">
					{{OrderDetail.reserve_phone}}
				</span>
			</div>
			<div class="item">
				RO
				<span class="item-note ">
					{{OrderDetail.ro_name}}
				</span>   
			</div>
			<div class="item">
				联系方式
				<span class="item-note ">
					{{OrderDetail.ro_phone}}
				</span>
			</div>
			<div class="item">
				产品 
				<span class="item-note ">
					{{OrderDetail.com_service_name}}
				</span> 
			</div>
			<div class="item">
				产品信息
				<span class="item-note ">
					{{OrderDetail.com_service_des}}
				</span>
			</div>
		</div> -->
	</ion-content>
	
</ion-view>