<ion-view view-title="投给我的" ng-controller="PublishForMeController">
   <ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset">
			<span>
				<i class="ion-chevron-left" ui-sref="companypublish"></i>
			</span>
		</div>
		 <h1 class="title">投给我的</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<ion-refresher pulling-text="下拉刷新" on-refresh="publishRefresh()"></ion-refresher>


		<div ng-show="hasMaterial" class="text-center zwsc" >
				<a style="line-height: 38px">抱歉( ▼-▼ )暂无投递哦~</a><br>
		</div>
		<div class="card" style="margin-bottom:8px;" ng-repeat="publish in publishList">

			<div class="item item-avatar" style="border-bottom-width:0px" ng-show="!hasMaterial">
				<img ui-sref="personalmsg({user_id:publish.cre_user_id,from:'tab.community'})" ng-src="{{commonPath.route_path}}{{commonPath.photo_path}}{{publish.one_inch_photo_url}}" err-src="img/icon_empty_head.png">
				<h2>{{publish.com_service_name}}</h2>
				<p>{{publish.com_name}}</p>
				<span>
					<span class="badge badge-calm" >服务</span>
				</span>
			</div>
			<div class="item item-avatar b-t-none ">
				<p>{{publish.com_service_des}}</p>
				<div>
					<span ng-if="publishList.ImgItems.length>0"><ion-gallery ion-gallery-items="publishList.ImgItems" ion-gallery-item-edit="false"></ion-gallery></span>
				</div>
				<div ui-sref="postMaterialDetail({id:publish.com_article_material_id,from:'tab.community'})" class="item" style="background: #f3f0f0;padding: 3px;border: none;" ng-if="publish.com_article_material_id">
					<span class="pull-left" style="display: inline-block;width: 30px;height: 30px;">
						<img style="width:80%;margin-top:50px" ng-src="{{publish.material_thumb}}" err-src="img/icon_empty_img.png">
					</span>
					<a class="pull-left m-l-10">{{publish.material_abstract}}</a>
				</div>
			</div>

			<div class="item item-avatar customer-card-footer b-t-none" ng-show="!hasMaterial">
				<div class="pull-right m-b-10">
					<a ng-click="likeYou(publish.com_service_id,publish,publish.is_like)" class="button button-small">
						<span ng-show="publish.is_like==0"><i class="ion-heart"></i> 赞</span>
						<span ng-show="publish.is_like==1"><i class="ion-heart assertive"></i> 取消赞</span>
					</a>
					<a ng-click="replayShow(1,publish,-1,4)" class="button button-small"><i class="ion-chatbox-working"></i> 评论</a>
				</div>
				<div class="m-t-sm bg-light" style="clear:both;border-radius:5px;" ng-show="publish.service_like_info.length>0||publish.service_message_info.length>0">
					<div style="position: relative">
						<div style="width:0; height:0; border-width:8px; border-style:solid; border-color:transparent transparent #edf1f2 transparent; font-size:0; line-height:0;position: absolute;bottom: -1px;left: 10px">
						</div>
					</div>
					<div>
						<div class="padding-5" ng-class="{'b-b':publish.service_message_info.length>0}" ng-show="publish.service_like_info.length>0">
							<i class="ion-heart fontsize-12"></i>
							<a class="positive fontsize-12" ng-repeat="like in publish.service_like_info">{{like.like_user_name}}&nbsp;&nbsp;</a>
						</div>
						<div class="padding-5" ng-show="publish.service_message_info.length>0">
							<div ng-repeat="message in publish.service_message_info" ng-click="replayShow(2,publish,$index,2)">
								<a class="positive fontsize-12">{{message.message_user_name}}</a><span class="fontsize-12" ng-if="message.message_parent_user_name"> 回复 </span><a class="positive fontsize-12">{{message.message_parent_user_name}}</a><span>:</span>
								<span  style="white-space: normal;word-break: break-all;" class="fontsize-12">{{message.message_content}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <ion-infinite-scroll ng-if="!isEmptyData" on-infinite="getPublishForMe()" distance="1%"></ion-infinite-scroll>
	</ion-content> -->



















        <div class="panel panel-default m-t-sm" style="border: none">
            <div style="border-bottom:1px solid #ccc" ng-repeat="item in items">
                <div class="panel-body">
                    <div class="media">
                        <span class="pull-left thumb-md"><img ng-src="{{path}}{{item.com_logo_path}}" err-src="img/none.jpg" alt="..."></span>
                        <div class="media-body">
                            <div class="pull-right text-center text-muted">
                                <span class="label bg-success">项目</span><br>
                            </div>
                            <a class="h4 text-info">{{item.com_service_name}}</a>
                            <small class="block">
                                <a>{{item.com_name}}</a>
                                <span class="label bg-info">{{item.com_service_des}}</span>
                            </small>
                            <small class="block m-t-sm">
                                {{item.com_service_digest}}
                            </small>

                            <div class="col-xs-12">
                                <div class="col-xs-4 wrapper-xxs line-lg">
                                    <img ng-src="{{path}}{{item.com_service_thumb}}" err-src="img/none.jpg" alt="" class="img-responsive"/>
                                </div>
                            </div>



                            <div class="media" style="background: #f3f0f0;padding: 3px;">
                                <span class="pull-left thumb-sm">
                                    <img ng-src="{{path}}{{item.material_thumb}}" err-src="img/none.jpg">
                                </span>
                                <div class="media-body">
                                    <small class="block" style="font-size: 0.8em">
                                        {{item.material_abstract}}
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="line pull-in"></div>
                </div>
            </div>
        </div>

    </ion-content>
 
    <div style="bottom:0">
    	<ion-footer-bar class="bar bar-footer item-input-inset" ng-show="replay_show" keyboard-attach style="margin-bottom:100px;">
    		<label class="item-input-wrapper">
    			<input type="search" autofocus="autofocus" ng-model="re.message_content" placeholder="说点什么呢？">
    		</label>
    		<button class="button button-small button-calm" ng-click='sendReplay()'>
    			发送
    		</button>
    	</ion-footer-bar>
    </div>
</ion-view>
