<ion-view view-title="员工列表" ng-controller="StaffListCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" onClick="javascript :history.back(-1);">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">员工列表</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="m-t-15" ng-hide="isEmptyData">
			<ion-list>
				<ion-item class="item-thumbnail-left" ng-repeat="item in dataItems" type="item-text-wrap"  ng-click="saveDeptFullName(item)">
					<img class="rounded-500" ng-src="{{photo_path}}{{item.one_inch_photo_url}}" err-src="img/icon_emptyPeron.png">
					<h2 style="padding-top:20px;font-size:24px;">{{item.full_name}}</h2>
					<p style="width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:18px;">{{item.post_name}}</p>
				</ion-item>
			</ion-list>
		</div>
		<div class="text-center" ng-show="isEmptyData">
			<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"/>

		</div>
	</ion-content>

	<!-- <div class="tabs-striped tabs-bottom tabs-background-stable tabs-color-blue" ng-show="loginUser.isManager">
		<div class="tabs b-t">
			<a class="tab-item" ui-sref="personaladd({dept_id:dept_id,dept_name:dept_name})">
				添加员工
			</a>
			<a class="tab-item b-l" ui-sref="deptadd({dept_id:dept_id,dept_type:dept_type,dept_name:dept_name})">
				添加子部门
			</a>
			<a class="tab-item b-l" ui-sref="deptedit({dept_id:dept_id,dept_name:dept_name})">
				编辑部门
			</a>
		</div>
	</div> -->
</ion-view>
