<ion-view view-title="员工列表" ng-controller="PersonalDeptListCtrl">
	<ion-header-bar align-title="center" class="bg-light">
		<div class="item-input-inset" href="javascript:history.back();">
			<a>
				<i class="ion-chevron-left color-blue"></i>
			</a>
		</div>
		<h1 class="title fontsize-16 color-black">员工列表</h1>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">

		<div class="list m-t-15">
			<a class="item item-avatar" ng-repeat="item in dataItems" ng-click="saveDeptFullName(item)">
				<img src="img/ben.png">
				<h2>{{item.full_name}}</h2>
				<p>{{item.post_name}}</p>
			</a>
		</div>
	</ion-content>
</ion-view>