<ion-view view-title="intelligoo" ng-controller="IntelligooController">

	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset col-20 text-center" ng-click="myGoBack()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title">我的钥匙</h1>
		<div class="buttons" ng-click="pageReload()">
			<div class="item-input-inset">
				<a class="color-blue fontsize-16">刷新</a>
			</div>
		</div>
	</ion-header-bar>


	<div class="tabs-light tabs-striped tabs-top tabs-bottom">
		<div class="tabs " style="box-shadow: none;    border-top: 1px solid #ddd!important;">
			<a ng-class="{'tab-item-active': tab==1}" class="tab-item" ng-click="chooseTab(1)">
				<span class="tab-title ">会议室</span>
			</a>
			<a ng-class="{'tab-item-active': tab==2}" class="tab-item" ng-click="chooseTab(2)">
				<span class="tab-title ">大门</span>
			</a>
		</div>
	</div>

	<ion-content class="has-subheader">

		<!-- 会议室 -->
		<a ng-repeat="li in obj.bluetoothList" ng-if="tab==1 && (li.meeting_room_id || li.room_id)" class="item item-avatar"  ng-class="{'color-blue':li.rssi != 0,'color-silver':li.rssi == 0}" ng-click="openDoor(li)">
			<img ng-if="li.rssi == 0 && !li.meeting_room_zmy_dev_id" src="./img/icon-bluetooth-key-grey.png">
			<img ng-if="li.rssi != 0 || li.meeting_room_zmy_dev_id" src="./img/icon-bluetooth-key-blue.png">
			<h2 class="chat-text-overflow" style="max-width: 85%;">{{li.store_name}}{{li.meeting_room_name}}{{li.meeting_room_sn}}</h2>
			<p class="chat-text-overflow" ng-if="li.rssi == 0 && !li.meeting_room_zmy_dev_id">不在范围内</p>
			<p class="chat-text-overflow" ng-if="li.rssi != 0 && !li.meeting_room_zmy_dev_id">点击开门</p>
			<!-- 芝麻云开门/榉树开门 -->
			<p class="chat-text-overflow" ng-if="li.meeting_room_zmy_dev_id || li.keyid ">点击开门</p>
			<div ng-if="li.rssi == 0" style="background: url('./img/icon-bluetooth-open-grey.png');width: 100%;height: 100px;background-size:cover;background-position:center;width:44px;height:44px;position: absolute;top: 18px;right: 10px;"></div>
			<div ng-if="li.rssi != 0" style="background: url('./img/icon-bluetooth-open-blue.png');width: 100%;height: 100px;background-size:cover;background-position:center;width:44px;height:44px;position: absolute;top: 18px;right: 10px;"></div>
		</a>
		
		<!-- 大门 -->
		<a ng-repeat="li in obj.bluetoothList" ng-if="tab==2 && li.door_id && li.meeting_room_dev_id" class="item item-avatar" ng-class="{'color-blue':li.rssi != 0,'color-silver':li.rssi == 0}" ng-click="openDoor(li)">
			<img ng-if="li.rssi == 0" src="./img/icon-bluetooth-key-grey.png">
			<img ng-if="li.rssi != 0" src="./img/icon-bluetooth-key-blue.png">
			<h2 class="chat-text-overflow">{{li.store_name}}{{li.door_name}}{{li.door_sn}}</h2>
			<p class="chat-text-overflow" ng-if="li.rssi == 0">不在范围内</p>
			<p class="chat-text-overflow" ng-if="li.rssi != 0">点击开门</p>
			<div ng-if="li.rssi == 0" style="background: url('./img/icon-bluetooth-open-grey.png');width: 100%;height: 100px;background-size:cover;background-position:center;width:44px;height:44px;position: absolute;top: 18px;right: 10px;"></div>
			<div ng-if="li.rssi != 0" style="background: url('./img/icon-bluetooth-open-blue.png');width: 100%;height: 100px;background-size:cover;background-position:center;width:44px;height:44px;position: absolute;top: 18px;right: 10px;"></div>
		</a> 
	</ion-content>

</ion-view>