<ion-view view-title="发布活动" ng-controller="PostActivityController">
	<form name="postActivityForm">
		<ion-header-bar align-title="center" class="bar-light">
			<div class="item-input-inset color-white" ng-click="myGoBack()">
				<span>
					<i class="ion-chevron-left color-blue"></i>
				</span>
			</div>
			<h1 class="title fontsize-16 color-black">发布活动</h1>
			<div class="buttons">
				<div class="item-input-inset">
					<a class="color-blue fontsize-16" on-tap="postActivity()">发布</a>
				</div>
			</div>
		</ion-header-bar>
		
		<ion-content class="has-header bg-white">
			<div class="list">
				<label class="item item-input m-t-15">
					<textarea class="customer-textarea" ng-model="article.title" rows="1" placeholder="说说派对主题呗...(必填)" required></textarea>
				</label>
				<label class="item item-input m-t-15">
					<textarea class="customer-textarea" ng-model="article.content" rows="5" placeholder="记得告诉大家派对的时间和地点哦...(必填)" required></textarea>
				</label>
				<ion-gallery ion-gallery-items="article.imgs" ion-gallery-item-edit="true"></ion-gallery>
				<!-- <div class="item item-icon-left customer-height-54"><i class="icon ion-ios-camera-outline" ng-click="getPic()"></i></div> -->
				<div class="item item-icon-left customer-height-54"><upload-image upload-images="article.imgs" camera-options="cameraOptions"></upload-image></div>

				<!-- <a class="item" ng-if="!article.material" ng-click="openModal()">
					引文
					<span class="pull-right" >
						<i class="icon ion-plus" ></i>
					</span>
				</a> -->
				<!-- <div class="item item-thumbnail-left item-icon-right" ng-model="article.material" ng-if="article.material">
					<img ng-src="{{article.material.material_thumb}}">
					<h2>{{article.material.material_title}}</h2>
					<p>{{article.material.material_abstract}}</p>
					<label class="icon" ng-click="goSelectMaterial()">
						<i class="icon ion-edit" ></i>
					</label>
				</div> -->
				<!-- 活动地点 -->
				<div class="item item-divider">活动地点</div>
				<a class="item item-icon-right" on-tap="selectCity()">
					城市
					<span class="item-note">{{article.selectCityResult}}</span><i class="icon item-note ion-ios-arrow-right"></i>
				</a>
				<a class="item item-input">
					<div class="input-label">
						详细地址
					</div>
					<input id="detail_address_input" class="text-right" type="text" ng-model="article.activity_detail_address" placeholder="如：高新区萃华路89号" required ng-disabled="!citySelected" size="5" />
					<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
				</a>
				<div id="city_map" style="height:300px;width:100%" ng-show="citySelected"></div>
				<div class="item item-thumbnail-left" ng-model="article.material" ng-if="article.material">
					<img ng-src="{{article.material.material_thumb}}" err-src="img/icon_empty_img.png">
					<h2>{{article.material.material_title}}</h2>
					<p>{{article.material.material_abstract}}</p>
				</div>
				<!-- <label class="item m-t-15">
					<div class="pull-left">
						发布类型
					</div>
					<select ng-model="article.release_type">
						<option value="1">个人发布</option>
						<option value="2">公司发布</option>
					</select>
					<div class="pull-right calm">公司发布</div>
				</label> -->
				<!-- <a class="item" ng-if="!article.material" ng-click="openModal()">
					活动标签
					<span class="pull-right" >
						<i class="icon ion-plus" ></i>
					</span>
				</a> -->
				<div class="item item-divider">举办单位</div>
				<label class="item item-input"><textarea type="text" elastic ng-model="article.holding_org" placeholder="请填写举办单位名称(必填)"></textarea></label>
				<a class="item" ng-click="showDate('activity_start')">
					活动开始时间
					<span class="pull-right item-note" ng-bind-html="article.activity_start_time" ng-model="article.activity_start_time" required>
					</span>
				</a>
				<a class="item" ng-click="showDate('activity_end')">
					活动结束时间
					<span class="pull-right item-note" ng-bind-html="article.activity_end_time" ng-model="article.activity_end_time" required>
					</span>
				</a>

				

				<ion-toggle ng-model="article.allow_register">允许报名</ion-toggle>

				<label class="item item-input" ng-if="article.allow_register">
					<div class="input-label">
						报名人数限制
					</div>
					<input class="text-right" type="number" value="" ng-model="article.person_number" min="0" required placeholder="0或者不填表示不限制人数" />
				</label>

				<a class="item" ng-click="showDate('registration_end')" ng-if="article.allow_register">
					报名截止时间
					<span class="pull-right item-note" ng-bind-html="article.registration_end_time" ng-model="article.registration_end_time" required>
					</span>
				</a>

				<!-- <ion-toggle class="m-t-15" ng-model="article.display_status">是否显示在活动列表</ion-toggle>-->

				<!-- <ion-toggle ng-model="article.create_dynamic">是否创建动态</ion-toggle> -->


				
			</div>
				<!-- <a class="item item-icon-right" ng-click="goSelectBusinessLabel()">
					行业标签
					<span class="item-note">
						<i class="icon ion-ios-arrow-right"></i>
					</span>	
					<span ng-show="article.businesslabels" style="display:block;word-wrap:break-word;white-space:normal">
						<button ng-repeat="labelitem in article.businesslabels" class="button button-small button-calm" style="margin-left:5px;margin-top:5px">{{labelitem.business_label_des}}
						</button>
					</span>
				</a> -->
			</div>

			<script id="select-city-modal.html" type="text/ng-template">
				<ion-modal-view class="xkd-select-city-modal">
					<ion-header-bar>
						<p class="title">选择城市</p>
						<div class="buttons">
							<div class="item-input-inset" on-tap="closeSelectCityModal()">
								<a><i class="ion-close"></i></a>
							</div>
						</div>
					</ion-header-bar>
					<div class="xkd-select-city-modal-container">
						<div class="row b-b padding-b-none has-header">
							<ul class="selected-city">
								<li ng-repeat="item in selectedItems" on-tap="clickLi(item)" ng-class="{'clicked' : item.clicked}">
									{{item.name}}
								</li>
								
							</ul>
						</div>
						<div class="selected-city-content">
							<ion-scroll direction="y" style="height:200px" delegate-handle="selectCityScroll">
								<div style="height:100%">
									<div class="list">
										<a ng-repeat="item in selectItems" class="item" on-tap="selectItem(item)" ng-class="{'clicked' : item.clicked}">{{item.name}}<i class="ion-checkmark m-l-15" ng-show="item.clicked"></i></a>
									</div>
								</div>
							</ion-scroll>
						</div>
					</div>
					
				</ion-modal-view>
			</script>


		</ion-content>
		
		<!-- <ion-footer-bar class="bottom-button-bar bg-dark">
			<button class="button button-block button-calm bottom-button fontsize-16" ng-click="postDynamic()" ng-disabled="postActivityForm.$invalid">发布</button>
		</ion-footer-bar> -->
	</form>
</ion-view>
