<ion-view view-title="选择地区" ng-controller="PersonalCityCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ui-sref="profile_area">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">选择地区</h1>
	</ion-header-bar>
	<ion-content class="has-header" style="background-color: #f3f3f3">
	<div class="list">
		<a class="item" ng-repeat="city in areacity" ng-click="saveLocateCity(city)">
			{{city.city_name}}
		</a>
	</div>
	</ion-content>


</ion-view>