<ion-view view-title="话题详情" ng-controller="TopicDetailCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="myBack()"><!-- ui-sref="topiclist" -->
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		 <h1 class="title fontsize-16 color-black">详情</h1>
		 <a class="share fontsize-14 color-white" ng-click="postDynamic()">发布</a>
	</ion-header-bar>

	<ion-content >
		<ion-refresher pulling-text="下拉刷新" on-refresh="topicDoRefresh()"></ion-refresher>
		<div class=" xkd-topic-detail-overflow b-b" >
			<div class="xkd-topic-detail-rank">
				<h4 class="heroBlue">#{{topicDetail.topic_title}}#</h4>
				<p class="fontsize-12 ">{{topicDetail.topic_content}}</p>
				<p class="fontsize-12 ">
					{{topicDetail.like_number}}赞 &nbsp;&nbsp;
					{{topicDetail.message_number}}回复 &nbsp;&nbsp;
					{{topicDetail.read_number}}阅读量
				</p>
			</div>
			<p class="text-center" ng-switch="rank" ng-show="rank">
				<span ng-switch-when=1>话题榜第一</span>
				<span ng-switch-when=2>话题榜第二</span>
				<span ng-switch-when=3>话题榜第三</span>
			</p>
		</div>

		<div class=" seviveBox" ng-repeat="articleArr in articleArrList"><!--  ng-repeat="articleArr in topicDetail.articleArr" -->
			<div class="item item-avatar b-none">
			<!-- 头像 -->
				<img ng-src="{{commonPath.route_path}}{{commonPath.photo_path}}{{articleArr.one_inch_photo_url}}" err-src="img/icon_emptyPeron.png" ng-click="change(articleArr)" ng-if="articleArr.article_type_status==1" ng-disabled="isGuest">
				<img ng-src="img/icon_emptyPeron.png" ng-if="articleArr.article_type_status!=1" ng-disabled="isGuest">
			<!-- name company_name -->
				<div class="xkd-activeInfoCon m-t-5">
					<h3 ng-if="articleArr.article_type_status==1" style="text-overflow: ellipsis;white-space: nowrap;course:hand;width: 72%">
						<strong class="xkd-recommend-list-title heroBlue">{{articleArr.article_data_user_name}}</strong>
					</h3>
					<h3 ng-if="articleArr.article_type_status!=1" style="text-overflow: ellipsis;white-space: nowrap;course:hand;width: 72%">
						<strong class="xkd-recommend-list-title heroBlue">匿名</strong>
					</h3>
					<small class="xkd-subTit gray" ng-if="articleArr.article_type_status==1" ui-sref="commsg({com_id:articleArr.article_com_id})">{{articleArr.com_name}}</small>
					<small class="xkd-subTit gray" ng-if="articleArr.article_type_status!=1" >匿名公司</small>
				 </div>
			</div>

			<!-- 话题内容 -->
			<div class="item item-avatar b-t-none autoHeight padding-t-5 b-none">
				<!-- <p class="m-b-10 heroBlack" style="white-space: pre-line;">{{articleArr.article_content}}</p> -->
				<p class="m-b-10 heroBlack" style="white-space: pre-line;" compile-template ng-bind-html="articleArr.article_content"></p>
				<div>
					<ion-gallery ion-gallery-items="topicImgItems" ion-gallery-item-edit="false"></ion-gallery>
				</div>

			</div>

			<!-- 话题时间 赞 评论 -->
			<div class="item item-avatar b-t-none padding-t-10 padding-b-10 b-l-none b-r-none ">
				<div class="xkd-recommend-list-content pull-left m-b-10">
					{{articleArr.article_cre_time}}
				</div>
				<div class="xkd-coumcit-gray-con pull-right fontsize-15">
					<a ng-click="likeYou(1,articleArr,articleArr.is_like)" class="m-r-5">
						<span ng-show="articleArr.is_like==0"><i class="ion-android-favorite-outline"></i> 赞</span>
						<span class="heroBlue" ng-show="articleArr.is_like==1"><i class="ion-heart"></i>&nbsp;赞</span>
					</a>
					<a ng-click="replayShow(1,articleArr,-1,1)" class="m-l-10 m-r-5"><i class="ion-android-textsms"></i> 评论</a>
				</div>
				<div class="bg-dark padding-l-10 padding-r-10" style="clear:both;border-radius:5px;"
					 ng-show="articleArr.like.length>0||articleArr.message.length>0">
					<div style="position: relative">
						<div style="width:0; height:0; border-width:8px; border-style:solid; border-color:transparent transparent #edf1f2 transparent; font-size:0; line-height:0;position: absolute;bottom: -1px;left: 10px">
						</div>
					</div>
					<div>
						<div class="padding-5" ng-class="{'b-b':articleArr.message.length>0}"
							 ng-show="articleArr.like.length>0" style="white-space:normal;">
							<i class="ion-android-favorite-outline heroBlue fontsize-12"></i>
							<a class="positive fontsize-12" ng-repeat="like in articleArr.like">{{like.like_user_name}}&nbsp;&nbsp;</a>
						</div>
						<div class="padding-5" style="white-space: normal;word-break: break-all;" ng-show="articleArr.message.length>0">
							<div on-hold="onHold(message.message_user_name,message.message_id)" ng-repeat="message in articleArr.message"
								 ng-click="replayShow(2,articleArr,$index,1)">
								<a class="positive fontsize-12">{{message.message_user_name}}</a><span class="fontsize-12" ng-if="message.message_parent_user_name"> 回复 </span><a class="positive fontsize-12">{{message.message_parent_user_name}}</a><span>:</span>
								<span class="fontsize-12">{{message.message_content}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<ion-infinite-scroll ng-if="topicIsEmptyData" on-infinite="getTopicDetail()" distance="1%"></ion-infinite-scroll>
		<p ng-show="noData" class="color-gray fontsize-16 text-center">此话题暂时还没人发布动态哦~<br>快点击右上角发布你的话题动态吧!</p>
		<div class="text-center" ng-show="topicIsOverLoad">
			<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"/>

		</div>
	</ion-content>

	<div style="bottom:0">
		<ion-footer-bar keyboard-attach class="bar bar-footer item-input-inset has-tabs" ng-show="replay_show" style="position:fixed;">
			<label class="item-input-wrapper">
				<input type="search" ng-blur="replayBlur()" ng-model="re.message_content" placeholder="说点什么呢？" auto-focus-when="replay_show">
			</label>
			<button class="button button-small button-calm" ng-click='sendReplay()' ng-disabled="isGuest">
				发送
			</button>
		</ion-footer-bar>
	</div>
	<i ng-click="scrollTop()" class="backtoTopBtn ion-android-arrow-up back-top rounded-500 text-center"></i>
</ion-view>
