<ion-view view-title="话题选择" ng-controller="TopicSelectController">
	<ion-header-bar align-title="center" class="bar bar-header bar-white">
		<div class="item-input-inset color-white" on-tap="back()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<div class="buttons">
			<div class="item-input-inset">
				<a class="color-white" on-tap="cancel()">取消</a>
			</div>
		</div>
	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<div class="list">
			<label class="item item-input item-select">
				<div class="input-label">
					发布类型
				</div>
				<select ng-model="topic.post_type" ng-init="topic.post_type='1'">
					<option value="1">实名发布</option>
					<option value="2">匿名发布</option>
				</select>
			</label>
			<label class="item item-input m-t-15">
				<textarea class="customer-textarea" elastic ng-model="topic.content" rows="5" placeholder="话题内容(必填)" ng-keyup="checkInputLetter($event)"></textarea>
			</label>
			<div class="item">
				<span class="customer-height-54 xkd-topic-content-bottom-icon">
					<upload-image upload-images="article.imgs" camera-options="cameraOptions"></upload-image>
				</span>
				<span class="customer-height-54 xkd-topic-content-bottom-icon" on-tap="clickPoundSignButton()">
					<i class="icon ion-ios-grid-view-outline"></i>
				</span>
			</div>
			<div class="item item-divider">
				推荐话题
			</div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
		</div>
	</ion-content>
	<!-- <div class="xkd-topic-content-bottom">
		<div class="item">
			<span class="customer-height-54 xkd-topic-content-bottom-icon">
				<upload-image upload-images="article.imgs" camera-options="cameraOptions"></upload-image>
			</span>
			<span class="customer-height-54 xkd-topic-content-bottom-icon" on-tap="clickPoundSignButton()">
				<i class="icon ion-ios-grid-view-outline"></i>
			</span>
		</div>
		
		
	</div> -->
</ion-view>
