<ion-view view-title="活动" ng-controller="ActivityItemCtrl">

<!-- 	<ion-header-bar align-title="center" class="bar bar-header bar-dark has-tabs-top" style="position:relative">
		<div class="item-input-inset" ng-click="myBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<div class="row text-center color-white">
			<div class="col col-40 text-right" ng-click="changeTab(1)"><span ng-class="{'header-active' : tabType==1,'padding-b-3' : tabType==1}">活动</span></div>
			<div class="col col-20"></div>
			<div class="col col-40 text-left" ng-click="changeTab(2)"><span ng-class="{'header-active' : tabType==2,'padding-b-3' : tabType==2}">详情</span></div>
		</div>
		<button class="pull-right button button-clear m-r-10 fontsize-14" ng-click="report()">举报</button>
	</ion-header-bar> -->


		<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="myBack()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">活动</h1>
		<button class="button button-clear fontsize-16 color-blue" ng-click="report()">举报</button>

	</ion-header-bar>



	<ion-content class="has-header bg-dark has-tabs">
		<!-- 服务详情 -->
		<div ng-show="tabType == 1">
			<ion-slide-box delegate-handle="bannerList" auto-play="true" does-continue="true" slide-interval=2000 show-pager="{{service.party_thumb.length > 1}}">
				<ion-slide ng-repeat="banner in service.party_thumb track by $index">
					<div class="box business-banner">
						<img ng-src="{{activityThumbPath}}{{banner}}" err-src="img/store4.jpg">
					</div>
				</ion-slide>
			</ion-slide-box>

			<!-- <div class="row business-warpbox bg-white">
				<div class="pull-left h3 padding-t-5 padding-l-10 dark fontsize-14 fontsize-bold">
					{{service.title}}
				</div>
			</div>
			<div class="row business-warpbox bg-white" >
				<div class="pull-left padding-t-10 padding-l-10 dark">
					<a class="product-jg padding-b-15" >
						{{service.content}}
					</a>
				</div>
			</div>

			<div class="item item-text-wrap" ng-show="service.com_service_digest">
				<p>{{service.com_service_digest}}</p>
			</div> -->


			<div class="item row padding-10  b-none m-n">
				<div class="col" style="white-space: normal;">
					<div class="xkd-recommend-list-title">{{service.title}}</div> <br>
					<small class="xkd-recommend-list-content">
						<i class="ion-ios-location-outline"></i>
						<span>{{service.address}}</span> </br>
						<i class="ion-ios-clock-outline"></i>
						<span>{{service.start_time}} — {{service.end_time}}</span>
					</small>
					<div ng-if="service.holding_org"><small class="xkd-recommend-list-content"><i class="ion-ios-pricetag-outline m-r-5"></i>举办单位：{{service.holding_org}}</small></div>
					<small class="xkd-recommend-list-content" ng-if="service.apply_status != '0'">
						<span>报名截止时间：</span>
						<span>{{service.apply_end_time}}</span>
					</small>
					<!-- <h2 class="assertive">{{service.content}}</h2> -->

					<div class="xkd-recommend-list-content" ng-if="service.apply_status != '0'">已报名：<small class="heroYello">{{service.partyEnroll.length}}<span ng-if="service.apply_limit != 0" >/{{service.apply_limit}}</span>人</small></div>

				</div>
			</div>


			<!-- <div class=" m-b-none ">
				<a class="item item-icon-right text-center" ng-click="changeTab(2)">
					查看活动详情&nbsp;
					<i class="ion-arrow-right-b"></i>
				</a>
			</div> -->

			<!-- <div class="m-t-15">
				<ion-list >
					<ion-item class="item-thumbnail-left xkd-littImg" type="item-text-wrap" ng-click="toCompanyPage(service)">
						<img ng-src="{{companyPath}}{{service.com_logo_path}}" err-src="img/icon_emptyCompany.png">
						<h2 >{{service.com_name}}</h2>
						<p>{serviceList.}</p>
					</ion-item>
				</ion-list>
			</div> -->
			<a ng-if="service.com_name" class="item text-center b-none m-t-10 m-b-10" ng-click="toCompanyPage(service)">{{service.com_name}}</a>

			<div class="bg-white padding-15 m-t-15">
				<h3 class="text-center">活动介绍</h3>
				<div class="xkd-mainTextCon">
					{{service.content}}
				</div>
			</div>

			<div class="m-t-15 list" ng-show="hasreply">
				<a class="item  b-none">回复({{service.service_message_info.length}})</a>
				<a class="item item-avatar" on-hold="onHold(repaly)" ng-repeat="repaly in service.service_message_info track by $index">
					<img ng-src="{{commonPath.route_path}}{{commonPath.photo_path}}{{repaly.one_inch_photo_url}}" err-src="img/icon_emptyPeron.png">
					<div class="xkd-recommend-list-title">{{repaly.repley_user_name}}</div>

					<div class="xkd-recommend-list-content">{{repaly.cre_time}}</div>

					<div style="white-space: normal" class="xkd-recommend-list-content">{{repaly.message_content}}</div>
				</a>
			</div>
		</div>

		<!-- 素材详情 -->
		<div ng-show="tabType == 2">
			<div ng-show="!hasMaterial" class="text-center zwsc" >
				<a style="line-height: 38px">抱歉( ▼-▼ )暂无素材哦~</a><br>
				<!--
				<button class="button button-balanced" ui-sref="postneeds">
					去发布需求
					<i class="ion-android-arrow-forward"></i>
				</button>
				 -->
			</div>
			<div ng-show="hasMaterial" class="card">
				<div class="item item-divider">
					<span class="h4 sucai-title">{{service.material_title}}</span><br>
					<small>{{service.cre_time}}<span class="m-l-10">{{service.cre_name}}</span></small>
				</div>
				<div class="item item-text-wrap">
					<p class="sucai-neirong" ng-bind-html="service.material_content"></p>
				</div>
				<!--
				<div class="item item-divider">
					<small>阅读量  5</small>
				</div> -->
			</div>
		</div>
	</ion-content>
	<div class="ng-hide" ng-show="hasshare">
		<div class="card share-com">
			<div class="item item-divider" style="height:50px;line-height:34px">
				分享给朋友
			</div>
			<div class="item item-text-wrap share-social">
 				<a class="col" ng-click="WechatShare(service.title,service.content,'http://www.heroera.com/heroera/share/company/activities.html?party_id='+service.party_id,'Wechat.Scene.SESSION')">
					<img src="img/icon-weixin.png" >
					<span>微信朋友圈</span>
				</a>
				<a class="col" ng-click="WechatShare(service.title,service.content,'http://www.heroera.com/heroera/share/company/activities.html?party_id='+service.party_id,'Wechat.Scene.TIMELINE')">
					<img src="img/icon-weixin.png">
					<span>微信好友</span>
				</a>
				<a class="col" ng-click="QQShare(service.title,service.content,'http://www.heroera.com/heroera/share/company/activities.html?party_id='+service.party_id)">
					<img src="img/icon-qq.png">
					<span>QQ</span>
				</a>
				<!-- <a class="col" ng-click="WeiboShare(service.title,service.content,'http://www.heroera.com/hicoffice/share/company/activities.html?party_id='+service.party_id)">
					<img src="img/icon-weibo.png">
					<span>新浪微博</span>
				</a> -->
			</div>
		</div>
		<div class="chat-image-cover" ng-click="closeshare()"></div>

	</div>
	<div style="bottom:0">
		<ion-footer-bar keyboard-attach class="bar bar-footer item-input-inset has-tabs" ng-show="replay_show" style="position:fixed;">
			<label class="item-input-wrapper">
				<input type="search" ng-blur="replayBlur()" auto-focus-when="replay_show" ng-model="msg.message" placeholder="说点什么呢？">
			</label>
			<button class="button button-small button-calm" ng-click='sendReplay()'>
				发送
			</button>
		</ion-footer-bar>
	</div>

	<div class="tabs tabs-icon-top" ng-if="!replay_show">
		<div class="business-product-footone">
			<!-- <a class="tab-item" ng-class="{'calm': isLike}" ng-click="hiLickClick()">
				<i class="icon ion-heart"></i>
			</a> -->
			<a class="tab-item fontsize-18 m-t-10" ng-click="openshare()">
			<!-- WechatShare(item.com_name,item.comments,'http://www.heroera.com/heroera/share/company/service.html?service_id='+service.com_service_id) -->
				<i class="icon ion-android-share-alt fontsize-icon"></i>
			</a>
		</div>
		<div class="business-product-foottwo">
			<a class="tab-item m-t-10" ng-click="hiMessageClick()">
				<i class="icon ion-chatbox-working fontsize-icon"></i>
			</a>
		</div>
		<div class="business-product-footthree">
			<a class="tab-item m-t-10" ng-class="{'calm': isLike}" ng-click="hiLickClick()">
				<i class="icon ion-heart fontsize-icon"></i>
			</a>
		</div>
		<div class="business-product-footfour button no-radius bg-bule color-white" ng-click="enroll(service)" ng-disabled="isGuest">
			{{bottomRightText}}
		</div>
	</div>
</ion-view>
