<ion-view view-title="活动" ng-controller="CommunityActivityCtrl" on-swipe-right="activityOnSwipeRight()" >

	<ion-header-bar align-title="center" class=" bar bar-header bar-dark has-tabs-top">
		<div class="row text-center color-white">
			<div class="col col-20" ui-sref="tab.community">服务</div>
			<div class="col col-20" ui-sref="tab.communitydynamic">动态</div>
			<div class="col col-20" ui-sref="tab.communityactivity"><span class="header-active padding-b-3">活动</span></div>
		</div>
		<div class="pull-right button button-clear m-r-10" ui-sref="posttypelist"><i class="ion-plus fontsize-18" style="vertical-align: middle;"></i></div>

	</ion-header-bar>

	<ion-content class="has-header bg-dark">
		<ion-refresher pulling-text="下拉刷新" on-refresh="activityDoRefresh()"></ion-refresher>

		<div class="row item m-b-10" ng-repeat="activityItem in activityList" ui-sref="activityitem({id:activityItem.party_id,from:'tab.communityactivity'})" style="margin-top: 0;padding-top: 15px">
			<div class="col col-33 text-center" style="background:url('{{commonPath.host_path}}{{activityItem.material_thumb}}');background-repeat:no-repeat;background-position:center;background-size:cover;background-clip:content-box">
				<!-- <img src="img/test/467b4c65aa39330.jpg" width="100%"> -->
				<!-- <img src="img/test/8.jpg" height="100%"> -->
			</div>
			<div class="col col-67">
				<h2 class="calm font-family"><strong>{{activityItem.title}}</strong></h2>
				<!-- <p>
					<small class="m-r-5" ng-repeat="comLabel in activityItem.business_label track by $index">{{comLabel}}</small>
				</p> -->
				<p><span><i class="ion-ios-time"></i>  {{activityItem.start_time}}</span></p>
				<p><span><i class="ion-ios-time-outline"></i>  {{activityItem.end_time}}</span></p>
				<p><span><i class="ion-ios-location fontsize-16"></i>  {{activityItem.address}}</span></p>
				<p><span><i class="ion-android-bookmark fontsize-16"></i>  {{activityItem.com_name}}</span></p>
				<p class="m-t-5">
					<button disabled="disabled" class="button button-small">{{activityItem.enroll_num}}  人参加</button>
					<button disabled="disabled" class="button button-small m-l-5" >{{activityItem.message_num}}  人评论</button>
					<button disabled="disabled" class="button button-small m-l-5">{{activityItem.like_num}}  人赞</button>
				</p>
			</div>
		</div>

		<ion-infinite-scroll ng-if="!activityIsEmptyData" on-infinite="getActivityList()" distance="1%"></ion-infinite-scroll>
	</ion-content>
	<div style="bottom:0">
		<ion-footer-bar keyboard-attach class="bar bar-footer item-input-inset has-tabs" ng-show="replay_show" style="position:fixed;">
			<label class="item-input-wrapper">
				<input type="search" ng-blur="replayBlur()" ng-model="re.message_content" placeholder="说点什么呢？" auto-focus-when="replay_show">
			</label>
			<button class="button button-small button-calm" ng-click='sendReplay()' ng-disabled="isGuest">
				发送
			</button>
		</ion-footer-bar>
	</div>
	<i ng-click="scrollTop()" class="ion-arrow-up-b back-top rounded-500 text-center" style="position:absolute;right:30px;bottom:80px;font-size:30px;"></i>
	<!-- 分享 -->
	<div ng-show="hasshare">
		<div class="card share-com">
			<div class="item item-divider" style="height:50px;line-height:34px">
				分享给朋友
			</div>
			<div class="item item-text-wrap share-social">
			<!-- ng-click="WechatShare(item.com_name,item.comments,'http://www.heroera.com/hicoffice/share/company/activities.html?party_id='+activityItem.party_id)" -->
 				<a class="col" ng-click="WechatShare(activityItem.com_name,activityItem.content,'http://www.heroera.com/heroera/share/company/activities.html?party_id='+activityItem.party_id,'Wechat.Scene.SESSION')">
					<img src="img/icon-weixin.png" >
					<span>微信朋友圈</span>
				</a>
				<a class="col" ng-click="WechatShare(activityItem.com_name,activityItem.content,'http://www.heroera.com/heroera/share/company/activities.html?party_id='+activityItem.party_id,'Wechat.Scene.TIMELINE')">
					<img src="img/icon-weixin.png">
					<span>微信好友</span>
				</a>
				<a class="col" ng-click="QQShare(activityItem.com_name,activityItem.content,'http://www.heroera.com/heroera/share/company/activities.html?party_id='+activityItem.party_id)">
					<img src="img/icon-qq.png">
					<span>QQ</span>
				</a>
				<!-- <a class="col" ng-click="WeiboShare(activityItem.com_name,activityItem.content,'http://www.heroera.com/hicoffice/share/company/activities.html?party_id='+activityItem.party_id)">
					<img src="img/icon-weibo.png">
					<span>新浪微博</span>
				</a> -->
			</div>
		</div>
		<div class="chat-image-cover" ng-click="closeshare()" ng-disabled="isGuest"></div>

	</div>
</ion-view>
