<style>
	.scroll {
		height: 100%;
	}

</style>
<ion-view view-title="发现" ng-controller="CommunityDynamicCtrl">
	<ion-header-bar align-title="center" class="bar-light">
	    <div class="xkd-topSwitchTab">
		    <a class="pull-left"  ng-click="clickAll()" ng-class="{'xkd-topSwitchTab-active' : nowPage == 0}">
		      推荐
		    </a>

		    <a class="pull-left"  ng-click="clickTopic()" ng-class="{'xkd-topSwitchTab-active' : nowPage == 1}">
		      关注
		    </a>
		</div>
	</ion-header-bar>


	<ion-content class="has-subheader">
		<tab-slide-box tab="0">
			<ion-slide-box show-pager="false" on-slide-changed="boxChanged($index)" active-slide="nowPage">
				<ion-slide>
					<ion-scroll style="height:100%">
						<!-- <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh(null)"></ion-refresher> -->
						<div class="text-center">这里是推荐列表</div>
						<!-- <ion-infinite-scroll ng-if="!allIsEmptyData && nowPage ==0" on-infinite="getList(null)" distance="1%"></ion-infinite-scroll>
						<div class="text-center" ng-show="allIsOverLoad">
							<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"/>

						</div> -->
					</ion-scroll>
				</ion-slide>

				<ion-slide>
					<ion-scroll style="height:100%;clear:both;">
						<!-- <ion-refresher style="opacity:0" pulling-text="下拉刷新" on-refresh="doRefresh(9)"></ion-refresher> -->
						<div class="text-center">这里是关注列表</div>
						<!-- <ion-infinite-scroll ng-if="!topicIsEmptyData && nowPage ==1" on-infinite="getList(9)" distance="1%"></ion-infinite-scroll>
						<div class="text-center" ng-show="topicIsOverLoad">
							<img style="width:50%;margin-top:50px" src="img/icon_empty_img.png"/>

						</div> -->
					</ion-scroll>
				</ion-slide>
			</ion-slide-box>
		</tab-slide-box>
	</ion-content>
	<i ng-click="scrollTop()" class="backtoTopBtn ion-android-arrow-up back-top rounded-500 text-center"></i>
</ion-view>
