<ion-view view-title="投递产品" ng-controller="DeliverProductCtrl">
	<ion-header-bar align-title="center" class="bar bar-header bg-blue">
		<div class="item-input-inset color-white" ng-click="myGoBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">投递产品</h1>
	</ion-header-bar>
	<form name="deliverForm">
		<ion-content class="has-header bg-dark">
			<div class="list">
				<label class="item item-input m-t-15">
					<textarea class="customer-textarea" ng-model="deliveredProduct.comment" rows="3" placeholder="备注...(必填)" required></textarea>
				</label>
				<div ng-if="deliveredProduct.product" class="item item-divider">产品</div>
				<a class="item item-icon-right" ng-if="!deliveredProduct.product" ng-click="goSelectProduct()">
					选择产品
					<span class="item-note" >
						<i class="icon ion-ios-plus" ></i>
					</span>
				</a>
				<div class="item item-thumbnail-left item-icon-right" ng-model="deliveredProduct.product" ng-if="deliveredProduct.product" required>
					<img ng-if="deliveredProduct.product.display_thumb" ng-src="{{deliveredProduct.product.display_thumb}}" err-src="img/icon_empty_img.png" ui-sref="businessProduct({com_service_id:deliveredProduct.product.com_service_id,from:'deliverproduct'})">
					<img ng-if="!deliveredProduct.product.display_thumb" ng-src="img/icon_empty_img.png" err-src="img/icon_empty_img.png" ui-sref="businessProduct({com_service_id:deliveredProduct.product.com_service_id,from:'deliverproduct'})">
					<h2 ui-sref="businessProduct({com_service_id:deliveredProduct.product.com_service_id,from:'deliverproduct'})">{{deliveredProduct.product.com_service_name}}</h2>
					<p ui-sref="businessProduct({com_service_id:deliveredProduct.product.com_service_id,from:'deliverproduct'})">{{deliveredProduct.product.com_service_des}}</p>
					<label class="item-note" ng-click="goSelectProduct()">
						<i class="icon ion-edit" ></i>
					</label>
				</div>
			</div>

			<div class="padding">
				<button class="button button-block button-calm" ng-click="deliverProduct()" ng-disabled="deliverForm.$invalid">投递</button>
			</div>
		</ion-content>
		<!-- <ion-footer-bar class="bottom-button-bar bg-dark">
			<button class="button button-block button-calm bottom-button" ng-click="postNeeds()" ng-disabled="postNeedsForm.$invalid">发布</button>
		</ion-footer-bar> -->
	</form>
</ion-view>
