<ion-view view-title="素材详情" ng-controller="PostMaterialDetailCtrl">
	<ion-header-bar align-title="center" class="bar bar-header bar-dark">
		<div class="item-input-inset color-white" ng-click="myGoBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">素材详情</h1>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
		<div ng-show="!hasMaterial" class="text-center zwsc" >
			<a style="line-height: 38px">抱歉( ▼-▼ )暂无素材哦~</a><br>
			<button class="button button-balanced" ui-sref="postneeds">
				去发布需求
				<i class="ion-android-arrow-forward"></i>
			</button>
		</div>
		<div ng-show="hasMaterial" class="card">
			<div class="item item-divider">
				<span class="h3 sucai-title" ng-bind-html="material.material_title"></span><br>
				<small class="m-t-10"><a ng-bind-html="material.cre_name"></a>&nbsp;&nbsp;&nbsp;{{material.cre_time}}</small>
			</div>
			<div class="item item-text-wrap">
				<p class="sucai-neirong" ng-bind-html="material.material_content">&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</div>
			<!-- <div class="item item-divider">
				<small>阅读量  5</small>
			</div> -->
		</div>
	</ion-content>
</ion-view>