<ion-view view-title="选择素材" ng-controller="PostMaterialListCtrl">
	<ion-header-bar align-title="center" class="bar bar-header bar-dark">
		<div class="item-input-inset color-white" ng-click="myGoBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">选择素材</h1>
		<div class="buttons">
			<!-- <button class="button button-calm button-small" ng-click="confirmSelectMaterial()">
				确认
			</button> -->
			<div class="item-input-inset">
				<a style="color:#fff" ng-click="confirmSelectMaterial()">确认</a>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
		<!-- <div class="checkbox m-l-md ng-scope" ng-repeat="item in businessLabelList">
			<label class="i-checks ng-binding">
				<input type="checkbox" name="businesslabel" value="{{item.business_label_id}}" text="{{item.business_label_des}}" ng-checked="{{businessLabelIds.indexOf(item.business_label_id) > -1}}"><i></i>
				{{item.business_label_des}}
			</label>
		</div> -->
		<!-- <ion-list>
			<ion-checkbox ng-repeat="item in businessLabelList" name="businesslabel"  value="item.business_label_id" text="item.business_label_des" ng-model="item.checked">{{item.business_label_des}}</ion-checkbox>
		</ion-list> -->
		<div class="list">
			<div ng-if="materialList.length > 0" ng-repeat="item in materialList" class="item item-thumbnail-left item-icon-right">
				<img ng-src="{{item.material_thumb}}" err-src="img/icon_empty_img.png" ui-sref="postMaterialDetail({id:item.com_article_material_id})">
				<h2 ui-sref="postMaterialDetail({id:item.com_article_material_id})">{{item.material_title}}</h2>
				<p ui-sref="postMaterialDetail({id:item.com_article_material_id})">{{item.material_abstract}}</p>
				<label class="checkbox icon">
					<input type="checkbox" name="material" ng-model="item.checked" ng-click="updateSelection($index, materialList)" >
					<!-- ng-checked="selectedMaterialId == item.com_article_material_id" -->
				</label>
			</div>
			<div ng-if="materialList.length == 0" class="item">
				暂无数据
			</div>
			<!-- <div class="item item-thumbnail-left item-icon-right">
				<img src="img/adam.jpg">
				<h2>侠客岛联合办公室</h2>
				<p>开放办公位</p>
				<label class="checkbox icon"><input type="checkbox" name=""></label>
			</div> -->
		</div>
	</ion-content>
</ion-view>