<!-- 联系页面 -->
<ion-view view-title="聊天" ng-controller="ChatController">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset" ng-click="back()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>

		<h1 class="title">{{chat_user_name}}</h1>

	</ion-header-bar>

	<div class="bar bar-subheader padding-none chat-my-index-bg" ng-hide="!serviceItem.com_service_id || serviceItem.com_service_id==0 || !chatBanner || targetId =='0000'">
		<span class="chat-my-index padding-10 order-shadow" >
			<span class="pull-left">
				<img class="chat-img-product m-l-10" ng-show="serviceItem.com_service_thumb[0]" ng-src="{{service_path}}{{serviceItem.com_service_thumb[0]}}" err-src="img/icon_emptyPeron.png" ng-cloak>
			</span>
			<span class="m-l-15 chat-product-desc" ng-cloak>
				<span class="fontsize-bold" style="display:inline-block">{{serviceItem.com_service_name}}</span><br>
				<span class="product-jg m-l-10" style="display:inline-block">{{serviceItem.unit_value}}&#12288;{{serviceItem.unit}}</span>
			</span>
			<!-- <a class="share fontsize-14 m-t-15" ng-click="WechatShare(item.com_name,item.comments,'http://www.heroera.com/heroera/share/company/service.html?service_id='+serviceItem.com_service_id)">
				<i class="ion-android-share-alt fontsize-18"></i>
			</a> -->
		</span>
	</div>

	<ion-content class="chat-box-wrap" overflow-scroll="true">

		<div ng-class="{'chat-blank' : serviceItem.com_service_id == 0,'chat-blank-high' : serviceItem.com_service_id != 0}" >占位</div>

		<!-- 下拉刷新 -->
		<ion-refresher pulling-text="加载更多..." on-refresh="getChatHistory($event)"></ion-refresher>

		<!-- 加载历史数据之后，滚动到此 -->
		<div id="xuanTop"></div>

		<!-- 聊天内容 -->
		<div>

			<!-- 历史消息 -->
			<div class="m-b" ng-repeat="message in historyMsgs track by $index" >
				<!----我收到的-->
				<div class="chat-item-wrap display-clear" ng-if="(message.from_user_id==targetId && message.read_time>0) || (message.from_user_id== '0000' && message.send_return_status.messageDirection == 'SEND')">
					<div class="chat-time-wrap" ng-show="message.showTime || $index==0">
						<span class="chat-time">{{timeString(message.send_time)}}</span>
					</div>
					<a ui-sref="personalmsg({user_id:targetId,com_id:serviceItem.com_id,from:'chatHead'})" class="pull-left">
						<img class="chat-head-img left" ng-src="{{route_path}}{{face}}" err-src="img/icon_emptyPeron.png">
					</a>
					<div class="chat-content-wrap left" ng-switch="message.message_type" ng-cloak ng-class="{'chat-img-bg' : message.message_type!=1 && message.message_type!=3,'chat-voice-padding' : message.message_type==3}">
						<span class="arrow left" ng-if="message.message_type==1 || message.message_type==3" ng-class="{'chat-arrow-left' : message.message_type==1,'chat-history-arrow-left' : message.message_type==1 && (message.showTime || $index==0)}"></span>
						<p class="chat-text-break m-n" ng-switch-when="1" ng-bind-html="message.message_content" compile-template></p>
						<!-- 用户信息更新 -->
						<p class="chat-text-break m-n" ng-switch-when="10" ng-bind-html="message.message_content" compile-template></p>
						<p class="m-n" ng-switch-when="3" ng-click="play(message.message_content_received,message.send_return_status.content.duration,message.send_time,message.message_content_server)">
							<span class="cricleplay">
								{{message.send_return_status.content.duration}}''
								<span class="chat-small right"></span>
								<span class="chat-middle right" ng-class="{'chat-middle-playing': isPlaying && thisSendTime==message.send_time,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-large right" ng-class="{'chat-large-playing': isPlaying && thisSendTime==message.send_time,'chat-animation-none' : !isPlaying}"></span>
							</span>
						</p>
						<p ng-switch-when="2">
							<img class="chat-image-style" err-src="img/icon_empty_img.png" ng-src="{{chat_stuff_path}}{{message.message_content_server}}" ng-click="showPic(chat_stuff_path + message.message_content_server)" ng-cloak>
						</p>
						<!-- 个人名片 -->
						<p class="chat-custom-wrap"ng-switch-when="4">
							<personal-business-card personinfo="message.message_content"></personal-business-card>
						</p>
						<!-- 公司信息 -->
						<p class="chat-custom-wrap"ng-switch-when="5">
							<company-business-card companyinfo="message.message_content"></company-business-card>
						</p>
						<!-- 产品详情 -->
						<p class="chat-custom-wrap"ng-switch-when="6">
							<product-card productinfo="message.message_content"></product-card>
						</p>
						<!-- 系统消息 -->
						<p class="chat-custom-wrap"ng-switch-when="9">
							<system-message-card systemmessage="message.message_content"></system-message-card>
						</p>
					</div>
				</div>
				<!----我发出的 -->
				<div class="chat-item-wrap" ng-if="message.to_user_id==targetId && message.send_return_status.messageDirection == 'SEND'">
					<div class="chat-time-wrap" ng-show="message.showTime || $index==0">
						<span class="chat-time">{{timeString(message.send_time)}}</span>
					</div>
					<a class="pull-right" ui-sref="personalmsg({user_id:userId,com_id:user.com_id,from:'chatHead'})">
						<img class="chat-head-img right" ng-src="{{path}}{{userFace}}" err-src="img/icon_emptyPeron.png" ng-cloak>
					</a>
					<div class="chat-content-wrap right pull-right" ng-switch="message.message_type" ng-cloak ng-class="{'chat-img-bg' : message.message_type!=1 && message.message_type!=3,'chat-voice-padding' : message.message_type==3}">
						<span class="arrow right" ng-if="message.message_type==1 || message.message_type==3" ng-class="{'chat-voice-arrow' : message.message_type==3}"></span>
						<p class="m-n chat-text-break" ng-switch-when="1">
							<span ng-bind-html="message.message_content" compile-template></span>
						</p>
						<!-- 用户信息更新 -->
						<p class="m-n chat-text-break" ng-switch-when="10">
							<span ng-bind-html="message.message_content" compile-template></span>
						</p>
						<p class="m-n" ng-switch-when="3" ng-click="play(message.message_content,message.send_return_status.content.duration,message.send_time,message.message_content_server)">
							<span class="chat-cricleplay" style="margin-right:-18px">
								<span class="chat-large left" ng-class="{'chat-large-playing': isPlaying && thisSendTime==message.send_time,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-middle left" ng-class="{'chat-middle-playing': isPlaying && thisSendTime==message.send_time,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-small left"></span>
								{{message.send_return_status.content.duration}}''
							</span>
						</p>
						<p class="m-n" ng-switch-when="2">
							<img class="chat-image-style" ng-src="{{chat_stuff_path}}{{message.message_content_server}}" err-src="img/icon_empty_head.png" ng-click="showPic(chat_stuff_path + message.message_content_server)" ng-cloak>
						</p>
						<!-- 个人名片 -->
						<p class="chat-custom-wrap"ng-switch-when="4">
							<personal-business-card personinfo="message.message_content"></personal-business-card>
						</p>
						<!-- 公司信息 -->
						<p class="chat-custom-wrap"ng-switch-when="5">
							<company-business-card companyinfo="message.message_content"></company-business-card>
						</p>
						<!-- 产品详情 -->
						<p class="chat-custom-wrap"ng-switch-when="6">
							<product-card productinfo="message.message_content"></product-card>
						</p>
						<!-- 系统消息 -->
						<p class="chat-custom-wrap"ng-switch-when="9">
							<system-message-card systemmessage="message.message_content"></system-message-card>
						</p>
					</div>
				</div>
			</div>
			<!-- 即时消息 -->
			<div ng-repeat="message in arrMsgs track by $index">
				<!--我收到的 -->
				<div class="chat-item-wrap" ng-if="message.senderUserId==targetId && message.messageDirection=='RECEIVE'" >
					<!-- 时间 -->
					<div class="chat-time-wrap" ng-show="message.showTime || $index==0">
						<span class="chat-time">{{timeString(message.sentTime)}}</span>
					</div>
					<a class="pull-left" ui-sref="personalmsg({user_id:targetId,com_id:serviceItem.com_id,from:'chatHead'})">
						<img class="chat-head-img left" ng-src="{{route_path}}/{{face}}" err-src="img/icon_emptyPeron.png" ng-cloak>
					</a>
					<!-- 消息内容 -->
					<div class="chat-content-wrap left display-clear" ng-switch="message.objectName" ng-class="{'chat-img-bg' : message.objectName!='RC:VcMsg' && message.objectName!='RC:TxtMsg','chat-voice-padding' : message.objectName=='RC:VcMsg'}">
						<span class="arrow left" ng-show="message.objectName=='RC:TxtMsg' || message.objectName=='RC:VcMsg'" ng-class="{'chat-arrow-left' : message.objectName=='RC:TxtMsg','chat-history-arrow-left' : message.objectName=='RC:TxtMsg' && (message.showTime || $index==0)}"></span>
						<p class="m-n chat-text-break" ng-switch-when="RC:TxtMsg" ng-bind-html="message.content.text" compile-template></p>
						<p class="m-n" ng-switch-when="RC:VcMsg" ng-click="play(message.content.voicePath,message.content.duration,message.sentTime)">
							<span class="cricleplay">
								{{message.content.duration}}''
								<span class="chat-small right"></span>
								<span class="chat-middle right" ng-class="{'chat-middle-playing': isPlaying && thisSendTime==message.sentTime,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-large right" ng-class="{'chat-large-playing': isPlaying && thisSendTime==message.sentTime,'chat-animation-none' : !isPlaying}"></span>
							</span>
						</p>
						<p class="m-n" ng-switch-when="RC:ImgMsg">
							<img class="chat-image-style" src="{{message.content.imageUrl}}" ng-src="{{message.content.imageUrl}}" err-src="img/icon_empty_head.png" ng-click="showPic(message.content.imageUrl)" ng-cloak>
						</p>
						<!-- 自定义消息 -->
						<div class="chat-custom-wrap"ng-switch-when="RC:CmdNtf">
							<!-- 用户信息更新 -->
							<span class="arrow left" ng-show="message.content.name=='grmp'" ng-bind-html="message.content.text" compile-template></span>
							<personal-business-card personinfo="message.content.data" ng-show="message.content.name=='grmp'"></personal-business-card>
							<company-business-card companyinfo="message.content.data" ng-show="message.content.name=='gsxx'"></company-business-card>
							<product-card productinfo="message.content.data" ng-show="message.content.name=='cpxq'"></product-card>
							<!-- 系统消息 -->
							<system-message-card systemmessage="message.content.data" ng-show="message.content.name=='xtxx'"></system-message-card>
						</div>
					</div>
				</div>
				<!-- 我发出的 -->
				<div class="chat-item-wrap" ng-if="message.targetId==targetId && message.messageDirection=='SEND'">
					<div class="chat-time-wrap" ng-show="message.showTime || $index==0">
						<span class="chat-time">{{timeString(message.sentTime)}}</span>
					</div>
					<a class="pull-right" ui-sref="personalmsg({user_id:userId,com_id:user.com_id,from:'chatHead'})">
						<img class="chat-head-img right" ng-src="{{path}}{{userFace}}" err-src="img/icon_emptyPeron.png" ng-cloak>
					</a>
					<div class="chat-content-wrap right pull-right" ng-switch="message.objectName" ng-class="{'chat-img-bg' : message.objectName!='RC:VcMsg' && message.objectName!='RC:TxtMsg','chat-voice-padding' : message.objectName=='RC:VcMsg'}">
						<span class="arrow right" ng-show="message.objectName=='RC:TxtMsg' || message.objectName=='RC:VcMsg'" ng-class="{'chat-voice-arrow' : message.objectName=='RC:VcMsg'}"></span>
						<p class="m-n chat-text-break" ng-switch-when="RC:TxtMsg">
							<span ng-bind-html="message.content.text" compile-template></span>
						</p>
						<p class="m-n" ng-switch-when="RC:VcMsg" ng-click="play(message.content.voicePath,message.content.duration,message.sentTime)">
							<span class="cricleplay" style="margin-right:-18px">
								<span class="chat-large left" ng-class="{'chat-large-playing': isPlaying && thisSendTime==message.sentTime,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-middle left" ng-class="{'chat-middle-playing': isPlaying && thisSendTime==message.sentTime,'chat-animation-none' : !isPlaying}"></span>
								<span class="chat-small left"></span>
								{{message.content.duration}}''
							</span>
						</p>
						<p class="m-n" ng-switch-when="RC:ImgMsg">
							<!-- <ion-gallery ion-gallery-items="message.gallery" ion-gallery-row="1" ion-zoom-events="true" ion-gallery-item-edit="false"></ion-gallery> -->
							<img class="chat-image-style" err-src="img/icon_empty_head.png" src="{{message.content.imageUrl}}" ng-src="{{message.content.imageUrl}}" ng-click="showPic(message.content.imageUrl)" ng-cloak>
						</p>
						<!-- 自定义消息 -->
						<div class="chat-custom-wrap"ng-switch-when="RC:CmdNtf">
							<!-- 用户信息更新 -->
							<span class="arrow left" ng-show="message.content.name=='grmp'" ng-bind-html="message.content.text" compile-template></span>
							<personal-business-card personinfo="message.content.data" ng-show="message.content.name=='grmp'"></personal-business-card>
							<company-business-card companyinfo="message.content.data" ng-show="message.content.name=='gsxx'"></company-business-card>
							<product-card productinfo="message.content.data" ng-show="message.content.name=='cpxq'"></product-card>
							<!-- 系统消息 -->
							<system-message-card systemmessage="message.content.data" ng-show="message.content.name=='xtxx'"></system-message-card>
						</div>
					</div>
				</div>
			</div>
			<div class="chat-blank-middle"></div>
			<!-- 发送数据之后，滚动到此 -->
			<div id="xuanBottom"></div>
		</div>
	</ion-content>

	<!-- 输入框 -->
	<div class="row chat-my-index-bg chat-input-box" ng-class="{'input-wrap-high' : isMore,'input-wrap' : !isMore}" ng-show="!isSystem">
		<!-- 打字 -->
		<ion-footer-bar class="row chat-input-border" ng-show="!isVoice" keyboard-attach>
			<div class="col-10 padding-b-5" ng-click="toVoice()">
				<button class="button button-icon footer-btn p-l-5" type="button">
					<i class="ion-android-microphone " style="font-size:24px"></i>
				</button>
			</div>
			<div class="chat-my-index-bg col-80 ">
				<input id="chat-msg-input" auto-blur-when="isVoice" type="text" class="chat-msg-input chat-my-index-bg" ng-model="send.newMessage" placeholder="说点什么呢..." ng-focus="foucus()" ng-blur="blur()" >
			</div>

			<div class="col-10 " ng-show="!canMore" ng-click='sendMsg()'>
				<button class="button button-icond footer-btn" type="button">
					<i class="ion-android-send" style="font-size:26px"></i>
				</button>
			</div>
			<div class="col-10 " ng-show="canMore" ng-click='More()'>
				<button class="button button-icon footer-btn p-l-5" type="button">
					<i class="ion-plus-circled" style="font-size:26px"></i>
				</button>
			</div>
		</ion-footer-bar>
		<!-- 语音 -->
		<ion-footer-bar class="row" ng-show="isVoice" keyboard-attach>
			<div class="col col-10" ng-click="isVoice=false">
				<button class="padding-none button button-icon footer-btn " type="button">
					<i class="ion-edit" style="font-size:26px"></i>
				</button>
			</div>
			<div class="col col-80" on-touch="startRecord()" on-release="stopRecord()">
				<button class="button button-full button-light chat-voice-btn ">
					按住说话
				</button>
			</div>
			<div class="col col-10" ng-show="canMore" ng-click='More()'>
				<button class="padding-none button button-icon footer-btn " type="button">
					<i class="ion-plus-circled" style="font-size:26px"></i>
				</button>
			</div>
		</ion-footer-bar>
	</div>

	<!-- 更多功能 -->
	<div class="text-center chat-my-index" ng-show="isMore" style="bottom:0">
		<div class="row chat-box">
			<div class="col col-25" on-tap="sendNameCard()">
				<img class="chat-icon" src="img/contant-grmp.png">
				<p class="chat-small-desc">个人名片</p>
			</div>
			<div class="col col-25" on-tap="sendCompanyDetail()">
				<img class="chat-icon" src="img/contant-qyjj.png">
				<p class="chat-small-desc">公司信息</p>
			</div>
			<div class="col col-25" on-tap="chooseProduct()">
				<img class="chat-icon" src="img/contant-cpxq.png">
				<p class="chat-small-desc">产品详情</p>
			</div>
			<div class="col col-25" on-tap="takePhoto()">
				<img class="chat-icon" src="img/contant-pz.png">
				<p class="chat-small-desc">拍照</p>
			</div>
		</div>
		<div class="row chat-box">
			<div class="col col-25" on-tap="sendPicture()">
				<img class="chat-icon" src="img/contant-tp.png">
				<p class="chat-small-desc">图片</p>
			</div>
		</div>
	</div>

	<!-- 录音遮罩层 -->
	<div class="chat-cover" id="recordWrap" style="display:none">
		<div class="chat-recording active">
			<i></i>
			<i></i>
			<i></i>
			<i></i>
			<i></i>
			<i></i>
		</div>
	</div>

	<!-- 图片放大预览 -->
	<div class="chat-image-cover" ng-show="isImageShow" ng-click="isImageShow=false">
		<div ng-click="isImageShow=false" style="background: url('{{isrc}}');height: 100%;background-size:contain;background-position:center;background-repeat: no-repeat"></div>
	</div>
</ion-view>