<ion-view view-title="留言" ng-controller="ContactCommentListCtrl">

	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset color-white" ng-click="myBack()">
			<span>
				<i class="ion-chevron-left color-blue"></i>
			</span>
		</div>
		<h1 class="title fontsize-16 color-black">留言</h1>

	</ion-header-bar>
	<ion-content class="has-header">
	<div class="list">
		<a ng-repeat="item in commentList" class="item item-avatar item-icon-right" ng-click="toItem(item)">
			<img ng-src="{{path+item.one_inch_photo_url}}" err-src="img/icon_emptyPeron.png">
			<h2>{{item.cre_user_name}}&nbsp;&nbsp;
				<span ng-if="!item.status"><i class="ion-android-mail fontsize-16 color-blue"></i></span>
				<!-- <span ng-if="item.status"><i class="ion-android-drafts fontsize-16"></i></span> -->
			</h2> 
			<p>
				<span class="item-note" style="float:none">{{item.message_content}}</span>
			</p>
			<p>
				<span class="item-note" style="float:none;font-size: 80%;">{{item.cre_time}}</span>
			</p>
		</a>
	</div>
	</ion-content>
</ion-view>