<ion-view view-title="产品列表" ng-controller="ChatProductCtrl">
	<ion-header-bar align-title="center" class="bar-light">
		<div class="item-input-inset col-20 text-center" ng-click="myGoBack()">
			<span>
				<i class="ion-chevron-left"></i>
			</span>
		</div>
		<h1 class="title">产品列表</h1>
		<div class="buttons" ng-click="confirmSelectProduct()">
			<div class="item-input-inset">
				<a style="color:#fff">确认</a>
			</div>
		</div>
	</ion-header-bar>
	<ion-content class="has-header bg-dark">
		<div class="list">
			<div ng-if="productList.length > 0" ng-repeat="item in productList" class="item item-thumbnail-left item-icon-right" ng-click="updateSelection($index, productList)" >
				<img ng-src="{{commonPath.route_path + commonPath.service_thumb_path + item.com_service_thumb[0]}}" err-src="img/icon_emptyPeron.png">
				<h2>{{item.com_service_name}}</h2>
				<p>{{item.com_service_des}}</p>
				<label class="checkbox icon">
					<input type="checkbox" name="material" ng-model="item.checked">
				</label>
			</div>
			<div ng-if="productList.length == 0" class="item">
				暂无数据
			</div>
		</div>
		<ion-infinite-scroll ng-if="!productIsEmptyData" on-infinite="getProductList()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>