<div class="list card chat-card" >
	<a ui-sref="commsgBusinessProduct({com_service_id:productinfo.id,from:'chat'})">
		<div class="item item-divider"><span class="item-note" style="font-size:10px;float:none">产品简介</span></div>
		<div class="item item-avatar">
			<img style="border-radius:0" ng-src="{{productinfo.thumb}}" err-src="img/icon_emptyPeron.png" />
			<h2>{{productinfo.title}}</h2>
			<p style="white-space:normal;" class="fontsize-12">{{productinfo.com_name}}</p>
		</div>
	</a> 
</div>