<div class="list card chat-card" >
	<a>
		<div class="item item-divider">
			<span class="item-note" style="font-size:10px;float:none" ng-if="systemmessage.type==1">会议室预订</span>
			<span class="item-note" style="font-size:10px;float:none" ng-if="systemmessage.type==2">入驻咨询</span>
			<span class="item-note" style="font-size:10px;float:none" ng-if="systemmessage.type==3">加班登记</span>
			<span class="item-note" style="font-size:10px;float:none" ng-if="systemmessage.type==4">意见与投诉</span>
			<span class="item-note" style="font-size:10px;float:none" ng-if="systemmessage.type==5">预约入场</span>
		</div>
		<div class="item">
			<h2>{{systemmessage.store_name}}</h2>
			<p class="fontsize-12" style="white-space:normal;">
				<span ng-if="systemmessage.type==1">{{systemmessage.people_number}}&#12288;人<br>{{systemmessage.appointment_time}}&#12288;{{systemmessage.start_time}}~{{systemmessage.end_time}}</span>
				<span ng-if="systemmessage.type==2">{{systemmessage.user_name}}&#12288;{{systemmessage.phone_number}}<br>{{systemmessage.description}}</span>
				<span ng-if="systemmessage.type==3">{{systemmessage.people_number}}&#12288;人<br>{{systemmessage.overtime_time}}&#12288;{{systemmessage.start_time}}~{{systemmessage.end_time}}加班</span>
				<span ng-if="systemmessage.type==4">{{systemmessage.user_name}}<br>{{systemmessage.content}}</span>
				<span ng-if="systemmessage.type==5">{{systemmessage.appointment_time}}<br>{{systemmessage.user_name}}&#12288;{{systemmessage.phone_number}}</span>
			</p>
		</div>
	</a>
</div>