<style type="text/css">

	.blue {
		background-color: blue;
	}

	.yellow {
		background-color: yellow;
	}

	.pink {
		background-color: pink;
	}
	.start-page{
		height:100%;
		text-align: center;
	}
	.slider-pager{
		bottom: 110px;
	}
	.customer-button {
		height: 50px;
		width: 45%;
		background: none;
		border: 1px #fff solid;
		color: #fff;
		font-size: 16px;
		border-radius: 5px;
	}
	.customer-div {
		width: 100%;
		position: absolute;
		bottom: 40px;
	}
</style>
<ion-view view-title="个人信息" ng-controller="startCtrl">
		<ion-slide-box active-slide="myActiveSlide" style="height:100%">
 			<ion-slide>
				<div class="start-page" style="background-image:url('img/start_01.png');background-repeat:no-repeat;background-position:center;background-size:cover">
			</div>
			</ion-slide>
			<ion-slide>
				<div class="start-page" style="background:url('img/start_02.png');background-repeat:no-repeat;background-position:center;background-size:cover">
			</div>
			</ion-slide>
			<ion-slide>
				<div class="start-page" style="background:url('img/start_03.png');background-repeat:no-repeat;background-position:center;background-size:cover">
				<!-- <button class="button button-positive button-block" ui-sref="tab.business" style="position:absolute;bottom:50px;">登岛办公</button> -->
				<div class="customer-div">
				  <button class="button button-block button-green button-regist xkd-butShodow" ui-sref="login(tab.active=='1')">登录</button>
				  <div class="button-regist" style="width: 80% !important;">
				     <a class="pull-left" ui-sref="login(tab.active=='2')">注册</a>
				     <a class="pull-right heroBlue" ng-click="guest()">随便看看</a>
				  </div>
				<!-- <button class="customer-button" style="inline-block" ui-sref="login(tab.active=='2')">注册</button>
				<button class="customer-button" style="inline-block" ui-sref="login(tab.active=='1')">登录</button> -->
				</div>
			</div>
			</ion-slide>
		</ion-slide-box>
</ion-view>
